<html>
<h1> NumMobility Spatial Features </h1>

<p align='justify'>
    This Jupyter notebook contains the examples of all the
    spatial features available in NumMobility library.
    <br>
    <br>
    The notebook makes the use of three different datasets each
    with different number of trajectory ids. This way the
    running time of each feature is tested accordingly.
    With the increase in the number of Trajectory ids, the
    differences in running time are reflected as the code
    utilizes all the available CPU cores of the computer for
    parallel computation of features thus making these features
    faster than the other comparable libraries providing the same
    functionalities.
</p>

<hr>

<p align='justify'>
In this Jupyter Notebook containing Spatial examples, the following
datasets are used:
    <ul>
        <li> <a href="https://github.com/YakshHaranwala/NumMobility/blob/main/examples/data/geolife_sample.csv" target="_blank"> Geolife Sample </a> </li>
        <li> <a href="https://github.com/YakshHaranwala/NumMobility/blob/main/examples/data/gulls.csv" target="_blank"> Seagulls Dataset </a> </li>
        <li> <a href="https://github.com/YakshHaranwala/NumMobility/blob/main/examples/data/atlantic.csv" target="_blank"> Hurricane Dataset </a> </li>
    </ul>
</p>

<hr>
<p align='justify'>
Note: Viewing this notebook in GitHub will not render JavaScript
elements. Hence, for a better experience, click the link below
to open the Jupyter notebook in NB viewer.

<span> &#8618; </span>
<a href="https://nbviewer.jupyter.org/github/YakshHaranwala/NumMobility/blob/main/examples/2.%20spatial_examples.ipynb" target='_blank'> Click Here </a>
</p>
</html>

In [1]:
# First, lets import all the necessary modules that are required
# for the functioning of the code contained in the jupyter notebook.

import numpy as np
from Nummobility.core.TrajectoryDF import NumPandasTraj as NumTrajDF
from Nummobility.features.spatial_features import SpatialFeatures as spatial
from Nummobility.utilities.conversions import Conversions as con
import pandas as pd
import time
np.seterr(invalid='ignore')
start = time.time()

In [2]:
%%time
"""
    First of all, lets import all the datasets one by one
    and check out a few of their points.
"""
# Reading the geolife dataset and converting to NumPandasTraj.
# Also, lets, print the first 5 points of the dataset to
# see how the dataframe looks.
geolife = pd.read_csv('./data/geolife_sample.csv')
geolife = NumTrajDF(geolife,'lat','lon','datetime','id')
geolife.head()

CPU times: user 529 ms, sys: 43.8 ms, total: 573 ms
Wall time: 572 ms

                                   lat         lon
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402
        2008-10-23 05:53:16  39.984211  116.319389
        2008-10-23 05:53:21  39.984217  116.319422
        2008-10-23 05:53:23  39.984710  116.319865
        2008-10-23 05:53:28  39.984674  116.319810

In [3]:
%%time

# Reading the gulls dataset and converting to NumPandasTraj.
# Also, lets, print the first 5 points of the dataset to
# see how the dataframe looks.
gulls = pd.read_csv('./data/gulls.csv')
gulls = NumTrajDF(gulls,
                 latitude='location-lat',
                 longitude='location-long',
                 datetime='timestamp',
                 traj_id='tag-local-identifier',
                 rest_of_columns=[])
gulls.head()

CPU times: user 293 ms, sys: 8.09 ms, total: 301 ms
Wall time: 300 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

In [4]:
%%time
'''
    1. Reading the atlantic dataset, cleaning it up and then
       converting it to NumPandasTraj.
    2. It is to be noted that apart from reading the dataset,
       before converting to NumPandasTraj, the dataframe needs
       some cleanup as the Time format provided in the dataframe
       needs to be first converted into a library supported time
       format. Also, the format of the coordinates need to be
       converted to library supported format before converting'
       it to NumPandasTraj.
    3. Also, lets, print the first 5 points of the dataset to
      see how the dataframe looks.
'''
atlantic = pd.read_csv('./data/atlantic.csv')
atlantic = con.convert_directions_to_degree_lat_lon(atlantic, 'Latitude',"Longitude")
def convert_to_datetime(row):
        this_date = '{}-{}-{}'.format(str(row['Date'])[0:4], str(row['Date'])[4:6], str(row['Date'])[6:])
        this_time = '{:02d}:{:02d}:00'.format(int(row['Time']/100), int(str(row['Time'])[-2:]))
        return '{} {}'.format(this_date, this_time)
atlantic['DateTime'] = atlantic.apply(convert_to_datetime, axis=1)
atlantic = NumTrajDF(atlantic,
                         latitude='Latitude',
                         longitude='Longitude',
                         datetime='DateTime',
                         traj_id='ID',
                         rest_of_columns=[])
atlantic.head()

CPU times: user 9.1 s, sys: 68.2 ms, total: 9.17 s
Wall time: 9.17 s

                                             Name      Date  Time Event  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              UNNAMED  18510625     0
         1851-06-25 06:00:00              UNNAMED  18510625   600
         1851-06-25 12:00:00              UNNAMED  18510625  1200
         1851-06-25 18:00:00              UNNAMED  18510625  1800
         1851-06-25 21:00:00              UNNAMED  18510625  2100     L

                             Status   lat   lon  Maximum Wind  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00     HU  28.0 -94.8            80
         1851-06-25 06:00:00     HU  28.0 -95.4            80
         1851-06-25 12:00:00     HU  28.0 -96.0            80
         1851-06-25 18:00:00     HU  28.1 -96.5            80
         1851-06-25 21:00:00     HU  28.2 -96.8            80

                              Minimum Pressure  Low Wind NE  ...  Low Wind SW  \
traj_id  DateTime                                            ...
AL011851 1851-06-25 00:00:00              -999         -999  ...         -999
         1851-06-25 06:00:00              -999         -999  ...         -999
         1851-06-25 12:00:00              -999         -999  ...         -999
         1851-06-25 18:00:00              -999         -999  ...         -999
         1851-06-25 21:00:00              -999         -999  ...         -999

                              Low Wind NW  Moderate Wind NE  Moderate Wind SE  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00         -999              -999              -999
         1851-06-25 06:00:00         -999              -999              -999
         1851-06-25 12:00:00         -999              -999              -999
         1851-06-25 18:00:00         -999              -999              -999
         1851-06-25 21:00:00         -999              -999              -999

                              Moderate Wind SW  Moderate Wind NW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              -999              -999
         1851-06-25 06:00:00              -999              -999
         1851-06-25 12:00:00              -999              -999
         1851-06-25 18:00:00              -999              -999
         1851-06-25 21:00:00              -999              -999

                              High Wind NE  High Wind SE  High Wind SW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999          -999          -999
         1851-06-25 06:00:00          -999          -999          -999
         1851-06-25 12:00:00          -999          -999          -999
         1851-06-25 18:00:00          -999          -999          -999
         1851-06-25 21:00:00          -999          -999          -999

                              High Wind NW
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999
         1851-06-25 06:00:00          -999
         1851-06-25 12:00:00          -999
         1851-06-25 18:00:00          -999
         1851-06-25 21:00:00          -999

[5 rows x 21 columns]

In [5]:
%%time

# Now, lets get the bounding boxes of all the dataframes.
print(spatial.get_bounding_box(geolife))
print(spatial.get_bounding_box(gulls))
print(spatial.get_bounding_box(atlantic))

(22.147577, 113.548843, 41.132062, 121.156224)
(-62.71617, 4.02517, 65.2325, 103.19317)
(7.2, -109.5, 81.0, 63.0)
CPU times: user 8.08 ms, sys: 1e+03 ns, total: 8.08 ms
Wall time: 5.66 ms

In [6]:
%%time

# Now, lets get the start times of all the dataframes without
# giving a traj_id.
print(spatial.get_start_location(geolife))
print(spatial.get_start_location(gulls))
print(spatial.get_start_location(atlantic))

               lat         lon
traj_id
1        39.984224  116.319402
5        40.004155  116.321337
              lat       lon
traj_id
91785    64.98267  35.74300
91769    54.18433   7.91283
91797    64.96767  35.73650
91843    55.42533  49.34817
91913    64.97850  35.72667
...           ...       ...
91814    55.43233  49.34283
91763    62.78917  28.76983
91823    54.18600   7.91867
91752    62.40617  29.46983
91916    54.18533   7.91500

[126 rows x 2 columns]
           lat   lon
traj_id
AL011855  22.2 -98.0
AL031855  12.5 -83.0
AL011853  32.5 -69.0
AL011870  30.5 -88.0
AL081867  17.5 -62.8
...        ...   ...
AL041926  13.8 -41.2
AL142012  15.5 -38.0
AL201969  16.0 -47.0
AL141971  25.5 -71.5
AL031899  11.7 -31.0

[1814 rows x 2 columns]
CPU times: user 562 ms, sys: 338 ms, total: 901 ms
Wall time: 5.46 s

In [7]:
%%time

# Now lets check the start times of all dataframes with a
# traj_id.
print(spatial.get_start_location(geolife, '1'))
print(spatial.get_start_location(gulls, "91732"))
print(spatial.get_start_location(atlantic, 'AL011851'))

(39.984224, 116.319402)
(61.24783, 24.58617)
(28.0, -94.8)
CPU times: user 78.4 ms, sys: 7.94 ms, total: 86.3 ms
Wall time: 83.8 ms

In [8]:
%%time

# Now, lets get the start times of all the dataframes without
# giving a traj_id.
print(spatial.get_end_location(geolife))
print(spatial.get_end_location(gulls))
print(spatial.get_end_location(atlantic))

               lat         lon
traj_id
1        39.977879  116.326628
5        39.999978  116.327460
              lat       lon
traj_id
91785    64.98267  35.74300
91769    54.18417   7.91350
91797    64.96767  35.73633
91843    55.43533  49.36383
91913    64.96700  35.74083
...           ...       ...
91814    -1.79117  32.80583
91763     6.97833  29.51200
91823    61.31100  24.57767
91752     8.06067  38.85033
91916    56.56600  21.19633

[126 rows x 2 columns]
           lat   lon
traj_id
AL011855  22.2 -98.0
AL031855  12.5 -83.0
AL011853  32.5 -69.0
AL011870  30.5 -88.0
AL081867  17.5 -62.8
...        ...   ...
AL041926  58.2 -49.2
AL142012  37.6 -29.1
AL201969  26.1 -61.6
AL141971  35.7 -69.9
AL031899  49.0 -15.5

[1814 rows x 2 columns]
CPU times: user 521 ms, sys: 332 ms, total: 853 ms
Wall time: 5.38 s

In [9]:
%%time

# Now lets check the start times of all dataframes with a traj_id.
print(spatial.get_end_location(geolife, '1'))
print(spatial.get_end_location(gulls, "91732"))
print(spatial.get_end_location(atlantic, 'AL011851'))

(39.977879, 116.326628)
(31.09783, 29.81217)
(31.0, -100.2)
CPU times: user 129 ms, sys: 2 µs, total: 129 ms
Wall time: 126 ms

In [10]:
%%time

# Now, lets calculate the distance between 2 consecutive points for
# each dataset one by one.
# First, we will check the distances between 2 consecutive points
# in the geolife dataset.
geolife = spatial.create_distance_between_consecutive_column(geolife)
geolife.head(10)

CPU times: user 344 ms, sys: 8.21 ms, total: 353 ms
Wall time: 350 ms

                                   lat         lon  Distance_prev_to_curr
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402                    NaN
        2008-10-23 05:53:16  39.984211  116.319389               1.821083
        2008-10-23 05:53:21  39.984217  116.319422               2.889671
        2008-10-23 05:53:23  39.984710  116.319865              66.555997
        2008-10-23 05:53:28  39.984674  116.319810               6.162987
        2008-10-23 05:53:33  39.984623  116.319773               6.488225
        2008-10-23 05:53:38  39.984606  116.319732               3.971848
        2008-10-23 05:53:43  39.984555  116.319728               5.681172
        2008-10-23 05:53:48  39.984579  116.319769               4.395924
        2008-10-23 05:53:51  39.984579  116.319769               0.000000

In [11]:
%%time

# # Here, we check the distance between 2 consecutive points
# # in the seagulls dataset.
gulls = spatial.create_distance_between_consecutive_column(gulls)
gulls.head()

CPU times: user 230 ms, sys: 81.2 ms, total: 312 ms
Wall time: 613 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name  \
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

                             Distance_prev_to_curr
traj_id DateTime
91732   2009-05-27 14:00:00                    NaN
        2009-05-27 20:00:00            1699.244398
        2009-05-28 05:00:00            5632.120064
        2009-05-28 08:00:00            5643.314949
        2009-05-28 14:00:00              32.131494

In [12]:
%%time

# Here, we check the distance between 2 consecutive points
# in the atlantic dataset.
atlantic = spatial.create_distance_between_consecutive_column(atlantic)
atlantic.head()

CPU times: user 310 ms, sys: 76.6 ms, total: 387 ms
Wall time: 724 ms

                                             Name      Date  Time Event  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              UNNAMED  18510625     0
         1851-06-25 06:00:00              UNNAMED  18510625   600
         1851-06-25 12:00:00              UNNAMED  18510625  1200
         1851-06-25 18:00:00              UNNAMED  18510625  1800
         1851-06-25 21:00:00              UNNAMED  18510625  2100     L

                             Status   lat   lon  Maximum Wind  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00     HU  28.0 -94.8            80
         1851-06-25 06:00:00     HU  28.0 -95.4            80
         1851-06-25 12:00:00     HU  28.0 -96.0            80
         1851-06-25 18:00:00     HU  28.1 -96.5            80
         1851-06-25 21:00:00     HU  28.2 -96.8            80

                              Minimum Pressure  Low Wind NE  ...  Low Wind NW  \
traj_id  DateTime                                            ...
AL011851 1851-06-25 00:00:00              -999         -999  ...         -999
         1851-06-25 06:00:00              -999         -999  ...         -999
         1851-06-25 12:00:00              -999         -999  ...         -999
         1851-06-25 18:00:00              -999         -999  ...         -999
         1851-06-25 21:00:00              -999         -999  ...         -999

                              Moderate Wind NE  Moderate Wind SE  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              -999              -999
         1851-06-25 06:00:00              -999              -999
         1851-06-25 12:00:00              -999              -999
         1851-06-25 18:00:00              -999              -999
         1851-06-25 21:00:00              -999              -999

                              Moderate Wind SW  Moderate Wind NW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              -999              -999
         1851-06-25 06:00:00              -999              -999
         1851-06-25 12:00:00              -999              -999
         1851-06-25 18:00:00              -999              -999
         1851-06-25 21:00:00              -999              -999

                              High Wind NE  High Wind SE  High Wind SW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999          -999          -999
         1851-06-25 06:00:00          -999          -999          -999
         1851-06-25 12:00:00          -999          -999          -999
         1851-06-25 18:00:00          -999          -999          -999
         1851-06-25 21:00:00          -999          -999          -999

                              High Wind NW  Distance_prev_to_curr
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999                    NaN
         1851-06-25 06:00:00          -999           58907.516366
         1851-06-25 12:00:00          -999           58907.516366
         1851-06-25 18:00:00          -999           50310.976622
         1851-06-25 21:00:00          -999           31444.370265

[5 rows x 22 columns]

In [13]:
%%time

# Now, lets calculate the distance from start to current point for
# each dataset one by one.
# Here, we check the distance between start to all points
# in the geolife dataset.

geolife = spatial.create_distance_from_start_column(geolife)
geolife.head()

CPU times: user 251 ms, sys: 15.9 ms, total: 267 ms
Wall time: 265 ms

                                   lat         lon  Distance_prev_to_curr  \
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402                    NaN
        2008-10-23 05:53:16  39.984211  116.319389               1.821083
        2008-10-23 05:53:21  39.984217  116.319422               2.889671
        2008-10-23 05:53:23  39.984710  116.319865              66.555997
        2008-10-23 05:53:28  39.984674  116.319810               6.162987

                             Distance_start_to_curr
traj_id DateTime
1       2008-10-23 05:53:11                     NaN
        2008-10-23 05:53:16                1.821083
        2008-10-23 05:53:21                1.873356
        2008-10-23 05:53:23               66.906656
        2008-10-23 05:53:28               60.927269

In [14]:
%%time

# Here, we check the distance between start to all points
# in the seagulls dataset.
gulls = spatial.create_distance_from_start_column(gulls)
gulls.head()

CPU times: user 163 ms, sys: 60.6 ms, total: 224 ms
Wall time: 447 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name  \
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

                             Distance_prev_to_curr  Distance_start_to_curr
traj_id DateTime
91732   2009-05-27 14:00:00                    NaN                     NaN
        2009-05-27 20:00:00            1699.244398             1699.244398
        2009-05-28 05:00:00            5632.120064             7238.295521
        2009-05-28 08:00:00            5643.314949             1682.777895
        2009-05-28 14:00:00              32.131494             1697.111327

In [15]:
%%time

# Here, we check the distance between start to all points
# in the atlantic dataset.
atlantic = spatial.create_distance_from_start_column(atlantic)
atlantic.head()

CPU times: user 288 ms, sys: 65 ms, total: 353 ms
Wall time: 819 ms

                                             Name      Date  Time Event  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              UNNAMED  18510625     0
         1851-06-25 06:00:00              UNNAMED  18510625   600
         1851-06-25 12:00:00              UNNAMED  18510625  1200
         1851-06-25 18:00:00              UNNAMED  18510625  1800
         1851-06-25 21:00:00              UNNAMED  18510625  2100     L

                             Status   lat   lon  Maximum Wind  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00     HU  28.0 -94.8            80
         1851-06-25 06:00:00     HU  28.0 -95.4            80
         1851-06-25 12:00:00     HU  28.0 -96.0            80
         1851-06-25 18:00:00     HU  28.1 -96.5            80
         1851-06-25 21:00:00     HU  28.2 -96.8            80

                              Minimum Pressure  Low Wind NE  ...  \
traj_id  DateTime                                            ...
AL011851 1851-06-25 00:00:00              -999         -999  ...
         1851-06-25 06:00:00              -999         -999  ...
         1851-06-25 12:00:00              -999         -999  ...
         1851-06-25 18:00:00              -999         -999  ...
         1851-06-25 21:00:00              -999         -999  ...

                              Moderate Wind NE  Moderate Wind SE  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              -999              -999
         1851-06-25 06:00:00              -999              -999
         1851-06-25 12:00:00              -999              -999
         1851-06-25 18:00:00              -999              -999
         1851-06-25 21:00:00              -999              -999

                              Moderate Wind SW  Moderate Wind NW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              -999              -999
         1851-06-25 06:00:00              -999              -999
         1851-06-25 12:00:00              -999              -999
         1851-06-25 18:00:00              -999              -999
         1851-06-25 21:00:00              -999              -999

                              High Wind NE  High Wind SE  High Wind SW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999          -999          -999
         1851-06-25 06:00:00          -999          -999          -999
         1851-06-25 12:00:00          -999          -999          -999
         1851-06-25 18:00:00          -999          -999          -999
         1851-06-25 21:00:00          -999          -999          -999

                              High Wind NW  Distance_prev_to_curr  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999                    NaN
         1851-06-25 06:00:00          -999           58907.516366
         1851-06-25 12:00:00          -999           58907.516366
         1851-06-25 18:00:00          -999           50310.976622
         1851-06-25 21:00:00          -999           31444.370265

                              Distance_start_to_curr
traj_id  DateTime
AL011851 1851-06-25 00:00:00                     NaN
         1851-06-25 06:00:00            58907.516366
         1851-06-25 12:00:00           117814.676769
         1851-06-25 18:00:00           167196.061925
         1851-06-25 21:00:00           197430.193137

[5 rows x 23 columns]

In [16]:
%%time

# Here, we are calculating the distance travelled in traj_id 1
# on the date 2008-10-23.
spatial.get_distance_travelled_by_date_and_traj_id(geolife,
                                                   '2008-10-23',
                                                   '1')

CPU times: user 170 ms, sys: 4.06 ms, total: 174 ms
Wall time: 172 ms

21684.31604215524

In [17]:
%%time

# Now, lets check the distance of all the points
# in the geolife dataset from the coordinates (0, 0).
geolife = spatial.create_distance_from_given_point_column(geolife,
                                                          (0, 0))
geolife.head()

CPU times: user 449 ms, sys: 128 ms, total: 578 ms
Wall time: 3.03 s

                                   lat         lon  Distance_prev_to_curr  \
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402                    NaN
        2008-10-23 05:53:16  39.984211  116.319389               1.821083
        2008-10-23 05:53:21  39.984217  116.319422               2.889671
        2008-10-23 05:53:23  39.984710  116.319865              66.555997
        2008-10-23 05:53:28  39.984674  116.319810               6.162987

                             Distance_start_to_curr  Distance_from_(0, 0)
traj_id DateTime
1       2008-10-23 05:53:11                     NaN          1.221588e+07
        2008-10-23 05:53:16                1.821083          1.221588e+07
        2008-10-23 05:53:21                1.873356          1.221588e+07
        2008-10-23 05:53:23               66.906656          1.221590e+07
        2008-10-23 05:53:28               60.927269          1.221589e+07

In [18]:
%%time

# Now, lets check if all the points in the geolife dataset
# are within 12000 KMs of the coordinates (0, 0).
geolife = spatial.create_point_within_range_column(geolife,
                                                   (0,0),
                                                   15000000)
geolife.head()

CPU times: user 358 ms, sys: 142 ms, total: 500 ms
Wall time: 2.78 s

                                   lat         lon  Distance_prev_to_curr  \
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402                    NaN
        2008-10-23 05:53:16  39.984211  116.319389               1.821083
        2008-10-23 05:53:21  39.984217  116.319422               2.889671
        2008-10-23 05:53:23  39.984710  116.319865              66.555997
        2008-10-23 05:53:28  39.984674  116.319810               6.162987

                             Distance_start_to_curr  Distance_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                     NaN          1.221588e+07
        2008-10-23 05:53:16                1.821083          1.221588e+07
        2008-10-23 05:53:21                1.873356          1.221588e+07
        2008-10-23 05:53:23               66.906656          1.221590e+07
        2008-10-23 05:53:28               60.927269          1.221589e+07

                             Within_15000000_m_from_(0, 0)
traj_id DateTime
1       2008-10-23 05:53:11                           True
        2008-10-23 05:53:16                           True
        2008-10-23 05:53:21                           True
        2008-10-23 05:53:23                           True
        2008-10-23 05:53:28                           True

In [19]:
%%time

# Now, lets calculate the speed of the object between 2
# consecutive trajectory points.
# First, we are doing in the geolife dataset.
geolife = spatial.create_speed_from_prev_column(geolife)
geolife.head()

CPU times: user 22.8 ms, sys: 0 ns, total: 22.8 ms
Wall time: 21 ms

                                   lat         lon  Distance_prev_to_curr  \
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402                    NaN
        2008-10-23 05:53:16  39.984211  116.319389               1.821083
        2008-10-23 05:53:21  39.984217  116.319422               2.889671
        2008-10-23 05:53:23  39.984710  116.319865              66.555997
        2008-10-23 05:53:28  39.984674  116.319810               6.162987

                             Distance_start_to_curr  Distance_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                     NaN          1.221588e+07
        2008-10-23 05:53:16                1.821083          1.221588e+07
        2008-10-23 05:53:21                1.873356          1.221588e+07
        2008-10-23 05:53:23               66.906656          1.221590e+07
        2008-10-23 05:53:28               60.927269          1.221589e+07

                             Within_15000000_m_from_(0, 0)  Speed_prev_to_curr
traj_id DateTime
1       2008-10-23 05:53:11                           True                 NaN
        2008-10-23 05:53:16                           True            0.364217
        2008-10-23 05:53:21                           True            0.577934
        2008-10-23 05:53:23                           True           33.277998
        2008-10-23 05:53:28                           True            1.232597

In [20]:
%%time

# Now lets calculate the speed between 2 consecutive
# points in the atlantic dataset.
atlantic = spatial.create_speed_from_prev_column(atlantic)
atlantic.head()

CPU times: user 11.6 ms, sys: 245 µs, total: 11.8 ms
Wall time: 10.4 ms

                                             Name      Date  Time Event  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              UNNAMED  18510625     0
         1851-06-25 06:00:00              UNNAMED  18510625   600
         1851-06-25 12:00:00              UNNAMED  18510625  1200
         1851-06-25 18:00:00              UNNAMED  18510625  1800
         1851-06-25 21:00:00              UNNAMED  18510625  2100     L

                             Status   lat   lon  Maximum Wind  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00     HU  28.0 -94.8            80
         1851-06-25 06:00:00     HU  28.0 -95.4            80
         1851-06-25 12:00:00     HU  28.0 -96.0            80
         1851-06-25 18:00:00     HU  28.1 -96.5            80
         1851-06-25 21:00:00     HU  28.2 -96.8            80

                              Minimum Pressure  Low Wind NE  ...  \
traj_id  DateTime                                            ...
AL011851 1851-06-25 00:00:00              -999         -999  ...
         1851-06-25 06:00:00              -999         -999  ...
         1851-06-25 12:00:00              -999         -999  ...
         1851-06-25 18:00:00              -999         -999  ...
         1851-06-25 21:00:00              -999         -999  ...

                              Moderate Wind SE  Moderate Wind SW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              -999              -999
         1851-06-25 06:00:00              -999              -999
         1851-06-25 12:00:00              -999              -999
         1851-06-25 18:00:00              -999              -999
         1851-06-25 21:00:00              -999              -999

                              Moderate Wind NW  High Wind NE  High Wind SE  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              -999          -999          -999
         1851-06-25 06:00:00              -999          -999          -999
         1851-06-25 12:00:00              -999          -999          -999
         1851-06-25 18:00:00              -999          -999          -999
         1851-06-25 21:00:00              -999          -999          -999

                              High Wind SW  High Wind NW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999          -999
         1851-06-25 06:00:00          -999          -999
         1851-06-25 12:00:00          -999          -999
         1851-06-25 18:00:00          -999          -999
         1851-06-25 21:00:00          -999          -999

                              Distance_prev_to_curr  Distance_start_to_curr  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00                    NaN                     NaN
         1851-06-25 06:00:00           58907.516366            58907.516366
         1851-06-25 12:00:00           58907.516366           117814.676769
         1851-06-25 18:00:00           50310.976622           167196.061925
         1851-06-25 21:00:00           31444.370265           197430.193137

                              Speed_prev_to_curr
traj_id  DateTime
AL011851 1851-06-25 00:00:00                 NaN
         1851-06-25 06:00:00            2.727200
         1851-06-25 12:00:00            2.727200
         1851-06-25 18:00:00            2.329212
         1851-06-25 21:00:00            2.911516

[5 rows x 24 columns]

In [21]:
%%time

# Now lets calculate the speed between 2 consecutive
# points in the seagulls dataset.
gulls = spatial.create_speed_from_prev_column(gulls)
gulls.head()

CPU times: user 13.5 ms, sys: 129 µs, total: 13.7 ms
Wall time: 12.5 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name  \
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

                             Distance_prev_to_curr  Distance_start_to_curr  \
traj_id DateTime
91732   2009-05-27 14:00:00                    NaN                     NaN
        2009-05-27 20:00:00            1699.244398             1699.244398
        2009-05-28 05:00:00            5632.120064             7238.295521
        2009-05-28 08:00:00            5643.314949             1682.777895
        2009-05-28 14:00:00              32.131494             1697.111327

                             Speed_prev_to_curr
traj_id DateTime
91732   2009-05-27 14:00:00                 NaN
        2009-05-27 20:00:00            0.078669
        2009-05-28 05:00:00            0.173831
        2009-05-28 08:00:00            0.522529
        2009-05-28 14:00:00            0.001488

In [22]:
%%time

# Now lets check the acceleration of the object
# between 2 consecutive points.
# First, lets check for the geolife dataset.
geolife = spatial.create_acceleration_from_prev_column(geolife)
geolife.head()

CPU times: user 24.7 ms, sys: 325 µs, total: 25 ms
Wall time: 23.1 ms

                                   lat         lon  Distance_prev_to_curr  \
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402                    NaN
        2008-10-23 05:53:16  39.984211  116.319389               1.821083
        2008-10-23 05:53:21  39.984217  116.319422               2.889671
        2008-10-23 05:53:23  39.984710  116.319865              66.555997
        2008-10-23 05:53:28  39.984674  116.319810               6.162987

                             Distance_start_to_curr  Distance_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                     NaN          1.221588e+07
        2008-10-23 05:53:16                1.821083          1.221588e+07
        2008-10-23 05:53:21                1.873356          1.221588e+07
        2008-10-23 05:53:23               66.906656          1.221590e+07
        2008-10-23 05:53:28               60.927269          1.221589e+07

                             Within_15000000_m_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                           True
        2008-10-23 05:53:16                           True
        2008-10-23 05:53:21                           True
        2008-10-23 05:53:23                           True
        2008-10-23 05:53:28                           True

                             Speed_prev_to_curr  Acceleration_prev_to_curr
traj_id DateTime
1       2008-10-23 05:53:11                 NaN                        NaN
        2008-10-23 05:53:16            0.364217                        NaN
        2008-10-23 05:53:21            0.577934                   0.042744
        2008-10-23 05:53:23           33.277998                  16.350032
        2008-10-23 05:53:28            1.232597                  -6.409080

In [23]:
%%time

# Now lets check the acceleration of the gulls dataset.
gulls = spatial.create_acceleration_from_prev_column(gulls)
gulls.head()

CPU times: user 18.6 ms, sys: 0 ns, total: 18.6 ms
Wall time: 16.5 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name  \
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

                             Distance_prev_to_curr  Distance_start_to_curr  \
traj_id DateTime
91732   2009-05-27 14:00:00                    NaN                     NaN
        2009-05-27 20:00:00            1699.244398             1699.244398
        2009-05-28 05:00:00            5632.120064             7238.295521
        2009-05-28 08:00:00            5643.314949             1682.777895
        2009-05-28 14:00:00              32.131494             1697.111327

                             Speed_prev_to_curr  Acceleration_prev_to_curr
traj_id DateTime
91732   2009-05-27 14:00:00                 NaN                        NaN
        2009-05-27 20:00:00            0.078669                        NaN
        2009-05-28 05:00:00            0.173831                   0.000003
        2009-05-28 08:00:00            0.522529                   0.000032
        2009-05-28 14:00:00            0.001488                  -0.000024

In [24]:
%%time

# Now lets check the acceleration of the atlantic dataset.
atlantic = spatial.create_acceleration_from_prev_column(atlantic)
atlantic.head()

CPU times: user 13.2 ms, sys: 104 µs, total: 13.3 ms
Wall time: 11.7 ms

                                             Name      Date  Time Event  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              UNNAMED  18510625     0
         1851-06-25 06:00:00              UNNAMED  18510625   600
         1851-06-25 12:00:00              UNNAMED  18510625  1200
         1851-06-25 18:00:00              UNNAMED  18510625  1800
         1851-06-25 21:00:00              UNNAMED  18510625  2100     L

                             Status   lat   lon  Maximum Wind  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00     HU  28.0 -94.8            80
         1851-06-25 06:00:00     HU  28.0 -95.4            80
         1851-06-25 12:00:00     HU  28.0 -96.0            80
         1851-06-25 18:00:00     HU  28.1 -96.5            80
         1851-06-25 21:00:00     HU  28.2 -96.8            80

                              Minimum Pressure  Low Wind NE  ...  \
traj_id  DateTime                                            ...
AL011851 1851-06-25 00:00:00              -999         -999  ...
         1851-06-25 06:00:00              -999         -999  ...
         1851-06-25 12:00:00              -999         -999  ...
         1851-06-25 18:00:00              -999         -999  ...
         1851-06-25 21:00:00              -999         -999  ...

                              Moderate Wind SW  Moderate Wind NW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              -999              -999
         1851-06-25 06:00:00              -999              -999
         1851-06-25 12:00:00              -999              -999
         1851-06-25 18:00:00              -999              -999
         1851-06-25 21:00:00              -999              -999

                              High Wind NE  High Wind SE  High Wind SW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999          -999          -999
         1851-06-25 06:00:00          -999          -999          -999
         1851-06-25 12:00:00          -999          -999          -999
         1851-06-25 18:00:00          -999          -999          -999
         1851-06-25 21:00:00          -999          -999          -999

                              High Wind NW  Distance_prev_to_curr  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999                    NaN
         1851-06-25 06:00:00          -999           58907.516366
         1851-06-25 12:00:00          -999           58907.516366
         1851-06-25 18:00:00          -999           50310.976622
         1851-06-25 21:00:00          -999           31444.370265

                              Distance_start_to_curr  Speed_prev_to_curr  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00                     NaN                 NaN
         1851-06-25 06:00:00            58907.516366            2.727200
         1851-06-25 12:00:00           117814.676769            2.727200
         1851-06-25 18:00:00           167196.061925            2.329212
         1851-06-25 21:00:00           197430.193137            2.911516

                              Acceleration_prev_to_curr
traj_id  DateTime
AL011851 1851-06-25 00:00:00                        NaN
         1851-06-25 06:00:00                        NaN
         1851-06-25 12:00:00              -2.672759e-18
         1851-06-25 18:00:00              -1.842537e-05
         1851-06-25 21:00:00               5.391703e-05

[5 rows x 25 columns]

In [25]:
%%time

# Now lets check the jerk of the object between 2 consecutive
# points.
# First, we will do it for the geolife dataset.
geolife = spatial.create_jerk_from_prev_column(geolife)
geolife.head()

CPU times: user 30.7 ms, sys: 232 µs, total: 30.9 ms
Wall time: 28.3 ms

                                   lat         lon  Distance_prev_to_curr  \
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402                    NaN
        2008-10-23 05:53:16  39.984211  116.319389               1.821083
        2008-10-23 05:53:21  39.984217  116.319422               2.889671
        2008-10-23 05:53:23  39.984710  116.319865              66.555997
        2008-10-23 05:53:28  39.984674  116.319810               6.162987

                             Distance_start_to_curr  Distance_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                     NaN          1.221588e+07
        2008-10-23 05:53:16                1.821083          1.221588e+07
        2008-10-23 05:53:21                1.873356          1.221588e+07
        2008-10-23 05:53:23               66.906656          1.221590e+07
        2008-10-23 05:53:28               60.927269          1.221589e+07

                             Within_15000000_m_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                           True
        2008-10-23 05:53:16                           True
        2008-10-23 05:53:21                           True
        2008-10-23 05:53:23                           True
        2008-10-23 05:53:28                           True

                             Speed_prev_to_curr  Acceleration_prev_to_curr  \
traj_id DateTime
1       2008-10-23 05:53:11                 NaN                        NaN
        2008-10-23 05:53:16            0.364217                        NaN
        2008-10-23 05:53:21            0.577934                   0.042744
        2008-10-23 05:53:23           33.277998                  16.350032
        2008-10-23 05:53:28            1.232597                  -6.409080

                             jerk_prev_to_curr
traj_id DateTime
1       2008-10-23 05:53:11                NaN
        2008-10-23 05:53:16                NaN
        2008-10-23 05:53:21                NaN
        2008-10-23 05:53:23           8.153644
        2008-10-23 05:53:28          -4.551822

In [26]:
%%time

# Now lets check the jerk for the atlantic dataset.
atlantic = spatial.create_jerk_from_prev_column(atlantic)
atlantic.head()

CPU times: user 14.9 ms, sys: 0 ns, total: 14.9 ms
Wall time: 12.7 ms

                                             Name      Date  Time Event  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              UNNAMED  18510625     0
         1851-06-25 06:00:00              UNNAMED  18510625   600
         1851-06-25 12:00:00              UNNAMED  18510625  1200
         1851-06-25 18:00:00              UNNAMED  18510625  1800
         1851-06-25 21:00:00              UNNAMED  18510625  2100     L

                             Status   lat   lon  Maximum Wind  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00     HU  28.0 -94.8            80
         1851-06-25 06:00:00     HU  28.0 -95.4            80
         1851-06-25 12:00:00     HU  28.0 -96.0            80
         1851-06-25 18:00:00     HU  28.1 -96.5            80
         1851-06-25 21:00:00     HU  28.2 -96.8            80

                              Minimum Pressure  Low Wind NE  ...  \
traj_id  DateTime                                            ...
AL011851 1851-06-25 00:00:00              -999         -999  ...
         1851-06-25 06:00:00              -999         -999  ...
         1851-06-25 12:00:00              -999         -999  ...
         1851-06-25 18:00:00              -999         -999  ...
         1851-06-25 21:00:00              -999         -999  ...

                              Moderate Wind NW  High Wind NE  High Wind SE  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              -999          -999          -999
         1851-06-25 06:00:00              -999          -999          -999
         1851-06-25 12:00:00              -999          -999          -999
         1851-06-25 18:00:00              -999          -999          -999
         1851-06-25 21:00:00              -999          -999          -999

                              High Wind SW  High Wind NW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999          -999
         1851-06-25 06:00:00          -999          -999
         1851-06-25 12:00:00          -999          -999
         1851-06-25 18:00:00          -999          -999
         1851-06-25 21:00:00          -999          -999

                              Distance_prev_to_curr  Distance_start_to_curr  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00                    NaN                     NaN
         1851-06-25 06:00:00           58907.516366            58907.516366
         1851-06-25 12:00:00           58907.516366           117814.676769
         1851-06-25 18:00:00           50310.976622           167196.061925
         1851-06-25 21:00:00           31444.370265           197430.193137

                              Speed_prev_to_curr  Acceleration_prev_to_curr  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00                 NaN                        NaN
         1851-06-25 06:00:00            2.727200                        NaN
         1851-06-25 12:00:00            2.727200              -2.672759e-18
         1851-06-25 18:00:00            2.329212              -1.842537e-05
         1851-06-25 21:00:00            2.911516               5.391703e-05

                              jerk_prev_to_curr
traj_id  DateTime
AL011851 1851-06-25 00:00:00                NaN
         1851-06-25 06:00:00                NaN
         1851-06-25 12:00:00                NaN
         1851-06-25 18:00:00      -8.530263e-10
         1851-06-25 21:00:00       6.698370e-09

[5 rows x 26 columns]

In [27]:
%%time

# Now, lets check the jerk for the seagulls dataset.
gulls = spatial.create_jerk_from_prev_column(gulls)
gulls.head()

CPU times: user 19.6 ms, sys: 0 ns, total: 19.6 ms
Wall time: 17.9 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name  \
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

                             Distance_prev_to_curr  Distance_start_to_curr  \
traj_id DateTime
91732   2009-05-27 14:00:00                    NaN                     NaN
        2009-05-27 20:00:00            1699.244398             1699.244398
        2009-05-28 05:00:00            5632.120064             7238.295521
        2009-05-28 08:00:00            5643.314949             1682.777895
        2009-05-28 14:00:00              32.131494             1697.111327

                             Speed_prev_to_curr  Acceleration_prev_to_curr  \
traj_id DateTime
91732   2009-05-27 14:00:00                 NaN                        NaN
        2009-05-27 20:00:00            0.078669                        NaN
        2009-05-28 05:00:00            0.173831                   0.000003
        2009-05-28 08:00:00            0.522529                   0.000032
        2009-05-28 14:00:00            0.001488                  -0.000024

                             jerk_prev_to_curr
traj_id DateTime
91732   2009-05-27 14:00:00                NaN
        2009-05-27 20:00:00                NaN
        2009-05-28 05:00:00                NaN
        2009-05-28 08:00:00       2.717572e-09
        2009-05-28 14:00:00      -2.611536e-09

In [28]:
%%time

# Now lets check the bearing between 2 consecutive
# points.
# First, we will do it for the geolife dataset.
geolife = spatial.create_bearing_column(geolife)
geolife.head()

CPU times: user 285 ms, sys: 7.57 ms, total: 292 ms
Wall time: 290 ms

                                   lat         lon  Distance_prev_to_curr  \
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402                    NaN
        2008-10-23 05:53:16  39.984211  116.319389               1.821083
        2008-10-23 05:53:21  39.984217  116.319422               2.889671
        2008-10-23 05:53:23  39.984710  116.319865              66.555997
        2008-10-23 05:53:28  39.984674  116.319810               6.162987

                             Distance_start_to_curr  Distance_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                     NaN          1.221588e+07
        2008-10-23 05:53:16                1.821083          1.221588e+07
        2008-10-23 05:53:21                1.873356          1.221588e+07
        2008-10-23 05:53:23               66.906656          1.221590e+07
        2008-10-23 05:53:28               60.927269          1.221589e+07

                             Within_15000000_m_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                           True
        2008-10-23 05:53:16                           True
        2008-10-23 05:53:21                           True
        2008-10-23 05:53:23                           True
        2008-10-23 05:53:28                           True

                             Speed_prev_to_curr  Acceleration_prev_to_curr  \
traj_id DateTime
1       2008-10-23 05:53:11                 NaN                        NaN
        2008-10-23 05:53:16            0.364217                        NaN
        2008-10-23 05:53:21            0.577934                   0.042744
        2008-10-23 05:53:23           33.277998                  16.350032
        2008-10-23 05:53:28            1.232597                  -6.409080

                             jerk_prev_to_curr  Bearing_between_consecutive
traj_id DateTime
1       2008-10-23 05:53:11                NaN                          NaN
        2008-10-23 05:53:16                NaN                   217.460115
        2008-10-23 05:53:21                NaN                    76.651056
        2008-10-23 05:53:23           8.153644                    34.547615
        2008-10-23 05:53:28          -4.551822                   229.494179

In [29]:
%%time

# Now lets check the bearing for the atlantic dataset.
atlantic = spatial.create_bearing_column(atlantic)
atlantic.head()

CPU times: user 298 ms, sys: 111 ms, total: 409 ms
Wall time: 919 ms

                                             Name      Date  Time Event  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              UNNAMED  18510625     0
         1851-06-25 06:00:00              UNNAMED  18510625   600
         1851-06-25 12:00:00              UNNAMED  18510625  1200
         1851-06-25 18:00:00              UNNAMED  18510625  1800
         1851-06-25 21:00:00              UNNAMED  18510625  2100     L

                             Status   lat   lon  Maximum Wind  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00     HU  28.0 -94.8            80
         1851-06-25 06:00:00     HU  28.0 -95.4            80
         1851-06-25 12:00:00     HU  28.0 -96.0            80
         1851-06-25 18:00:00     HU  28.1 -96.5            80
         1851-06-25 21:00:00     HU  28.2 -96.8            80

                              Minimum Pressure  Low Wind NE  ...  \
traj_id  DateTime                                            ...
AL011851 1851-06-25 00:00:00              -999         -999  ...
         1851-06-25 06:00:00              -999         -999  ...
         1851-06-25 12:00:00              -999         -999  ...
         1851-06-25 18:00:00              -999         -999  ...
         1851-06-25 21:00:00              -999         -999  ...

                              High Wind NE  High Wind SE  High Wind SW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999          -999          -999
         1851-06-25 06:00:00          -999          -999          -999
         1851-06-25 12:00:00          -999          -999          -999
         1851-06-25 18:00:00          -999          -999          -999
         1851-06-25 21:00:00          -999          -999          -999

                              High Wind NW  Distance_prev_to_curr  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999                    NaN
         1851-06-25 06:00:00          -999           58907.516366
         1851-06-25 12:00:00          -999           58907.516366
         1851-06-25 18:00:00          -999           50310.976622
         1851-06-25 21:00:00          -999           31444.370265

                              Distance_start_to_curr  Speed_prev_to_curr  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00                     NaN                 NaN
         1851-06-25 06:00:00            58907.516366            2.727200
         1851-06-25 12:00:00           117814.676769            2.727200
         1851-06-25 18:00:00           167196.061925            2.329212
         1851-06-25 21:00:00           197430.193137            2.911516

                              Acceleration_prev_to_curr  jerk_prev_to_curr  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00                        NaN                NaN
         1851-06-25 06:00:00                        NaN                NaN
         1851-06-25 12:00:00              -2.672759e-18                NaN
         1851-06-25 18:00:00              -1.842537e-05      -8.530263e-10
         1851-06-25 21:00:00               5.391703e-05       6.698370e-09

                              Bearing_between_consecutive
traj_id  DateTime
AL011851 1851-06-25 00:00:00                          NaN
         1851-06-25 06:00:00                   270.140842
         1851-06-25 12:00:00                   270.140842
         1851-06-25 18:00:00                   282.886140
         1851-06-25 21:00:00                   290.779865

[5 rows x 27 columns]

In [30]:
%%time

# Now lets check the bearing for the seagulls dataset.
gulls = spatial.create_bearing_column(gulls)
gulls.head()

CPU times: user 197 ms, sys: 112 ms, total: 308 ms
Wall time: 589 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name  \
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

                             Distance_prev_to_curr  Distance_start_to_curr  \
traj_id DateTime
91732   2009-05-27 14:00:00                    NaN                     NaN
        2009-05-27 20:00:00            1699.244398             1699.244398
        2009-05-28 05:00:00            5632.120064             7238.295521
        2009-05-28 08:00:00            5643.314949             1682.777895
        2009-05-28 14:00:00              32.131494             1697.111327

                             Speed_prev_to_curr  Acceleration_prev_to_curr  \
traj_id DateTime
91732   2009-05-27 14:00:00                 NaN                        NaN
        2009-05-27 20:00:00            0.078669                        NaN
        2009-05-28 05:00:00            0.173831                   0.000003
        2009-05-28 08:00:00            0.522529                   0.000032
        2009-05-28 14:00:00            0.001488                  -0.000024

                             jerk_prev_to_curr  Bearing_between_consecutive
traj_id DateTime
91732   2009-05-27 14:00:00                NaN                          NaN
        2009-05-27 20:00:00                NaN                   187.236713
        2009-05-28 05:00:00                NaN                   208.929407
        2009-05-28 08:00:00       2.717572e-09                    28.716637
        2009-05-28 14:00:00      -2.611536e-09                   123.620959

In [31]:
%%time

# Now, lets calculate the bearing rate between 2 consecutive points.
# First, we will do it for the geolife dataset.
geolife = spatial.create_bearing_rate_column(geolife)
geolife.head()

CPU times: user 29.6 ms, sys: 4.18 ms, total: 33.8 ms
Wall time: 32 ms

                                   lat         lon  Distance_prev_to_curr  \
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402                    NaN
        2008-10-23 05:53:16  39.984211  116.319389               1.821083
        2008-10-23 05:53:21  39.984217  116.319422               2.889671
        2008-10-23 05:53:23  39.984710  116.319865              66.555997
        2008-10-23 05:53:28  39.984674  116.319810               6.162987

                             Distance_start_to_curr  Distance_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                     NaN          1.221588e+07
        2008-10-23 05:53:16                1.821083          1.221588e+07
        2008-10-23 05:53:21                1.873356          1.221588e+07
        2008-10-23 05:53:23               66.906656          1.221590e+07
        2008-10-23 05:53:28               60.927269          1.221589e+07

                             Within_15000000_m_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                           True
        2008-10-23 05:53:16                           True
        2008-10-23 05:53:21                           True
        2008-10-23 05:53:23                           True
        2008-10-23 05:53:28                           True

                             Speed_prev_to_curr  Acceleration_prev_to_curr  \
traj_id DateTime
1       2008-10-23 05:53:11                 NaN                        NaN
        2008-10-23 05:53:16            0.364217                        NaN
        2008-10-23 05:53:21            0.577934                   0.042744
        2008-10-23 05:53:23           33.277998                  16.350032
        2008-10-23 05:53:28            1.232597                  -6.409080

                             jerk_prev_to_curr  Bearing_between_consecutive  \
traj_id DateTime
1       2008-10-23 05:53:11                NaN                          NaN
        2008-10-23 05:53:16                NaN                   217.460115
        2008-10-23 05:53:21                NaN                    76.651056
        2008-10-23 05:53:23           8.153644                    34.547615
        2008-10-23 05:53:28          -4.551822                   229.494179

                             Bearing_rate_from_prev
traj_id DateTime
1       2008-10-23 05:53:11                     NaN
        2008-10-23 05:53:16                     NaN
        2008-10-23 05:53:21              -28.161812
        2008-10-23 05:53:23              -21.051721
        2008-10-23 05:53:28               38.989313

In [32]:
%%time

# Now lets calculate the bearing rate for the atlantic dataset.
atlantic = spatial.create_bearing_rate_column(atlantic)
atlantic.head()

CPU times: user 17.9 ms, sys: 0 ns, total: 17.9 ms
Wall time: 16.4 ms

                                             Name      Date  Time Event  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              UNNAMED  18510625     0
         1851-06-25 06:00:00              UNNAMED  18510625   600
         1851-06-25 12:00:00              UNNAMED  18510625  1200
         1851-06-25 18:00:00              UNNAMED  18510625  1800
         1851-06-25 21:00:00              UNNAMED  18510625  2100     L

                             Status   lat   lon  Maximum Wind  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00     HU  28.0 -94.8            80
         1851-06-25 06:00:00     HU  28.0 -95.4            80
         1851-06-25 12:00:00     HU  28.0 -96.0            80
         1851-06-25 18:00:00     HU  28.1 -96.5            80
         1851-06-25 21:00:00     HU  28.2 -96.8            80

                              Minimum Pressure  Low Wind NE  ...  \
traj_id  DateTime                                            ...
AL011851 1851-06-25 00:00:00              -999         -999  ...
         1851-06-25 06:00:00              -999         -999  ...
         1851-06-25 12:00:00              -999         -999  ...
         1851-06-25 18:00:00              -999         -999  ...
         1851-06-25 21:00:00              -999         -999  ...

                              High Wind SE  High Wind SW  High Wind NW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999          -999          -999
         1851-06-25 06:00:00          -999          -999          -999
         1851-06-25 12:00:00          -999          -999          -999
         1851-06-25 18:00:00          -999          -999          -999
         1851-06-25 21:00:00          -999          -999          -999

                              Distance_prev_to_curr  Distance_start_to_curr  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00                    NaN                     NaN
         1851-06-25 06:00:00           58907.516366            58907.516366
         1851-06-25 12:00:00           58907.516366           117814.676769
         1851-06-25 18:00:00           50310.976622           167196.061925
         1851-06-25 21:00:00           31444.370265           197430.193137

                              Speed_prev_to_curr  Acceleration_prev_to_curr  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00                 NaN                        NaN
         1851-06-25 06:00:00            2.727200                        NaN
         1851-06-25 12:00:00            2.727200              -2.672759e-18
         1851-06-25 18:00:00            2.329212              -1.842537e-05
         1851-06-25 21:00:00            2.911516               5.391703e-05

                              jerk_prev_to_curr  Bearing_between_consecutive  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00                NaN                          NaN
         1851-06-25 06:00:00                NaN                   270.140842
         1851-06-25 12:00:00                NaN                   270.140842
         1851-06-25 18:00:00      -8.530263e-10                   282.886140
         1851-06-25 21:00:00       6.698370e-09                   290.779865

                              Bearing_rate_from_prev
traj_id  DateTime
AL011851 1851-06-25 00:00:00                     NaN
         1851-06-25 06:00:00                     NaN
         1851-06-25 12:00:00                0.000000
         1851-06-25 18:00:00                0.000590
         1851-06-25 21:00:00                0.000731

[5 rows x 28 columns]

In [33]:
%%time

# Now lets calculate the bearing rate for the seagulls dataset.
gulls = spatial.create_bearing_rate_column(gulls)
gulls.head()

CPU times: user 25.4 ms, sys: 0 ns, total: 25.4 ms
Wall time: 23.9 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name  \
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

                             Distance_prev_to_curr  Distance_start_to_curr  \
traj_id DateTime
91732   2009-05-27 14:00:00                    NaN                     NaN
        2009-05-27 20:00:00            1699.244398             1699.244398
        2009-05-28 05:00:00            5632.120064             7238.295521
        2009-05-28 08:00:00            5643.314949             1682.777895
        2009-05-28 14:00:00              32.131494             1697.111327

                             Speed_prev_to_curr  Acceleration_prev_to_curr  \
traj_id DateTime
91732   2009-05-27 14:00:00                 NaN                        NaN
        2009-05-27 20:00:00            0.078669                        NaN
        2009-05-28 05:00:00            0.173831                   0.000003
        2009-05-28 08:00:00            0.522529                   0.000032
        2009-05-28 14:00:00            0.001488                  -0.000024

                             jerk_prev_to_curr  Bearing_between_consecutive  \
traj_id DateTime
91732   2009-05-27 14:00:00                NaN                          NaN
        2009-05-27 20:00:00                NaN                   187.236713
        2009-05-28 05:00:00                NaN                   208.929407
        2009-05-28 08:00:00       2.717572e-09                    28.716637
        2009-05-28 14:00:00      -2.611536e-09                   123.620959

                             Bearing_rate_from_prev
traj_id DateTime
91732   2009-05-27 14:00:00                     NaN
        2009-05-27 20:00:00                     NaN
        2009-05-28 05:00:00                0.000670
        2009-05-28 08:00:00               -0.016686
        2009-05-28 14:00:00                0.004394

In [34]:
%%time

# Now, lets calculate the rate of bearing rate between 2
# consecutive points.
geolife = spatial.create_rate_of_bearing_rate_column(geolife)
geolife.head()

CPU times: user 29.3 ms, sys: 0 ns, total: 29.3 ms
Wall time: 27.4 ms

                                   lat         lon  Distance_prev_to_curr  \
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402                    NaN
        2008-10-23 05:53:16  39.984211  116.319389               1.821083
        2008-10-23 05:53:21  39.984217  116.319422               2.889671
        2008-10-23 05:53:23  39.984710  116.319865              66.555997
        2008-10-23 05:53:28  39.984674  116.319810               6.162987

                             Distance_start_to_curr  Distance_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                     NaN          1.221588e+07
        2008-10-23 05:53:16                1.821083          1.221588e+07
        2008-10-23 05:53:21                1.873356          1.221588e+07
        2008-10-23 05:53:23               66.906656          1.221590e+07
        2008-10-23 05:53:28               60.927269          1.221589e+07

                             Within_15000000_m_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                           True
        2008-10-23 05:53:16                           True
        2008-10-23 05:53:21                           True
        2008-10-23 05:53:23                           True
        2008-10-23 05:53:28                           True

                             Speed_prev_to_curr  Acceleration_prev_to_curr  \
traj_id DateTime
1       2008-10-23 05:53:11                 NaN                        NaN
        2008-10-23 05:53:16            0.364217                        NaN
        2008-10-23 05:53:21            0.577934                   0.042744
        2008-10-23 05:53:23           33.277998                  16.350032
        2008-10-23 05:53:28            1.232597                  -6.409080

                             jerk_prev_to_curr  Bearing_between_consecutive  \
traj_id DateTime
1       2008-10-23 05:53:11                NaN                          NaN
        2008-10-23 05:53:16                NaN                   217.460115
        2008-10-23 05:53:21                NaN                    76.651056
        2008-10-23 05:53:23           8.153644                    34.547615
        2008-10-23 05:53:28          -4.551822                   229.494179

                             Bearing_rate_from_prev  \
traj_id DateTime
1       2008-10-23 05:53:11                     NaN
        2008-10-23 05:53:16                     NaN
        2008-10-23 05:53:21              -28.161812
        2008-10-23 05:53:23              -21.051721
        2008-10-23 05:53:28               38.989313

                             Rate_of_bearing_rate_from_prev
traj_id DateTime
1       2008-10-23 05:53:11                             NaN
        2008-10-23 05:53:16                             NaN
        2008-10-23 05:53:21                             NaN
        2008-10-23 05:53:23                        3.555046
        2008-10-23 05:53:28                       12.008207

In [35]:
%%time

# Now, lets calculate the rate of bearing rate for the atlantic
# dataset.
atlantic = spatial.create_rate_of_bearing_rate_column(atlantic)
atlantic.head()

CPU times: user 15.7 ms, sys: 372 µs, total: 16.1 ms
Wall time: 14.5 ms

                                             Name      Date  Time Event  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              UNNAMED  18510625     0
         1851-06-25 06:00:00              UNNAMED  18510625   600
         1851-06-25 12:00:00              UNNAMED  18510625  1200
         1851-06-25 18:00:00              UNNAMED  18510625  1800
         1851-06-25 21:00:00              UNNAMED  18510625  2100     L

                             Status   lat   lon  Maximum Wind  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00     HU  28.0 -94.8            80
         1851-06-25 06:00:00     HU  28.0 -95.4            80
         1851-06-25 12:00:00     HU  28.0 -96.0            80
         1851-06-25 18:00:00     HU  28.1 -96.5            80
         1851-06-25 21:00:00     HU  28.2 -96.8            80

                              Minimum Pressure  Low Wind NE  ...  \
traj_id  DateTime                                            ...
AL011851 1851-06-25 00:00:00              -999         -999  ...
         1851-06-25 06:00:00              -999         -999  ...
         1851-06-25 12:00:00              -999         -999  ...
         1851-06-25 18:00:00              -999         -999  ...
         1851-06-25 21:00:00              -999         -999  ...

                              High Wind SW  High Wind NW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999          -999
         1851-06-25 06:00:00          -999          -999
         1851-06-25 12:00:00          -999          -999
         1851-06-25 18:00:00          -999          -999
         1851-06-25 21:00:00          -999          -999

                              Distance_prev_to_curr  Distance_start_to_curr  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00                    NaN                     NaN
         1851-06-25 06:00:00           58907.516366            58907.516366
         1851-06-25 12:00:00           58907.516366           117814.676769
         1851-06-25 18:00:00           50310.976622           167196.061925
         1851-06-25 21:00:00           31444.370265           197430.193137

                              Speed_prev_to_curr  Acceleration_prev_to_curr  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00                 NaN                        NaN
         1851-06-25 06:00:00            2.727200                        NaN
         1851-06-25 12:00:00            2.727200              -2.672759e-18
         1851-06-25 18:00:00            2.329212              -1.842537e-05
         1851-06-25 21:00:00            2.911516               5.391703e-05

                              jerk_prev_to_curr  Bearing_between_consecutive  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00                NaN                          NaN
         1851-06-25 06:00:00                NaN                   270.140842
         1851-06-25 12:00:00                NaN                   270.140842
         1851-06-25 18:00:00      -8.530263e-10                   282.886140
         1851-06-25 21:00:00       6.698370e-09                   290.779865

                              Bearing_rate_from_prev  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00                     NaN
         1851-06-25 06:00:00                     NaN
         1851-06-25 12:00:00                0.000000
         1851-06-25 18:00:00                0.000590
         1851-06-25 21:00:00                0.000731

                              Rate_of_bearing_rate_from_prev
traj_id  DateTime
AL011851 1851-06-25 00:00:00                             NaN
         1851-06-25 06:00:00                             NaN
         1851-06-25 12:00:00                             NaN
         1851-06-25 18:00:00                    2.731760e-08
         1851-06-25 21:00:00                    1.304079e-08

[5 rows x 29 columns]

In [36]:
%%time

# Now lets calculate the rate of bearing rate for the seagulls
# dataset.
gulls = spatial.create_rate_of_bearing_rate_column(gulls)
gulls.head()

CPU times: user 23.2 ms, sys: 0 ns, total: 23.2 ms
Wall time: 21.3 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name  \
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

                             Distance_prev_to_curr  Distance_start_to_curr  \
traj_id DateTime
91732   2009-05-27 14:00:00                    NaN                     NaN
        2009-05-27 20:00:00            1699.244398             1699.244398
        2009-05-28 05:00:00            5632.120064             7238.295521
        2009-05-28 08:00:00            5643.314949             1682.777895
        2009-05-28 14:00:00              32.131494             1697.111327

                             Speed_prev_to_curr  Acceleration_prev_to_curr  \
traj_id DateTime
91732   2009-05-27 14:00:00                 NaN                        NaN
        2009-05-27 20:00:00            0.078669                        NaN
        2009-05-28 05:00:00            0.173831                   0.000003
        2009-05-28 08:00:00            0.522529                   0.000032
        2009-05-28 14:00:00            0.001488                  -0.000024

                             jerk_prev_to_curr  Bearing_between_consecutive  \
traj_id DateTime
91732   2009-05-27 14:00:00                NaN                          NaN
        2009-05-27 20:00:00                NaN                   187.236713
        2009-05-28 05:00:00                NaN                   208.929407
        2009-05-28 08:00:00       2.717572e-09                    28.716637
        2009-05-28 14:00:00      -2.611536e-09                   123.620959

                             Bearing_rate_from_prev  \
traj_id DateTime
91732   2009-05-27 14:00:00                     NaN
        2009-05-27 20:00:00                     NaN
        2009-05-28 05:00:00                0.000670
        2009-05-28 08:00:00               -0.016686
        2009-05-28 14:00:00                0.004394

                             Rate_of_bearing_rate_from_prev
traj_id DateTime
91732   2009-05-27 14:00:00                             NaN
        2009-05-27 20:00:00                             NaN
        2009-05-28 05:00:00                             NaN
        2009-05-28 08:00:00                   -1.607027e-06
        2009-05-28 14:00:00                    9.759299e-07

In [37]:
%%time

# Now, lets get the start locations of all the trajectories
# in the atlantic dataset.
spatial.get_start_location(atlantic)

CPU times: user 397 ms, sys: 175 ms, total: 571 ms
Wall time: 3.55 s

           lat   lon
traj_id
AL011855  22.2 -98.0
AL031855  12.5 -83.0
AL011853  32.5 -69.0
AL011870  30.5 -88.0
AL081867  17.5 -62.8
...        ...   ...
AL041926  13.8 -41.2
AL142012  15.5 -38.0
AL201969  16.0 -47.0
AL141971  25.5 -71.5
AL031899  11.7 -31.0

[1814 rows x 2 columns]

In [38]:
%%time

# Now, lets get the end location of a specific trajectory
# from the atlantic dataset.
spatial.get_end_location(atlantic, 'AL011851')

CPU times: user 24 ms, sys: 419 µs, total: 24.5 ms
Wall time: 23.1 ms

(31.0, -100.2)

In [39]:
%%time

# Now, lets get the distance travelled by a specific trajectory
# in the atlantic dataset.
spatial.get_distance_travelled_by_traj_id(atlantic, 'AL011851')

CPU times: user 19 ms, sys: 3.93 ms, total: 23 ms
Wall time: 22.5 ms

716547.1062403042

In [40]:
%%time

# Now, lets get the number of unique locations visited by
# all the trajectories in the atlantic dataset.
spatial.get_number_of_locations(atlantic)

CPU times: user 395 ms, sys: 165 ms, total: 560 ms
Wall time: 3.81 s

          Number of Unique Coordinates
traj_id
AL011855                             1
AL031855                             1
AL011853                             1
AL011870                             1
AL081867                             1
...                                ...
AL041926                            95
AL142012                            96
AL201969                            99
AL141971                           118
AL031899                           133

[1814 rows x 1 columns]

In [41]:
end = time.time()
print(f"Total execution time is {end - start} seconds.")

Total execution time is 40.5011932849884 seconds.