In [1]:
%%time

from core.TrajectoryDF import NumPandasTraj as NumTrajDF
from features.temporal_features import TemporalFeatures as temporal
import pandas as pd

dataframe = NumTrajDF.read_csv('geolife_sample.csv')

CPU times: user 1.14 s, sys: 598 ms, total: 1.74 s
Wall time: 789 ms

In [2]:
%%time

temporal.create_date_column(dataframe, inplace=True).head(5)

Process Process-2:
Traceback (most recent call last):
  File "/home/yjharanwala/anaconda3/envs/PreprocessingLibrary/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
Process Process-3:
  File "/home/yjharanwala/anaconda3/envs/PreprocessingLibrary/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/home/yjharanwala/Desktop/NumMobility/features/temporal_features.py", line 112, in date_extractor
    print(matches.dt.date.to_numpy())
  File "/home/yjharanwala/anaconda3/envs/PreprocessingLibrary/lib/python3.8/site-packages/pandas/core/generic.py", line 5139, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'dt'
Traceback (most recent call last):
  File "/home/yjharanwala/anaconda3/envs/PreprocessingLibrary/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/home/yjharanwala/anaconda3/envs/PreprocessingLibrary/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/home/yjharanwala/Desktop/NumMobility/features/temporal_features.py", line 112, in date_extractor
    print(matches.dt.date.to_numpy())
  File "/home/yjharanwala/anaconda3/envs/PreprocessingLibrary/lib/python3.8/site-packages/pandas/core/generic.py", line 5139, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'dt'

[]

ValueError: Length of values (0) does not match length of index (217653)

In [3]:
%%time

temporal.create_date(dataframe, inplace=True).head(5)

CPU times: user 1.66 s, sys: 25.5 ms, total: 1.69 s
Wall time: 1.69 s

                                   lat         lon        Date
DateTime            traj_id
2008-10-23 16:53:05 1        39.984094  116.319236  2008-10-23
2008-10-23 16:53:06 1        39.984198  116.319322  2008-10-23
2008-10-23 05:53:11 1        39.984224  116.319402  2008-10-23
2008-10-23 05:53:16 1        39.984211  116.319389  2008-10-23
2008-10-23 05:53:21 1        39.984217  116.319422  2008-10-23

In [4]:
%%time
from utilities.conversions import Conversions as con

atlantic = pd.read_csv('atlantic.csv')
atlantic = con.convert_directions_to_degree_lat_lon(atlantic, 'Latitude',"Longitude")
atlantic.head()

CPU times: user 8.59 s, sys: 60.8 ms, total: 8.66 s
Wall time: 8.66 s

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,HU,28.0,-94.8,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,HU,28.0,-95.4,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,HU,28.0,-96.0,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,HU,28.1,-96.5,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2,-96.8,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [5]:
%%time
# This cell is takefrom the PyMove library.
# They are cited in the paper as well.

def convert_to_datetime(row):
        this_date = '{}-{}-{}'.format(str(row['Date'])[0:4], str(row['Date'])[4:6], str(row['Date'])[6:])
        this_time = '{:02d}:{:02d}:00'.format(int(row['Time']/100), int(str(row['Time'])[-2:]))
        return '{} {}'.format(this_date, this_time)
atlantic['DateTime'] = atlantic.apply(convert_to_datetime, axis=1)
atlantic.head()

CPU times: user 2.68 s, sys: 8.01 ms, total: 2.69 s
Wall time: 2.69 s

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW,DateTime
0,AL011851,UNNAMED,18510625,0,,HU,28.0,-94.8,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,1851-06-25 00:00:00
1,AL011851,UNNAMED,18510625,600,,HU,28.0,-95.4,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,1851-06-25 06:00:00
2,AL011851,UNNAMED,18510625,1200,,HU,28.0,-96.0,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,1851-06-25 12:00:00
3,AL011851,UNNAMED,18510625,1800,,HU,28.1,-96.5,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,1851-06-25 18:00:00
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2,-96.8,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,1851-06-25 21:00:00

In [6]:
num_atlantic = NumTrajDF(atlantic,
                         latitude='Latitude',
                         longitude='Longitude',
                         datetime='DateTime',
                         traj_id='ID',
                         rest_of_columns=[])
num_atlantic.drop('Date', inplace=True, axis=1)
num_atlantic.head()

,,Name,Time,Event,Status,lat,lon,Maximum Wind,Minimum Pressure,Low Wind NE,Low Wind SE,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
DateTime,traj_id,,,,,,,,,,,,,,,,,,,,
1851-06-25 00:00:00,AL011851,UNNAMED,0,,HU,28.0,-94.8,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1851-06-25 06:00:00,AL011851,UNNAMED,600,,HU,28.0,-95.4,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1851-06-25 12:00:00,AL011851,UNNAMED,1200,,HU,28.0,-96.0,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1851-06-25 18:00:00,AL011851,UNNAMED,1800,,HU,28.1,-96.5,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1851-06-25 21:00:00,AL011851,UNNAMED,2100,L,HU,28.2,-96.8,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [ ]:
%%time
#
temporal.create_date_column(num_atlantic,inplace=True).head()

Process Process-5:
Process Process-6:
Process Process-8:
Process Process-7:
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
  File "/home/yjharanwala/anaconda3/envs/PreprocessingLibrary/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/home/yjharanwala/anaconda3/envs/PreprocessingLibrary/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/home/yjharanwala/anaconda3/envs/PreprocessingLibrary/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/home/yjharanwala/anaconda3/envs/PreprocessingLibrary/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/home/yjharanwala/anaconda3/envs/PreprocessingLibrary/lib/python3.8/multiprocessing/process.py", line 108, in run
    self._target(*self._args, **self._kwargs)
  File "/home/yjharanwala/Desktop/NumMobility/features/temporal_features.py", line 112, in date_extractor
    print(matches.dt.date.to_numpy())
  File "/home/yjharanwala/Desktop/NumMobility/features/temporal_features.py", line 112, in date_extractor
    print(matches.dt.date.to_numpy())
Traceback (most recent call last):
  File "/home/yjharanwala/Desktop/NumMobility/features/temporal_features.py", line 112, in date_extractor
    print(matches.dt.date.to_numpy())
  File "/home/yjharanwala/anaconda3/envs/PreprocessingLibrary/lib/python3.8/site-packages/pandas/core/generic.py", line 5139, in __getattr__
    return object.__getattribute__(self, name)
  File "/home/yjharanwala/anaconda3/envs/PreprocessingLibrary/lib/python3.8/site-packages/pandas/core/generic.py", line 5139, in __getattr__
    return object.__getattribute__(self, name)
  File "/home/yjharanwala/anaconda3/envs/PreprocessingLibrary/lib/python3.8/site-packages/pandas/core/generic.py", line 5139, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'dt'

In [ ]:
%%time
temporal.create_date(num_atlantic, inplace=True)