In [1]:
%%time

from core.TrajectoryDF import NumPandasTraj as NumTrajDF
from features.temporal_features import TemporalFeatures as temporal
import pandas as pd

dataframe = NumTrajDF.read_csv('geolife_sample.csv')
dataframe.head()

CPU times: user 1.01 s, sys: 504 ms, total: 1.52 s
Wall time: 858 ms

                                   lat         lon
DateTime            traj_id
2008-10-23 16:53:05 1        39.984094  116.319236
2008-10-23 16:53:06 1        39.984198  116.319322
2008-10-23 05:53:11 1        39.984224  116.319402
2008-10-23 05:53:16 1        39.984211  116.319389
2008-10-23 05:53:21 1        39.984217  116.319422

In [2]:
%%time

temporal.create_date_column(dataframe, inplace=True).head()

CPU times: user 220 ms, sys: 41.3 ms, total: 262 ms
Wall time: 992 ms

                                   lat         lon        Date
DateTime            traj_id
2008-10-23 16:53:05 1        39.984094  116.319236  2008-10-24
2008-10-23 16:53:06 1        39.984198  116.319322  2008-10-24
2008-10-23 05:53:11 1        39.984224  116.319402  2008-10-24
2008-10-23 05:53:16 1        39.984211  116.319389  2008-10-24
2008-10-23 05:53:21 1        39.984217  116.319422  2008-10-24

In [3]:
atlantic = pd.read_csv('atlantic.csv')
atlantic['ID'].nunique()

1814