In [1]:
# Note that for our dataset, ungulate animals = mule deer, elk.
# One of the main reason for this research was to help farmers,
# ranchers etc to determine if fencing their farms would help
# them prevent losses which occur due to heavy grazing by the
# ungulates. Therefore, some ungulate proof pastures were
# created for the research within the starkey area and one
# such example of that data is the DistEWater which is the
# distance to the nearest water source within the ungulate
# proof area.

# First, lets import the starkey dataset and the habitat data
# and then check both out. Now it is to be noted that since
# the habitat dataset is not an actual trajectory dataset, we
# will just import the habitat dataset as a pandas dataframe.

from Nummobility.core.TrajectoryDF import NumPandasTraj
from Nummobility.features.spatial_features import SpatialFeatures
import pandas as pd
import numpy as np
from Nummobility.semantics.semantic_features import SemanticFeatures

pdf = pd.read_csv('./data/starkey.csv')
starkey_traj = NumPandasTraj(data_set=pdf,
                             latitude='lat',
                             longitude='lon',
                             datetime='DateTime',
                             traj_id='Id')
print(starkey_traj)
starkey_traj.head()

------------------------ Dataset Facts ------------------------------

Number of unique Trajectories in the data: 253
Number of points in the data: 287136
Dataset time range: 1196 days 22:51:45
Datatype of the DataFrame: <class 'Nummobility.core.TrajectoryDF.NumPandasTraj'>
Dataset Bounding Box: (45.18896978643169, -118.61020848239596, 45.314545642992, -118.50455596234036)

---------------------------------------------------------------------

                                     lat         lon  StarkeyTime    GMDate  \
traj_id   DateTime
880109D01 1995-04-13 13:40:06  45.239682 -118.533204    229902006  21:40:06
          1995-04-15 12:16:15  45.250521 -118.530438    230069775  20:16:15
          1995-04-15 21:39:38  45.247943 -118.541455    230103578  05:39:38
          1995-04-16 03:32:14  45.247429 -118.539530    230124734  11:32:14
          1995-04-16 04:08:28  45.247117 -118.542579    230126908  12:08:28

                                 GMTime   LocDate   LocTime  RadNum Species  \
traj_id   DateTime
880109D01 1995-04-13 13:40:06  19950413  19950413  13:40:06     409       D
          1995-04-15 12:16:15  19950415  19950415  12:16:15     409       D
          1995-04-15 21:39:38  19950416  19950415  21:39:38     409       D
          1995-04-16 03:32:14  19950416  19950416  03:32:14     409       D
          1995-04-16 04:08:28  19950416  19950416  04:08:28     409       D

                                 UTME     UTMN  Year  Grensunr  Grensuns  \
traj_id   DateTime
880109D01 1995-04-13 13:40:06  379662  5010734    95  13:13:00  02:39:00
          1995-04-15 12:16:15  379895  5011927    95  13:09:00  02:41:00
          1995-04-15 21:39:38  379039  5011656    95  13:07:00  02:43:00
          1995-04-16 03:32:14  379188  5011581    95  13:07:00  02:43:00
          1995-04-16 04:08:28  378938  5011567    95  13:07:00  02:43:00

                               Obswt
traj_id   DateTime
880109D01 1995-04-13 13:40:06   1.47
          1995-04-15 12:16:15   1.59
          1995-04-15 21:39:38   1.34
          1995-04-16 03:32:14   1.50
          1995-04-16 04:08:28   1.34

In [2]:
# Now, importing the habitat data.
starkey_habitat = pd.read_csv('./data/starkey_habitat.csv')
print(f"The shape of the starkey habitat dataset: {starkey_habitat.shape}")
starkey_habitat.head()

The shape of the starkey habitat dataset: (85969, 19)

,lat,lon,SoilDpth,PerSlope,SINAspct,COSAspct,Convex3,DistCWat,Canopy,Elev,DistEWat,EcoGener,DistOPEN,DistRSTR,DistCLSD,DistEFnc,CowPast,ForgProd,DistEdge
0,45.272378,-118.610193,14,5,-0.81,0.59,500.63,218,3,1389,212,GB,127,2271,30,0,SMITH-BALLY,363,0
1,45.272648,-118.610201,14,5,-0.71,0.71,500.21,228,3,1388,218,GB,150,2293,30,0,SMITH-BALLY,363,0
2,45.272918,-118.610208,14,4,-0.89,0.45,499.93,242,3,1387,228,GB,170,2315,30,0,SMITH-BALLY,363,0
3,45.270224,-118.609750,14,8,-0.98,0.21,500.68,201,5,1393,201,GB,30,2081,134,0,SMITH-BALLY,363,0
4,45.270494,-118.609757,14,7,-0.97,0.22,501.22,190,5,1393,190,GB,30,2101,108,0,SMITH-BALLY,363,0

In [3]:

small = starkey_traj.reset_index().loc[starkey_traj.reset_index()['traj_id'] == '880109D01']
small

,traj_id,DateTime,lat,lon,StarkeyTime,GMDate,GMTime,LocDate,LocTime,RadNum,Species,UTME,UTMN,Year,Grensunr,Grensuns,Obswt
0,880109D01,1995-04-13 13:40:06,45.239682,-118.533204,229902006,21:40:06,19950413,19950413,13:40:06,409,D,379662,5010734,95,13:13:00,02:39:00,1.47
1,880109D01,1995-04-15 12:16:15,45.250521,-118.530438,230069775,20:16:15,19950415,19950415,12:16:15,409,D,379895,5011927,95,13:09:00,02:41:00,1.59
2,880109D01,1995-04-15 21:39:38,45.247943,-118.541455,230103578,05:39:38,19950416,19950415,21:39:38,409,D,379039,5011656,95,13:07:00,02:43:00,1.34
3,880109D01,1995-04-16 03:32:14,45.247429,-118.539530,230124734,11:32:14,19950416,19950416,03:32:14,409,D,379188,5011581,95,13:07:00,02:43:00,1.50
4,880109D01,1995-04-16 04:08:28,45.247117,-118.542579,230126908,12:08:28,19950416,19950416,04:08:28,409,D,378938,5011567,95,13:07:00,02:43:00,1.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,880109D01,1995-04-26 03:51:21,45.238150,-118.526665,230989881,11:51:21,19950426,19950426,03:51:21,409,D,380174,5010548,95,12:50:00,02:56:00,1.54
210,880109D01,1995-04-26 04:24:00,45.237905,-118.524748,230991840,12:24:00,19950426,19950426,04:24:00,409,D,380315,5010507,95,12:50:00,02:56:00,1.42
211,880109D01,1995-04-26 05:39:15,45.233830,-118.526550,230996355,13:39:15,19950426,19950426,05:39:15,409,D,380186,5010064,95,12:50:00,02:56:00,1.80
212,880109D01,1995-04-26 06:13:12,45.232170,-118.529563,230998392,14:13:12,19950426,19950426,06:13:12,409,D,379938,5009870,95,12:50:00,02:56:00,1.59
213,880109D01,1995-04-26 07:27:46,45.232735,-118.527667,231002866,15:27:46,19950426,19950426,07:27:46,409,D,380080,5009927,95,12:50:00,02:56:00,1.69

In [4]:
pasture = starkey_habitat.loc[starkey_habitat['CowPast'] == 'SMITH-BALLY']
pasture

,lat,lon,SoilDpth,PerSlope,SINAspct,COSAspct,Convex3,DistCWat,Canopy,Elev,DistEWat,EcoGener,DistOPEN,DistRSTR,DistCLSD,DistEFnc,CowPast,ForgProd,DistEdge
0,45.272378,-118.610193,14,5,-0.81,0.59,500.63,218,3,1389,212,GB,127,2271,30,0,SMITH-BALLY,363,0
1,45.272648,-118.610201,14,5,-0.71,0.71,500.21,228,3,1388,218,GB,150,2293,30,0,SMITH-BALLY,363,0
2,45.272918,-118.610208,14,4,-0.89,0.45,499.93,242,3,1387,228,GB,170,2315,30,0,SMITH-BALLY,363,0
3,45.270224,-118.609750,14,8,-0.98,0.21,500.68,201,5,1393,201,GB,30,2081,134,0,SMITH-BALLY,363,0
4,45.270494,-118.609757,14,7,-0.97,0.22,501.22,190,5,1393,190,GB,30,2101,108,0,SMITH-BALLY,363,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75625,45.280761,-118.530868,9,4,-0.71,-0.71,501.81,330,15,1266,301,CP,300,134,60,60,SMITH-BALLY,429,60
75626,45.281031,-118.530875,9,2,-0.45,-0.89,501.90,330,15,1267,306,CP,301,108,60,30,SMITH-BALLY,429,67
75929,45.280496,-118.530479,9,4,-0.63,-0.78,502.68,361,15,1266,330,CP,424,150,42,30,SMITH-BALLY,429,60
75930,45.280766,-118.530486,9,2,-0.31,-0.95,502.65,360,15,1267,331,CP,330,127,30,30,SMITH-BALLY,429,60
76233,45.280501,-118.530096,24,2,0.24,-0.97,502.73,391,15,1266,467,CP,446,127,30,0,SMITH-BALLY,429,42

In [9]:
sem = SemanticFeatures.visited_pasture(small, pasture)
sem
# np.unique(sem, return_counts=True)

array([[    0,    47],
       [    0,    48],
       [    0,   100],
       ...,
       [   83, 26251],
       [   83, 26257],
       [   83, 26258]])