In [1]:
import pandas
%time
#from core.trialDF import NumPandasTraj as NumTrajDF
from core.TrajectoryDF import NumPandasTraj as NumTrajDF
import numpy as np
import pandas as pd

list_data = [
    [39.984094, 116.319236, '2008-10-23 05:53:05', 1, 24],
    [39.984198, 116.319322, '2008-10-23 05:53:06', 1, 28],
    [39.984224, 116.319402, '2008-10-23 05:53:11', 1, 24],
    [39.984224, 116.319404, '2008-10-23 05:53:11', 1, 24],
    [39.984224, 116.568956, '2008-10-23 05:53:11', 1, 24],
    [39.984224, 116.568956, '2008-10-23 05:53:11', 1, 28]
]

traj = NumTrajDF(data_set=list_data, latitude='lat', longitude='longitude',
                           datetime='DateTime', traj_id='traj',
                           rest_of_columns=['obj_id'])
traj.head()

CPU times: user 3 µs, sys: 2 µs, total: 5 µs
Wall time: 10.5 µs
Finished this

                                   lat         lon  obj_id
DateTime            traj_id
2008-10-23 05:53:05 1        39.984094  116.319236      24
2008-10-23 05:53:06 1        39.984198  116.319322      28
2008-10-23 05:53:11 1        39.984224  116.319402      24
                    1        39.984224  116.319404      24
                    1        39.984224  116.568956      24

In [2]:
%%time

dict_data = {
    'lat': [116.319402, 116.319322, 116.319402],
    'lon': [39.984198, 39.984224, 39.984094],
    'datetime': ['2008-10-23 05:53:11', '2008-10-23 05:53:06', '2008-10-23 05:53:06'],
    'id' : [1,1,1],
    'object_id':[24,24,24]
}

dict_df = NumTrajDF(dict_data,'Latitude', 'Longitude',
                           'DateTime', 'traj_id')
dict_df.head()

CPU times: user 5.28 ms, sys: 579 µs, total: 5.86 ms
Wall time: 4.98 ms

                                    lat        lon  object_id
DateTime            traj_id
2008-10-23 05:53:11 1        116.319402  39.984198         24
2008-10-23 05:53:06 1        116.319322  39.984224         24
                    1        116.319402  39.984094         24

In [3]:

dataframe = NumTrajDF.read_csv('mini_sample.csv')
#dataframe.columns
dataframe.head()

['lat', 'lon', 'datetime', 'id']
         lat         lon             DateTime  id
0  39.984094  116.319236  2008-10-23 05:53:05   1
1  39.984198  116.319322  2008-10-23 05:53:06   1
2  39.984224  116.319402  2008-10-23 05:53:11   1
3  39.984211  116.319389  2008-10-23 05:53:16   1
4  39.984217  116.319422  2008-10-23 05:53:21   1

KeyError: "None of ['traj_id'] are in the columns"

In [ ]:
%%time

pdf = pandas.read_csv('mini_sample.csv')
ndf = NumTrajDF(pdf, 'lat', 'lon', 'DateTime', 'traj_id', [])
ndf.tail()