In [43]:
import pandas
%time
#from core.trialDF import NumPandasTraj as NumTrajDF
from core.TrajectoryDF import NumPandasTraj as NumTrajDF
from features.temporal_features import TemporalFeatures as temporal

list_data = [
    [39.984094, 116.319236, '2008-10-23 05:53:05', 1, 24],
    [39.984198, 116.319322, '2008-10-23 05:53:06', 1, 28],
    [39.984224, 116.319402, '2008-10-23 05:53:11', 1, 24],
    [39.984224, 116.319404, '2008-10-23 05:53:11', 1, 24],
    [39.984224, 116.568956, '2008-10-23 05:53:11', 1, 24],
    [39.984224, 116.568956, '2008-10-23 05:53:11', 1, 28]
]

traj = NumTrajDF(data_set=list_data, latitude='lat', longitude='longitude',
                           datetime='DateTime', traj_id='traj',
                           rest_of_columns=['obj_id'])
traj.head()

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 8.58 µs

                                   lat         lon  obj_id
DateTime            traj_id
2008-10-23 05:53:05 1        39.984094  116.319236      24
2008-10-23 05:53:06 1        39.984198  116.319322      28
2008-10-23 05:53:11 1        39.984224  116.319402      24
                    1        39.984224  116.319404      24
                    1        39.984224  116.568956      24

In [44]:
%%time

dict_data = {
    'lat': [116.319402, 116.319322, 116.319402],
    'lon': [39.984198, 39.984224, 39.984094],
    'datetime': ['2008-10-23 05:53:11', '2008-10-23 05:53:06', '2008-10-23 05:53:06'],
    'id' : [1,1,1],
    'object_id':[24,24,24]
}

dict_df = NumTrajDF(dict_data,'Latitude', 'Longitude',
                           'DateTime', 'traj_id')
dict_df.head()

CPU times: user 8.42 ms, sys: 60 µs, total: 8.48 ms
Wall time: 7.05 ms

                                    lat        lon  object_id
DateTime            traj_id
2008-10-23 05:53:11 1        116.319402  39.984198         24
2008-10-23 05:53:06 1        116.319322  39.984224         24
                    1        116.319402  39.984094         24

In [45]:
%%time

dataframe = NumTrajDF.read_csv('mini_sample.csv')

CPU times: user 10 ms, sys: 616 µs, total: 10.6 ms
Wall time: 9.28 ms

In [46]:
%%time

dataframe.describe()

CPU times: user 11.6 ms, sys: 0 ns, total: 11.6 ms
Wall time: 9.39 ms

               lat          lon
count  1079.000000  1079.000000
mean     39.994613   116.321018
std       0.010044     0.006930
min      39.970511   116.300872
25%      39.987391   116.317925
50%      39.992046   116.322821
75%      40.003133   116.326498
max      40.012452   116.341455

In [47]:
%%time
len(dataframe.columns)

CPU times: user 7 µs, sys: 2 µs, total: 9 µs
Wall time: 12.4 µs

2

In [48]:
%%time
dataframe.dtypes

CPU times: user 272 µs, sys: 0 ns, total: 272 µs
Wall time: 277 µs

lat    float64
lon    float64
dtype: object

In [49]:
%%time
temporal.create_date_column(dataframe, True).head()

CPU times: user 4.77 ms, sys: 19.4 ms, total: 24.2 ms
Wall time: 48.1 ms

,,DateTime,traj_id,lat,lon,Date
DateTime,traj_id,,,,,
2008-10-23 05:53:05,1,2008-10-23 05:53:05,1,39.984094,116.319236,2008-10-23
2008-10-23 05:53:06,1,2008-10-23 05:53:06,1,39.984198,116.319322,2008-10-23
2008-10-23 05:53:11,1,2008-10-23 05:53:11,1,39.984224,116.319402,2008-10-23
2008-10-23 05:53:16,1,2008-10-23 05:53:16,1,39.984211,116.319389,2008-10-23
2008-10-23 05:53:21,1,2008-10-23 05:53:21,1,39.984217,116.319422,2008-10-23