In [1]:
%%time

import pandas as pd
from Nummobility.core.TrajectoryDF import NumPandasTraj
from Nummobility.semantics.semantic_features import SemanticFeatures

"""
    First of all, lets import all the datasets one by one
    and check out a few of their points.
"""
# Reading the geolife dataset and converting to NumPandasTraj.
# Also, lets, print the first 5 points of the dataset to
# see how the dataframe looks.
geolife = pd.read_csv('./data/geolife_sample.csv')
geolife = NumPandasTraj(geolife,'lat','lon','datetime','id')
geolife.head()

CPU times: user 1.81 s, sys: 143 ms, total: 1.95 s
Wall time: 1.96 s

                                   lat         lon
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402
        2008-10-23 05:53:16  39.984211  116.319389
        2008-10-23 05:53:21  39.984217  116.319422
        2008-10-23 05:53:23  39.984710  116.319865
        2008-10-23 05:53:28  39.984674  116.319810

In [2]:
small = geolife.reset_index().loc[geolife.reset_index()['traj_id'] == '1']
small = NumPandasTraj(small,
                      latitude='lat',
                      longitude='lon',
                      datetime='datetime',
                      traj_id='traj_id')
small.head()

                                   lat         lon
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402
        2008-10-23 05:53:16  39.984211  116.319389
        2008-10-23 05:53:21  39.984217  116.319422
        2008-10-23 05:53:23  39.984710  116.319865
        2008-10-23 05:53:28  39.984674  116.319810

In [3]:
%%time

sem = SemanticFeatures.nearest_bank_detection(small)

CPU times: user 1.3 s, sys: 72.6 ms, total: 1.37 s
Wall time: 3.22 s

In [4]:
from Nummobility.features.spatial_features import SpatialFeatures

dis = SpatialFeatures.get_distance_travelled_by_traj_id(small,
                                                        '1')
dis

1024749.3231767347

In [5]:
sem

[(39.984224, 116.319402),
 (39.970511, 116.341455),
 (40.002144, 116.3216),
 (40.00061, 116.276216),
 (39.997042, 116.226962),
 (39.977879, 116.326628)]

In [6]:
len(sem)

6