In [1]:
import pandas as pd
from core.TrajectoryDF import NumPandasTraj as TrajDF

In [2]:
pdf = pd.read_csv('./data/dataset_raw_full.csv')
np_traj = TrajDF(pdf, "Latitude","Longitude", "Date_Time","Id_user")
np_traj.head()

,,lat,lon,Altitude,Id_perc,Label
DateTime,traj_id,,,,,
2008-03-31 16:00:08,10,41.741415,86.186028,-777.0,20080331160008.plt,taxi
2008-03-31 16:01:07,10,41.737063,86.179470,-777.0,20080331160008.plt,taxi
2008-03-31 16:02:07,10,41.734105,86.172823,-777.0,20080331160008.plt,taxi
2008-03-31 16:03:06,10,41.739110,86.166563,-777.0,20080331160008.plt,taxi
2008-03-31 16:04:05,10,41.744368,86.159987,-777.0,20080331160008.plt,taxi

In [10]:
home = np_traj.traj_id.value_counts().sort_values()
home

60          8
114        57
136        96
87         99
53        196
117       199
107       199
76        232
111       288
175       293
80        355
91        361
108       371
86        389
144       493
97        521
98        557
161       577
92        641
139      1023
101      1088
58       1114
56       1205
89       1468
105      1559
138      1596
21       1633
129      2800
69       2988
170      3727
102      5742
75       6673
81      10146
73      10457
64      14357
125     25889
96      31603
78      32987
67      37003
82      41421
112     45774
179     66416
163     75748
115     86069
141     98288
52      99255
153    111019
20     138441
84     139635
126    177681
65     192035
62     216681
10     254722
85     261023
167    349425
128    382820
68     449860
Name: traj_id, dtype: int64