In [1]:
import pandas as pd
import utm

pdf = pd.read_csv('./data/new_starkey.txt')
pdf.columns = pdf.columns.str.strip()
pdf.head()

,UTMGrid,UTMGridEast,UTMGridNorth,SoilDpth,PerSlope,SINAspct,COSAspct,Convex3,DistCWat,Canopy,Elev,DistEWat,EcoGener,DistOPEN,DistRSTR,DistCLSD,DistEFnc,CowPast,ForgProd,DistEdge
0,373695 5014470,373695,5014470,14,5,-0.81,0.59,500.63,218,3,1389,212,GB,127,2271,30,0,SMITH-BALLY,363,0
1,373695 5014500,373695,5014500,14,5,-0.71,0.71,500.21,228,3,1388,218,GB,150,2293,30,0,SMITH-BALLY,363,0
2,373695 5014530,373695,5014530,14,4,-0.89,0.45,499.93,242,3,1387,228,GB,170,2315,30,0,SMITH-BALLY,363,0
3,373725 5014230,373725,5014230,14,8,-0.98,0.21,500.68,201,5,1393,201,GB,30,2081,134,0,SMITH-BALLY,363,0
4,373725 5014260,373725,5014260,14,7,-0.97,0.22,501.22,190,5,1393,190,GB,30,2101,108,0,SMITH-BALLY,363,0

In [2]:
lat, lon = utm.to_latlon(easting=pdf['UTMGridEast'],
                         northing=pdf['UTMGridNorth'],
                         zone_number=11,
                         northern=True)
pdf['lat'] = lat
pdf['lon'] = lon
pdf = pdf.drop(columns = ['UTMGrid', 'UTMGridEast', 'UTMGridNorth'])
starkey = pdf
starkey.head()

,SoilDpth,PerSlope,SINAspct,COSAspct,Convex3,DistCWat,Canopy,Elev,DistEWat,EcoGener,DistOPEN,DistRSTR,DistCLSD,DistEFnc,CowPast,ForgProd,DistEdge,lat,lon
0,14,5,-0.81,0.59,500.63,218,3,1389,212,GB,127,2271,30,0,SMITH-BALLY,363,0,45.272378,-118.610193
1,14,5,-0.71,0.71,500.21,228,3,1388,218,GB,150,2293,30,0,SMITH-BALLY,363,0,45.272648,-118.610201
2,14,4,-0.89,0.45,499.93,242,3,1387,228,GB,170,2315,30,0,SMITH-BALLY,363,0,45.272918,-118.610208
3,14,8,-0.98,0.21,500.68,201,5,1393,201,GB,30,2081,134,0,SMITH-BALLY,363,0,45.270224,-118.609750
4,14,7,-0.97,0.22,501.22,190,5,1393,190,GB,30,2101,108,0,SMITH-BALLY,363,0,45.270494,-118.609757

In [3]:
starkey.columns

Index(['SoilDpth', 'PerSlope', 'SINAspct', 'COSAspct', 'Convex3', 'DistCWat',
       'Canopy', 'Elev', 'DistEWat', 'EcoGener', 'DistOPEN', 'DistRSTR',
       'DistCLSD', 'DistEFnc', 'CowPast', 'ForgProd', 'DistEdge', 'lat',
       'lon'],
      dtype='object')

In [4]:
starkey = starkey[['lat','lon','SoilDpth', 'PerSlope', 'SINAspct', 'COSAspct', 'Convex3', 'DistCWat',
       'Canopy', 'Elev', 'DistEWat', 'EcoGener', 'DistOPEN', 'DistRSTR',
       'DistCLSD', 'DistEFnc', 'CowPast', 'ForgProd', 'DistEdge']]

In [5]:
starkey.head()

,lat,lon,SoilDpth,PerSlope,SINAspct,COSAspct,Convex3,DistCWat,Canopy,Elev,DistEWat,EcoGener,DistOPEN,DistRSTR,DistCLSD,DistEFnc,CowPast,ForgProd,DistEdge
0,45.272378,-118.610193,14,5,-0.81,0.59,500.63,218,3,1389,212,GB,127,2271,30,0,SMITH-BALLY,363,0
1,45.272648,-118.610201,14,5,-0.71,0.71,500.21,228,3,1388,218,GB,150,2293,30,0,SMITH-BALLY,363,0
2,45.272918,-118.610208,14,4,-0.89,0.45,499.93,242,3,1387,228,GB,170,2315,30,0,SMITH-BALLY,363,0
3,45.270224,-118.609750,14,8,-0.98,0.21,500.68,201,5,1393,201,GB,30,2081,134,0,SMITH-BALLY,363,0
4,45.270494,-118.609757,14,7,-0.97,0.22,501.22,190,5,1393,190,GB,30,2101,108,0,SMITH-BALLY,363,0

In [6]:
starkey['CowPast'] = starkey['CowPast'].str.strip()
starkey['EcoGener'] = starkey['EcoGener'].str.strip()

In [7]:
starkey.to_csv('./data/starkey_habitat.csv', index_label=False, index=False)

In [8]:

starkey.head()

,lat,lon,SoilDpth,PerSlope,SINAspct,COSAspct,Convex3,DistCWat,Canopy,Elev,DistEWat,EcoGener,DistOPEN,DistRSTR,DistCLSD,DistEFnc,CowPast,ForgProd,DistEdge
0,45.272378,-118.610193,14,5,-0.81,0.59,500.63,218,3,1389,212,GB,127,2271,30,0,SMITH-BALLY,363,0
1,45.272648,-118.610201,14,5,-0.71,0.71,500.21,228,3,1388,218,GB,150,2293,30,0,SMITH-BALLY,363,0
2,45.272918,-118.610208,14,4,-0.89,0.45,499.93,242,3,1387,228,GB,170,2315,30,0,SMITH-BALLY,363,0
3,45.270224,-118.609750,14,8,-0.98,0.21,500.68,201,5,1393,201,GB,30,2081,134,0,SMITH-BALLY,363,0
4,45.270494,-118.609757,14,7,-0.97,0.22,501.22,190,5,1393,190,GB,30,2101,108,0,SMITH-BALLY,363,0

,lat,lon,SoilDpth,PerSlope,SINAspct,COSAspct,Convex3,DistCWat,Canopy,Elev,DistEWat,EcoGener,DistOPEN,DistRSTR,DistCLSD,DistEFnc,CowPast,ForgProd,DistEdge
537,45.289433,-118.607233,29,30,0.91,0.41,499.08,-99,10,1252,134,CL,42,182,190,0,MDWCRK,200,0
538,45.289703,-118.607240,29,24,0.87,0.50,498.36,-99,10,1249,124,CL,60,190,182,0,MDWCRK,200,0
539,45.289973,-118.607248,29,19,0.88,0.47,495.96,-99,10,1245,120,CL,60,201,180,30,MDWCRK,200,30
540,45.290243,-118.607256,29,14,1.00,0.03,496.01,-99,10,1244,120,CL,30,216,180,30,MDWCRK,200,30
541,45.290513,-118.607263,29,16,0.89,-0.45,497.70,-99,10,1245,124,CL,0,234,180,0,MDWCRK,200,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85504,45.217027,-118.510817,31,13,0.99,0.12,498.75,-99,55,1277,95,CW,60,420,301,124,HORSE,309,60
85505,45.217297,-118.510824,31,12,1.00,0.05,498.09,-99,55,1276,67,CW,60,390,331,120,HORSE,309,60
85506,45.217567,-118.510831,31,10,1.00,0.00,498.52,-99,55,1276,42,CW,60,360,361,120,HORSE,309,60
85590,45.216492,-118.510420,31,16,1.00,-0.03,499.80,-99,55,1273,170,CW,30,481,240,127,STRIP,309,30
85591,45.216762,-118.510428,31,14,1.00,0.00,499.37,-99,55,1273,120,CW,30,451,270,108,HORSE,309,30