In [1]:
# Steps to convert starkey to NumMobility read:
"""
    1. Convert the Easting and Northing to latitude and
       longitude respectively using the utm library which
       can be installed using pip.
    2. Then, create a DateTime column for the dataset.
    3. Rearrange the columns.
    4. Done!

    Warning: Please do not run this multiple times, run it
             once only if you want to see the results.
"""

import pandas as pd
import utm

starkey = pd.read_csv('./data/starkey.txt')
starkey.columns = starkey.columns.str.strip()
starkey.head()

,UTMGrid,UTMGridEast,UTMGridNorth,Id,StarkeyTime,GMDate,GMTime,LocDate,LocTime,RadNum,Species,UTME,UTMN,Year,Grensunr,Grensuns,Obswt
0,374145 5014200,374145,5014200,890424E06,168825628,02:08:28,19930507,19930506,18:08:28,59,E,374137,5014190,93,12:34:00,03:10:00,1.62
1,374265 5010180,374265,5010180,921228E09,168826022,07:02:02,19930507,19930506,23:02:02,57,E,374262,5010176,93,12:34:00,03:10:00,1.36
2,377475 5015730,377475,5015730,890222E01,168826135,08:55:55,19930507,19930507,00:55:55,46,E,377477,5015745,93,12:34:00,03:10:00,1.68
3,374805 5018490,374805,5018490,910313E19,168826274,01:11:14,19930507,19930506,17:11:14,54,E,374795,5018503,93,12:34:00,03:10:00,1.43
4,377055 5008470,377055,5008470,910313E37,168826332,01:21:12,19930507,19930506,17:21:12,67,E,377053,5008474,93,12:34:00,03:10:00,1.73

In [2]:
lat, lon = utm.to_latlon(easting=starkey['UTMGridEast'],
                         northing=starkey['UTMGridNorth'],
                         zone_number=11,
                         northern=True)
starkey['UTMGridEast'] = lat
starkey['UTMGridNorth'] = lon

In [3]:
starkey = starkey.rename(columns={'UTMGridEast': 'lat',
                                  'UTMGridNorth': 'lon'})
starkey.head()

,UTMGrid,lat,lon,Id,StarkeyTime,GMDate,GMTime,LocDate,LocTime,RadNum,Species,UTME,UTMN,Year,Grensunr,Grensuns,Obswt
0,374145 5014200,45.270030,-118.604390,890424E06,168825628,02:08:28,19930507,19930506,18:08:28,59,E,374137,5014190,93,12:34:00,03:10:00,1.62
1,374265 5010180,45.233879,-118.601844,921228E09,168826022,07:02:02,19930507,19930506,23:02:02,57,E,374262,5010176,93,12:34:00,03:10:00,1.36
2,377475 5015730,45.284385,-118.562334,890222E01,168826135,08:55:55,19930507,19930507,00:55:55,46,E,377477,5015745,93,12:34:00,03:10:00,1.68
3,374805 5018490,45.308749,-118.597063,910313E19,168826274,01:11:14,19930507,19930506,17:11:14,54,E,374795,5018503,93,12:34:00,03:10:00,1.43
4,377055 5008470,45.218985,-118.565890,910313E37,168826332,01:21:12,19930507,19930506,17:21:12,67,E,377053,5008474,93,12:34:00,03:10:00,1.73

In [6]:
import datetime


dates = []
for i in range(len(starkey['LocDate'])):
    date = str(starkey.iloc[i]['LocDate'])
    dates.append(f"{date[0:4]}-{date[4:6]}-{date[6:8]}")

In [8]:
dates = pd.to_datetime(dates)
times = pd.to_datetime(starkey['LocTime']).dt.time

a = [None] * len(starkey['LocTime'])
for i in range(len(starkey['LocTime'])):
    a[i] = datetime.datetime.combine(date=dates[i],
                                     time=times[i])

In [9]:
datetime= pd.to_datetime(a, format='%Y-%m-%d %H:%M:%S')
starkey.insert(0, 'DateTime', datetime)

In [10]:
starkey.head()

,DateTime,UTMGrid,lat,lon,Id,StarkeyTime,GMDate,GMTime,LocDate,LocTime,RadNum,Species,UTME,UTMN,Year,Grensunr,Grensuns,Obswt
0,1993-05-06 18:08:28,374145 5014200,45.270030,-118.604390,890424E06,168825628,02:08:28,19930507,19930506,18:08:28,59,E,374137,5014190,93,12:34:00,03:10:00,1.62
1,1993-05-06 23:02:02,374265 5010180,45.233879,-118.601844,921228E09,168826022,07:02:02,19930507,19930506,23:02:02,57,E,374262,5010176,93,12:34:00,03:10:00,1.36
2,1993-05-07 00:55:55,377475 5015730,45.284385,-118.562334,890222E01,168826135,08:55:55,19930507,19930507,00:55:55,46,E,377477,5015745,93,12:34:00,03:10:00,1.68
3,1993-05-06 17:11:14,374805 5018490,45.308749,-118.597063,910313E19,168826274,01:11:14,19930507,19930506,17:11:14,54,E,374795,5018503,93,12:34:00,03:10:00,1.43
4,1993-05-06 17:21:12,377055 5008470,45.218985,-118.565890,910313E37,168826332,01:21:12,19930507,19930506,17:21:12,67,E,377053,5008474,93,12:34:00,03:10:00,1.73

In [11]:
starkey.columns.to_list()

['DateTime',
 'UTMGrid',
 'lat',
 'lon',
 'Id',
 'StarkeyTime',
 'GMDate',
 'GMTime',
 'LocDate',
 'LocTime',
 'RadNum',
 'Species',
 'UTME',
 'UTMN',
 'Year',
 'Grensunr',
 'Grensuns',
 'Obswt']

In [12]:
cols = ['Id', 'DateTime', 'lat', 'lon', 'StarkeyTime', 'GMDate',
        'GMTime', 'LocDate', 'LocTime', 'RadNum', 'Species',
        'UTME', 'UTMN', 'Year', 'Grensunr', 'Grensuns', 'Obswt']

starkey = starkey[cols]

In [13]:
starkey.head()

,Id,DateTime,lat,lon,StarkeyTime,GMDate,GMTime,LocDate,LocTime,RadNum,Species,UTME,UTMN,Year,Grensunr,Grensuns,Obswt
0,890424E06,1993-05-06 18:08:28,45.270030,-118.604390,168825628,02:08:28,19930507,19930506,18:08:28,59,E,374137,5014190,93,12:34:00,03:10:00,1.62
1,921228E09,1993-05-06 23:02:02,45.233879,-118.601844,168826022,07:02:02,19930507,19930506,23:02:02,57,E,374262,5010176,93,12:34:00,03:10:00,1.36
2,890222E01,1993-05-07 00:55:55,45.284385,-118.562334,168826135,08:55:55,19930507,19930507,00:55:55,46,E,377477,5015745,93,12:34:00,03:10:00,1.68
3,910313E19,1993-05-06 17:11:14,45.308749,-118.597063,168826274,01:11:14,19930507,19930506,17:11:14,54,E,374795,5018503,93,12:34:00,03:10:00,1.43
4,910313E37,1993-05-06 17:21:12,45.218985,-118.565890,168826332,01:21:12,19930507,19930506,17:21:12,67,E,377053,5008474,93,12:34:00,03:10:00,1.73

In [14]:
starkey.to_csv('./data/starkey.csv', index=False, index_label=False)