In [1]:
from core.TrajectoryDF import NumPandasTraj as NumTrajDF
from features.temporal_features import TemporalFeatures as temporal
import pandas as pd
import utilities.constants as const
import numpy as np
from features.helper_functions import Helpers as help
import pymove as pm

In [2]:
%%time
# Now lets import the gulls.csv and convert it into our
# NumPandasTraj.

gulls = pd.read_csv('./data/gulls.csv')
gulls = NumTrajDF(gulls,
                 latitude='location-lat',
                 longitude='location-long',
                 datetime='timestamp',
                 traj_id='tag-local-identifier',
                 rest_of_columns=[])
gulls.head()

CPU times: user 273 ms, sys: 11.2 ms, total: 284 ms
Wall time: 283 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

In [3]:
%%time
# Now lets import the geolife_sample.csv and convert it into our
# NumPandasTraj.

pdf = pd.read_csv('./data/geolife_sample.csv')
dataframe = NumTrajDF(pdf,'lat','lon','datetime','id')
dataframe.head()

CPU times: user 443 ms, sys: 55.6 ms, total: 499 ms
Wall time: 497 ms

                                   lat         lon
traj_id DateTime
1       2008-10-23 16:53:05  39.984094  116.319236
        2008-10-23 16:53:06  39.984198  116.319322
        2008-10-23 05:53:11  39.984224  116.319402
        2008-10-23 05:53:16  39.984211  116.319389
        2008-10-23 05:53:21  39.984217  116.319422

In [4]:
pm_traj = pm.MoveDataFrame(pdf, 'lat', 'lon', 'datetime', 'id')

In [5]:
%%time
# Here, we will calculate the date, time, day of the week and whether
# it is weekend or not in the same cell. Upon running, the library
# always executes within 3-4 seconds. Compared to dask version of this,
# only the time column creation took 7.5 seconds. So this version
# is more efficient in terms of code execution and memory usage.

dataframe = temporal.create_time_column(dataframe)
dataframe = temporal.create_time_of_day_column(dataframe)
dataframe = temporal.create_date_column(dataframe)
dataframe = temporal.create_day_of_week_column(dataframe)
dataframe = temporal.create_weekend_indicator_column(dataframe)
dataframe.head()
#

CPU times: user 1.22 s, sys: 53.9 ms, total: 1.27 s
Wall time: 1.27 s

                                   lat         lon      Time    Time_Of_Day  \
traj_id DateTime
1       2008-10-23 16:53:05  39.984094  116.319236  16:53:05           Noon
        2008-10-23 16:53:06  39.984198  116.319322  16:53:06           Noon
        2008-10-23 05:53:11  39.984224  116.319402  05:53:11  Early Morning
        2008-10-23 05:53:16  39.984211  116.319389  05:53:16  Early Morning
        2008-10-23 05:53:21  39.984217  116.319422  05:53:21  Early Morning

                                   Date Day_Of_Week  Weekend
traj_id DateTime
1       2008-10-23 16:53:05  2008-10-23    Thursday    False
        2008-10-23 16:53:06  2008-10-23    Thursday    False
        2008-10-23 05:53:11  2008-10-23    Thursday    False
        2008-10-23 05:53:16  2008-10-23    Thursday    False
        2008-10-23 05:53:21  2008-10-23    Thursday    False

In [6]:
%%time
# Here, we will calculate the date, time, day of the week and whether
# it is weekend or not in the same cell. Upon running, the library
# always executes within 2 seconds even though this has more number
# of trajectories as compared to geolife_sample.csv.

gulls = temporal.create_time_column(gulls)
gulls = temporal.create_time_of_day_column(gulls)
gulls = temporal.create_date_column(gulls)
gulls = temporal.create_day_of_week_column(gulls)
gulls = temporal.create_weekend_indicator_column(gulls)
gulls.head()

CPU times: user 472 ms, sys: 10.9 ms, total: 483 ms
Wall time: 482 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name  \
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

                                 Time    Time_Of_Day        Date Day_Of_Week  \
traj_id DateTime
91732   2009-05-27 14:00:00  14:00:00           Noon  2009-05-27   Wednesday
        2009-05-27 20:00:00  20:00:00        Evening  2009-05-27   Wednesday
        2009-05-28 05:00:00  05:00:00  Early Morning  2009-05-28    Thursday
        2009-05-28 08:00:00  08:00:00  Early Morning  2009-05-28    Thursday
        2009-05-28 14:00:00  14:00:00           Noon  2009-05-28    Thursday

                             Weekend
traj_id DateTime
91732   2009-05-27 14:00:00    False
        2009-05-27 20:00:00    False
        2009-05-28 05:00:00    False
        2009-05-28 08:00:00    False
        2009-05-28 14:00:00    False

In [7]:
%%time

# Now, let's calculate the time duration.
delta_one = temporal.get_traj_duration(dataframe)
delta_two = temporal.get_traj_duration(dataframe, traj_id='5')
delta_one

CPU times: user 1.73 s, sys: 157 ms, total: 1.89 s
Wall time: 2.26 s

            Traj_Duration
traj_id
1        52 days 18:38:07
5       146 days 01:34:07