In [1]:
from core.TrajectoryDF import NumPandasTraj as NumTrajDF
from features.temporal_features import TemporalFeatures as temporal
import pandas as pd

In [2]:
%%time
# Now lets import the gulls.csv and convert it into our
# NumPandasTraj.

gulls = pd.read_csv('./data/gulls.csv')
gulls = NumTrajDF(gulls,
                 latitude='location-lat',
                 longitude='location-long',
                 datetime='timestamp',
                 traj_id='tag-local-identifier',
                 rest_of_columns=[])
gulls.head()

CPU times: user 285 ms, sys: 27.4 ms, total: 312 ms
Wall time: 311 ms

,,event-id,visible,lon,lat,sensor-type,individual-taxon-canonical-name,individual-local-identifier,study-name
DateTime,traj_id,,,,,,,,
2009-05-27 14:00:00,91732,1082620685,True,24.58617,61.24783,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...
2009-05-27 20:00:00,91732,1082620686,True,24.58217,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...
2009-05-28 05:00:00,91732,1082620687,True,24.53133,61.18833,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...
2009-05-28 08:00:00,91732,1082620688,True,24.58200,61.23283,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...
2009-05-28 14:00:00,91732,1082620689,True,24.58250,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...

In [3]:
%%time
# Now lets import the geolife_sample.csv and convert it into our
# NumPandasTraj.

pdf = pd.read_csv('./data/geolife_sample.csv')
dataframe = NumTrajDF(pdf,'lat','lon','datetime','id')
dataframe.head()

CPU times: user 489 ms, sys: 29.1 ms, total: 518 ms
Wall time: 517 ms

                                   lat         lon
DateTime            traj_id
2008-10-23 16:53:05 1        39.984094  116.319236
2008-10-23 16:53:06 1        39.984198  116.319322
2008-10-23 05:53:11 1        39.984224  116.319402
2008-10-23 05:53:16 1        39.984211  116.319389
2008-10-23 05:53:21 1        39.984217  116.319422

In [4]:
%%time
# Here, we will calculate the date, time, day of the week and whether
# it is weekend or not in the same cell. Upon running, the library
# always executes within 3-4 seconds. Compared to dask version of this,
# only the time column creation took 7.5 seconds. So this version
# is more efficient in terms of code execution and memory usage.

dataframe = temporal.create_time_column(dataframe, True)
dataframe = temporal.create_time_of_day_column(dataframe, True)
dataframe = temporal.create_date_column(dataframe, True)
dataframe = temporal.create_day_of_week_column(dataframe, True)
dataframe = temporal.create_weekend_indicator_column(dataframe, True)
dataframe.head()

CPU times: user 2.97 s, sys: 889 ms, total: 3.85 s
Wall time: 5.61 s

,,lat,lon,Time,Time_Of_Day,Date,Day_Of_Week,Weekend
DateTime,traj_id,,,,,,,
2008-10-23 16:53:05,1,39.984094,116.319236,16:53:05,Noon,2008-10-23,Thursday,False
2008-10-23 16:53:06,1,39.984198,116.319322,16:53:06,Noon,2008-10-23,Thursday,False
2008-10-23 05:53:11,1,39.984224,116.319402,05:53:11,Early Morning,2008-10-23,Thursday,False
2008-10-23 05:53:16,1,39.984211,116.319389,05:53:16,Early Morning,2008-10-23,Thursday,False
2008-10-23 05:53:21,1,39.984217,116.319422,05:53:21,Early Morning,2008-10-23,Thursday,False

In [5]:
%%time
# Here, we will calculate the date, time, day of the week and whether
# it is weekend or not in the same cell. Upon running, the library
# always executes within 2 seconds even though this has more number
# of trajectories as compared to geolife_sample.csv.

gulls = temporal.create_time_column(gulls, True)
gulls = temporal.create_time_of_day_column(gulls, True)
gulls = temporal.create_date_column(gulls, True)
gulls = temporal.create_day_of_week_column(gulls, True)
gulls = temporal.create_weekend_indicator_column(gulls, True)
gulls.head()

CPU times: user 1.43 s, sys: 528 ms, total: 1.96 s
Wall time: 3.31 s

,,event-id,visible,lon,lat,sensor-type,individual-taxon-canonical-name,individual-local-identifier,study-name,Time,Time_Of_Day,Date,Day_Of_Week,Weekend
DateTime,traj_id,,,,,,,,,,,,,
2009-05-27 14:00:00,91732,1082620685,True,24.58617,61.24783,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,14:00:00,Noon,2009-05-27,Wednesday,False
2009-05-27 20:00:00,91732,1082620686,True,24.58217,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,20:00:00,Evening,2009-05-27,Wednesday,False
2009-05-28 05:00:00,91732,1082620687,True,24.53133,61.18833,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,05:00:00,Early Morning,2009-05-28,Thursday,False
2009-05-28 08:00:00,91732,1082620688,True,24.58200,61.23283,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,08:00:00,Early Morning,2009-05-28,Thursday,False
2009-05-28 14:00:00,91732,1082620689,True,24.58250,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,14:00:00,Noon,2009-05-28,Thursday,False

In [8]:
%%time

# Now, let's calculate the time duration.
delta_one = temporal.get_traj_duration(dataframe)
delta_two = temporal.get_traj_duration(dataframe, traj_id='5')
delta_one

CPU times: user 213 ms, sys: 0 ns, total: 213 ms
Wall time: 211 ms

Timedelta('146 days 23:53:26')