In [1]:
import pymove as pm
import pandas as pd
from core.TrajectoryDF import NumPandasTraj as TrajDF
from features.spatial_features import SpatialFeatures as spatial
from utilities.conversions import Conversions as con

In [2]:
atlantic = pd.read_csv('./data/atlantic.csv')
atlantic = con.convert_directions_to_degree_lat_lon(atlantic, 'Latitude',"Longitude")
def convert_to_datetime(row):
        this_date = '{}-{}-{}'.format(str(row['Date'])[0:4], str(row['Date'])[4:6], str(row['Date'])[6:])
        this_time = '{:02d}:{:02d}:00'.format(int(row['Time']/100), int(str(row['Time'])[-2:]))
        return '{} {}'.format(this_date, this_time)
atlantic['DateTime'] = atlantic.apply(convert_to_datetime, axis=1)

gulls = pd.read_csv('./data/gulls.csv')

geolife = pd.read_csv('./data/geolife_sample.csv')

In [3]:
%%time

np_atlantic = TrajDF(atlantic,
                         latitude='Latitude',
                         longitude='Longitude',
                         datetime='DateTime',
                         traj_id='ID',
                         rest_of_columns=[])

np_gulls = TrajDF(gulls,
                 latitude='location-lat',
                 longitude='location-long',
                 datetime='timestamp',
                 traj_id='tag-local-identifier',
                 rest_of_columns=[])

np_geolife = TrajDF(geolife,latitude='lat',
                     longitude='lon',
                     datetime='datetime',
                     traj_id='id')

CPU times: user 515 ms, sys: 8.06 ms, total: 523 ms
Wall time: 522 ms

In [4]:
%%time

pm_atlantic = pm.MoveDataFrame(atlantic,
                         latitude='Latitude',
                         longitude='Longitude',
                         datetime='DateTime',
                         traj_id='ID')

pm_gulls = pm.MoveDataFrame(gulls,
                 latitude='location-lat',
                 longitude='location-long',
                 datetime='timestamp',
                 traj_id='tag-local-identifier')

pm_geolife = pm.MoveDataFrame(geolife,
                              latitude='lat',
                              longitude='lon',
                              datetime='datetime',
                              traj_id='id')

CPU times: user 107 ms, sys: 3.95 ms, total: 111 ms
Wall time: 110 ms

In [5]:
%%time

small_one = spatial.create_distance_between_consecutive_column(np_atlantic)
small_one = spatial.create_distance_from_start_column(small_one)
small_one.head()

CPU times: user 568 ms, sys: 433 ms, total: 1 s
Wall time: 2.28 s

,,Name,Date,Time,Event,Status,lat,lon,Maximum Wind,Minimum Pressure,Low Wind NE,...,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW,Distance_prev_to_curr,Distance_start_to_curr
DateTime,traj_id,,,,,,,,,,,,,,,,,,,,,
1873-08-13 00:00:00,AL021873,UNNAMED,18730813,0,,TS,13.9,-25.0,40,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,NaN,NaN
1873-08-13 06:00:00,AL021873,UNNAMED,18730813,600,,TS,14.0,-26.0,40,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,108486.658872,108486.658872
1873-08-13 12:00:00,AL021873,UNNAMED,18730813,1200,,TS,14.0,-27.0,40,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,107891.881958,216116.369259
1873-08-13 18:00:00,AL021873,UNNAMED,18730813,1800,,TS,14.1,-28.1,40,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,119175.045002,335201.031514
1873-08-14 00:00:00,AL021873,UNNAMED,18730814,0,,TS,14.1,-29.3,50,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,129413.676731,464461.502447

In [6]:
%%time

pm_atlantic.generate_dist_features()
pm_atlantic.set_index(['id'], drop=True, inplace=True)
pm_atlantic.head()

VBox(children=(HTML(value=''), IntProgress(value=0, max=1814)))

CPU times: user 25.7 s, sys: 61 ms, total: 25.8 s
Wall time: 25.6 s

,Name,Date,Time,Event,Status,lat,lon,Maximum Wind,Minimum Pressure,Low Wind NE,...,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW,datetime,dist_to_prev,dist_to_next,dist_prev_to_next
id,,,,,,,,,,,,,,,,,,,,,
AL011851,UNNAMED,18510625,0,,HU,28.0,-94.8,80,-999,-999,...,-999,-999,-999,-999,-999,-999,1851-06-25 00:00:00,NaN,58907.516366,NaN
AL011851,UNNAMED,18510625,600,,HU,28.0,-95.4,80,-999,-999,...,-999,-999,-999,-999,-999,-999,1851-06-25 06:00:00,58907.516366,58907.516366,117814.676769
AL011851,UNNAMED,18510625,1200,,HU,28.0,-96.0,80,-999,-999,...,-999,-999,-999,-999,-999,-999,1851-06-25 12:00:00,58907.516366,50310.976622,108517.871246
AL011851,UNNAMED,18510625,1800,,HU,28.1,-96.5,80,-999,-999,...,-999,-999,-999,-999,-999,-999,1851-06-25 18:00:00,50310.976622,31444.370265,81560.691439
AL011851,UNNAMED,18510625,2100,L,HU,28.2,-96.8,80,-999,-999,...,-999,-999,-999,-999,-999,-999,1851-06-25 21:00:00,31444.370265,19599.292319,50266.402639

In [7]:
%%time

small_two = spatial.create_distance_between_consecutive_column(np_gulls)
small_two = spatial.create_distance_from_start_column(small_two)
small_two.head()

CPU times: user 308 ms, sys: 141 ms, total: 449 ms
Wall time: 871 ms

,,event-id,visible,lon,lat,sensor-type,individual-taxon-canonical-name,individual-local-identifier,study-name,Distance_prev_to_curr,Distance_start_to_curr
DateTime,traj_id,,,,,,,,,,
2009-05-27 14:00:00,91732,1082620685,True,24.58617,61.24783,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,NaN,NaN
2009-05-27 20:00:00,91732,1082620686,True,24.58217,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,1699.244398,1699.244398
2009-05-28 05:00:00,91732,1082620687,True,24.53133,61.18833,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,5632.120064,7238.295521
2009-05-28 08:00:00,91732,1082620688,True,24.58200,61.23283,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,5643.314949,1682.777895
2009-05-28 14:00:00,91732,1082620689,True,24.58250,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,32.131494,1697.111327

In [8]:
%%time

pm_gulls.generate_dist_features()
pm_gulls.set_index(['id'], drop=True, inplace=True)
pm_gulls.head()

VBox(children=(HTML(value=''), IntProgress(value=0, max=126)))

CPU times: user 590 ms, sys: 48.2 ms, total: 638 ms
Wall time: 571 ms

,event-id,visible,datetime,lon,lat,sensor-type,individual-taxon-canonical-name,individual-local-identifier,study-name,dist_to_prev,dist_to_next,dist_prev_to_next
id,,,,,,,,,,,,
91732,1082620685,True,2009-05-27 14:00:00,24.58617,61.24783,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,NaN,1699.244398,NaN
91732,1082620686,True,2009-05-27 20:00:00,24.58217,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,1699.244398,5632.120064,7238.295521
91732,1082620687,True,2009-05-28 05:00:00,24.53133,61.18833,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,5632.120064,5643.314949,19.982121
91732,1082620688,True,2009-05-28 08:00:00,24.58200,61.23283,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,5643.314949,32.131494,5640.683634
91732,1082620689,True,2009-05-28 14:00:00,24.58250,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,32.131494,1679.440928,1665.145497

In [9]:
%%time

small_three = spatial.create_distance_between_consecutive_column(np_geolife)
small_three = spatial.create_distance_from_start_column(small_three)
small_three.head()

CPU times: user 454 ms, sys: 16 ms, total: 470 ms
Wall time: 468 ms

,,lat,lon,Distance_prev_to_curr,Distance_start_to_curr
DateTime,traj_id,,,,
2008-10-23 16:53:05,1,39.984094,116.319236,NaN,NaN
2008-10-23 16:53:06,1,39.984198,116.319322,13.690153,13.690153
2008-10-23 05:53:11,1,39.984224,116.319402,7.403788,20.223428
2008-10-23 05:53:16,1,39.984211,116.319389,1.821083,18.416895
2008-10-23 05:53:21,1,39.984217,116.319422,2.889671,20.933073

In [10]:
%%time

pm_geolife.generate_dist_features()
pm_geolife.set_index(['id'], inplace=True, drop=True)
pm_geolife.head()

VBox(children=(HTML(value=''), IntProgress(value=0, max=2)))

CPU times: user 191 ms, sys: 12.1 ms, total: 203 ms
Wall time: 198 ms

,lat,lon,datetime,dist_to_prev,dist_to_next,dist_prev_to_next
id,,,,,,
1,39.984094,116.319236,2008-10-23 16:53:05,NaN,13.690153,NaN
1,39.984198,116.319322,2008-10-23 16:53:06,13.690153,7.403788,20.223428
1,39.984224,116.319402,2008-10-23 05:53:11,7.403788,1.821083,5.888579
1,39.984211,116.319389,2008-10-23 05:53:16,1.821083,2.889671,1.873356
1,39.984217,116.319422,2008-10-23 05:53:21,2.889671,66.555997,68.727260

In [11]:
%%time

b1 = spatial.create_rate_of_bearing_rate_column(np_gulls)
b1.head()

CPU times: user 272 ms, sys: 68.1 ms, total: 340 ms
Wall time: 556 ms

,,event-id,visible,lon,lat,sensor-type,individual-taxon-canonical-name,individual-local-identifier,study-name,Bearing_between_consecutive,Bearing_rate_from_prev,Rate_of_bearing_rate_from_prev
DateTime,traj_id,,,,,,,,,,,
2009-05-27 14:00:00,91732,1082620685,True,24.58617,61.24783,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,NaN,NaN,NaN
2009-05-27 20:00:00,91732,1082620686,True,24.58217,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,-172.763287,NaN,NaN
2009-05-28 05:00:00,91732,1082620687,True,24.53133,61.18833,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,-151.070593,0.000670,0.000670
2009-05-28 08:00:00,91732,1082620688,True,24.58200,61.23283,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,28.716637,0.016647,0.016647
2009-05-28 14:00:00,91732,1082620689,True,24.58250,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,123.620959,0.004394,0.004394

In [12]:
from features.temporal_features import TemporalFeatures as temporal

t1 = temporal.get_traj_duration(np_atlantic)
t1

            Traj_Duration
traj_id
AL011851  3 days 00:00:00
AL011852 11 days 00:00:00
AL011853  0 days 00:00:00
AL011854  2 days 12:00:00
AL011855  0 days 00:00:00
...                   ...
AL282005  8 days 00:00:00
AL291969  4 days 00:00:00
AL292005 10 days 06:00:00
AL302005 10 days 12:00:00
AL312005  8 days 18:00:00

[1814 rows x 1 columns]