In [1]:
%%time

from core.TrajectoryDF import NumPandasTraj as NumTrajDF
from features.temporal_features import TemporalFeatures as temporal
import pandas as pd

gulls = pd.read_csv('gulls.csv')

gulls = NumTrajDF(gulls,
                 latitude='location-lat',
                 longitude='location-long',
                 datetime='timestamp',
                 traj_id='tag-local-identifier',
                 rest_of_columns=[])
type(gulls)

CPU times: user 1.03 s, sys: 603 ms, total: 1.64 s
Wall time: 663 ms

core.TrajectoryDF.NumPandasTraj

In [2]:
%%time

date = temporal.create_date_column(gulls, inplace=True)
print(date.shape)
date.head()

(89869, 9)
CPU times: user 274 ms, sys: 65.9 ms, total: 340 ms
Wall time: 570 ms

,,event-id,visible,lon,lat,sensor-type,individual-taxon-canonical-name,individual-local-identifier,study-name,Date
DateTime,traj_id,,,,,,,,,
2009-05-27 14:00:00,91732,1082620685,True,24.58617,61.24783,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,2009-05-27
2009-05-27 20:00:00,91732,1082620686,True,24.58217,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,2009-05-27
2009-05-28 05:00:00,91732,1082620687,True,24.53133,61.18833,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,2009-05-28
2009-05-28 08:00:00,91732,1082620688,True,24.58200,61.23283,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,2009-05-28
2009-05-28 14:00:00,91732,1082620689,True,24.58250,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,2009-05-28

In [3]:
%%time

pdf = pd.read_csv('geolife_sample.csv')
dataframe = NumTrajDF(pdf,'lat','lon','datetime','id')
dataframe.head()

CPU times: user 342 ms, sys: 27.8 ms, total: 370 ms
Wall time: 368 ms

                                   lat         lon
DateTime            traj_id
2008-10-23 16:53:05 1        39.984094  116.319236
2008-10-23 16:53:06 1        39.984198  116.319322
2008-10-23 05:53:11 1        39.984224  116.319402
2008-10-23 05:53:16 1        39.984211  116.319389
2008-10-23 05:53:21 1        39.984217  116.319422

In [4]:
%%time

date_one = temporal.create_date_column(dataframe, inplace=True)
print(date_one.shape)
date_one.head()

(217653, 3)
CPU times: user 276 ms, sys: 184 ms, total: 460 ms
Wall time: 794 ms

                                   lat         lon        Date
DateTime            traj_id
2008-10-23 16:53:05 1        39.984094  116.319236  2008-10-23
2008-10-23 16:53:06 1        39.984198  116.319322  2008-10-23
2008-10-23 05:53:11 1        39.984224  116.319402  2008-10-23
2008-10-23 05:53:16 1        39.984211  116.319389  2008-10-23
2008-10-23 05:53:21 1        39.984217  116.319422  2008-10-23