In [1]:
import numpy as np
import pymove as pm
import pandas as pd
from core.TrajectoryDF import NumPandasTraj as TrajDF
from features.spatial_features import SpatialFeatures as spatial
from features.helper_functions import Helpers as help
from utilities.conversions import Conversions as con
import pymove as pm

In [2]:
atlantic = pd.read_csv('./data/atlantic.csv')
atlantic = con.convert_directions_to_degree_lat_lon(atlantic, 'Latitude',"Longitude")
def convert_to_datetime(row):
        this_date = '{}-{}-{}'.format(str(row['Date'])[0:4], str(row['Date'])[4:6], str(row['Date'])[6:])
        this_time = '{:02d}:{:02d}:00'.format(int(row['Time']/100), int(str(row['Time'])[-2:]))
        return '{} {}'.format(this_date, this_time)
atlantic['DateTime'] = atlantic.apply(convert_to_datetime, axis=1)
np_traj = TrajDF(atlantic,
                         latitude='Latitude',
                         longitude='Longitude',
                         datetime='DateTime',
                         traj_id='ID',
                         rest_of_columns=[])
np_traj.head()

,,Name,Date,Time,Event,Status,lat,lon,Maximum Wind,Minimum Pressure,Low Wind NE,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
DateTime,traj_id,,,,,,,,,,,,,,,,,,,,,
1851-06-25 00:00:00,AL011851,UNNAMED,18510625,0,,HU,28.0,-94.8,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1851-06-25 06:00:00,AL011851,UNNAMED,18510625,600,,HU,28.0,-95.4,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1851-06-25 12:00:00,AL011851,UNNAMED,18510625,1200,,HU,28.0,-96.0,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1851-06-25 18:00:00,AL011851,UNNAMED,18510625,1800,,HU,28.1,-96.5,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1851-06-25 21:00:00,AL011851,UNNAMED,18510625,2100,L,HU,28.2,-96.8,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [3]:
pm_traj = pm.MoveDataFrame(atlantic,
                         latitude='Latitude',
                         longitude='Longitude',
                         datetime='DateTime',
                         traj_id='ID')

In [4]:
%%time

small_one = spatial.create_distance_between_consecutive_column(np_traj)
small_one.head()

CPU times: user 265 ms, sys: 153 ms, total: 418 ms
Wall time: 1.06 s

,,Name,Date,Time,Event,Status,lat,lon,Maximum Wind,Minimum Pressure,Low Wind NE,...,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW,Distance_prev_to_curr
DateTime,traj_id,,,,,,,,,,,,,,,,,,,,,
1873-08-13 00:00:00,AL021873,UNNAMED,18730813,0,,TS,13.9,-25.0,40,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,NaN
1873-08-13 06:00:00,AL021873,UNNAMED,18730813,600,,TS,14.0,-26.0,40,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,108486.658872
1873-08-13 12:00:00,AL021873,UNNAMED,18730813,1200,,TS,14.0,-27.0,40,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,107891.881958
1873-08-13 18:00:00,AL021873,UNNAMED,18730813,1800,,TS,14.1,-28.1,40,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,119175.045002
1873-08-14 00:00:00,AL021873,UNNAMED,18730814,0,,TS,14.1,-29.3,50,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,129413.676731

In [5]:
%%time

small_two = help._consecutive_distance_alt(np_traj)
small_two.head()

CPU times: user 14.6 s, sys: 3.4 ms, total: 14.6 s
Wall time: 14.6 s

,,Name,Date,Time,Event,Status,lat,lon,Maximum Wind,Minimum Pressure,Low Wind NE,...,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW,Distance_prev_to_curr
DateTime,traj_id,,,,,,,,,,,,,,,,,,,,,
1851-06-25 00:00:00,AL011851,UNNAMED,18510625,0,,HU,28.0,-94.8,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,NaN
1851-06-25 06:00:00,AL011851,UNNAMED,18510625,600,,HU,28.0,-95.4,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,58907.516366
1851-06-25 12:00:00,AL011851,UNNAMED,18510625,1200,,HU,28.0,-96.0,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,58907.516366
1851-06-25 18:00:00,AL011851,UNNAMED,18510625,1800,,HU,28.1,-96.5,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,50310.976622
1851-06-25 21:00:00,AL011851,UNNAMED,18510625,2100,L,HU,28.2,-96.8,80,-999,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,31444.370265

In [6]:
%%time

pm_traj.generate_dist_features()
pm_traj.set_index(['id'], drop=True, inplace=True)
pm_traj.head()

VBox(children=(HTML(value=''), IntProgress(value=0, max=1814)))

CPU times: user 25.2 s, sys: 44.6 ms, total: 25.3 s
Wall time: 25.2 s

,Name,Date,Time,Event,Status,lat,lon,Maximum Wind,Minimum Pressure,Low Wind NE,...,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW,datetime,dist_to_prev,dist_to_next,dist_prev_to_next
id,,,,,,,,,,,,,,,,,,,,,
AL011851,UNNAMED,18510625,0,,HU,28.0,-94.8,80,-999,-999,...,-999,-999,-999,-999,-999,-999,1851-06-25 00:00:00,NaN,58907.516366,NaN
AL011851,UNNAMED,18510625,600,,HU,28.0,-95.4,80,-999,-999,...,-999,-999,-999,-999,-999,-999,1851-06-25 06:00:00,58907.516366,58907.516366,117814.676769
AL011851,UNNAMED,18510625,1200,,HU,28.0,-96.0,80,-999,-999,...,-999,-999,-999,-999,-999,-999,1851-06-25 12:00:00,58907.516366,50310.976622,108517.871246
AL011851,UNNAMED,18510625,1800,,HU,28.1,-96.5,80,-999,-999,...,-999,-999,-999,-999,-999,-999,1851-06-25 18:00:00,50310.976622,31444.370265,81560.691439
AL011851,UNNAMED,18510625,2100,L,HU,28.2,-96.8,80,-999,-999,...,-999,-999,-999,-999,-999,-999,1851-06-25 21:00:00,31444.370265,19599.292319,50266.402639