In [13]:
import numpy as np
import pymove as pm
import pandas as pd
from core.TrajectoryDF import NumPandasTraj as TrajDF
from features.spatial_features import SpatialFeatures as spatial
from features.helper_functions import Helpers as help

In [14]:
pdf = pd.read_csv('./data/gulls.csv')

np_traj = TrajDF(pdf,'location-lat', 'location-long',
                 'timestamp','tag-local-identifier')
np_traj.shape

(89869, 8)

In [15]:
%%time

spatial.create_distance_between_consecutive_column(np_traj).head(3)

CPU times: user 218 ms, sys: 73 ms, total: 291 ms
Wall time: 448 ms

,,event-id,visible,lon,lat,sensor-type,individual-taxon-canonical-name,individual-local-identifier,study-name,Distance_prev_to_curr
DateTime,traj_id,,,,,,,,,
2009-05-27 14:00:00,91732,1082620685,True,24.58617,61.24783,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,NaN
2009-05-27 20:00:00,91732,1082620686,True,24.58217,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,1699.244398
2009-05-28 05:00:00,91732,1082620687,True,24.53133,61.18833,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,5632.120064

In [16]:
%%time

spatial.create_distance_from_start_column(np_traj).head(3)

CPU times: user 405 ms, sys: 98.8 ms, total: 504 ms
Wall time: 2.71 s

,,event-id,visible,lon,lat,sensor-type,individual-taxon-canonical-name,individual-local-identifier,study-name,Distance_start_to_curr
DateTime,traj_id,,,,,,,,,
2009-05-27 14:00:00,91732,1082620685,True,24.58617,61.24783,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,NaN
2009-05-27 20:00:00,91732,1082620686,True,24.58217,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,1699.244398
2009-05-28 05:00:00,91732,1082620687,True,24.53133,61.18833,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,7238.295521

CPU times: user 173 ms, sys: 41.1 ms, total: 214 ms
Wall time: 1.98 s

,,event-id,visible,lon,lat,sensor-type,individual-taxon-canonical-name,individual-local-identifier,study-name,Distance_start_to_curr
DateTime,traj_id,,,,,,,,,
2009-05-27 14:00:00,91732,1082620685,True,24.58617,61.24783,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,NaN
2009-05-27 20:00:00,91732,1082620686,True,24.58217,61.23267,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,1699.244398
2009-05-28 05:00:00,91732,1082620687,True,24.53133,61.18833,gps,Larus fuscus,91732A,Navigation experiments in lesser black-backed ...,7238.295521