# Step 1:

First, we import pandas and PTRAIL packages to load the data into a PTRAILDataFrame so that
the trajectories are indexed properly.

In [1]:
import pandas as pd
from ptrail.core.TrajectoryDF import PTRAILDataFrame
from ptrail.core.Datasets import Datasets
from ptrail.preprocessing.statistics import Statistics

starkey = Datasets.load_starkey()

# Step 2:

Now, we segment the trajectories by 15 days each segment.

In [2]:
%%time

segmented_traj = Statistics.segment_traj_by_days(starkey, num_days=15)
segmented_traj

/home/shaidri/Desktop/PT/venv/lib/python3.9/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
/home/shaidri/Desktop/PT/venv/lib/python3.9/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
/home/shaidri/Desktop/PT/venv/lib/python3.9/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
/home/shaidri/Desktop/PT/venv/lib/python3.9/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
/home/shaidri/Desktop/PT/venv/lib/python3.9/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
/home/shaidri/Desktop/PT/venv/lib/python3.9/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
/home/shaidri/Desktop/PT/venv/lib/python3.9/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
/home/shaidri/Desktop/PT/venv/lib/python3.9/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
/home/shaidri/Desktop/PT/venv/lib/python3.9/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
/home/shaidri/Desktop/PT/venv/lib/python3.9/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)
/home/shaidri/Desktop/PT/venv/lib/python3.9/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

CPU times: user 3.72 s, sys: 2.03 s, total: 5.76 s
Wall time: 16.8 s

                                            lat         lon  StarkeyTime  \
traj_id   seg_id DateTime
880119D02 1      1993-05-18 14:04:36  45.245158 -118.527618    169855476
                 1993-05-18 14:41:26  45.244873 -118.528757    169857686
                 1993-05-18 15:17:29  45.245148 -118.528382    169859849
                 1993-05-18 15:54:58  45.243803 -118.527964    169862098
                 1993-05-18 17:05:50  45.243814 -118.527199    169866350
...                                         ...         ...          ...
OSUX93110 3      1996-08-11 07:44:44  45.209428 -118.513672    271871084
                 1996-08-11 09:39:23  45.210278 -118.510638    271877963
                 1996-08-11 11:33:15  45.210232 -118.514075    271884795
                 1996-08-15 02:42:42  45.211393 -118.507993    272198562
                 1996-08-15 06:47:56  45.211673 -118.507236    272213276

                                        GMDate    GMTime   LocDate   LocTime  \
traj_id   seg_id DateTime
880119D02 1      1993-05-18 14:04:36  22:04:36  19930518  19930518  14:04:36
                 1993-05-18 14:41:26  22:41:26  19930518  19930518  14:41:26
                 1993-05-18 15:17:29  23:17:29  19930518  19930518  15:17:29
                 1993-05-18 15:54:58  23:54:58  19930518  19930518  15:54:58
                 1993-05-18 17:05:50  01:05:50  19930519  19930518  17:05:50
...                                        ...       ...       ...       ...
OSUX93110 3      1996-08-11 07:44:44  15:44:44  19960811  19960811  07:44:44
                 1996-08-11 09:39:23  17:39:23  19960811  19960811  09:39:23
                 1996-08-11 11:33:15  19:33:15  19960811  19960811  11:33:15
                 1996-08-15 02:42:42  10:42:42  19960815  19960815  02:42:42
                 1996-08-15 06:47:56  14:47:56  19960815  19960815  06:47:56

                                      RadNum  Species    UTME     UTMN  Year  \
traj_id   seg_id DateTime
880119D02 1      1993-05-18 14:04:36     187        0  380126  5011313    93
                 1993-05-18 14:41:26     187        0  380019  5011283    93
                 1993-05-18 15:17:29     187        0  380064  5011312    93
                 1993-05-18 15:54:58     187        0  380084  5011165    93
                 1993-05-18 17:05:50     187        0  380132  5011164    93
...                                      ...      ...     ...      ...   ...
OSUX93110 3      1996-08-11 07:44:44     175        2  381132  5007324    96
                 1996-08-11 09:39:23     175        2  381365  5007409    96
                 1996-08-11 11:33:15     175        2  381104  5007409    96
                 1996-08-15 02:42:42     175        2  381593  5007549    96
                 1996-08-15 06:47:56     175        2  381651  5007565    96

                                      Grensunr  Grensuns  Obswt        Date
traj_id   seg_id DateTime
880119D02 1      1993-05-18 14:04:36  12:21:00  03:23:00   1.39  1993-05-18
                 1993-05-18 14:41:26  12:21:00  03:23:00   1.39  1993-05-18
                 1993-05-18 15:17:29  12:21:00  03:23:00   1.39  1993-05-18
                 1993-05-18 15:54:58  12:21:00  03:23:00   1.39  1993-05-18
                 1993-05-18 17:05:50  12:20:00  03:24:00   1.39  1993-05-18
...                                        ...       ...    ...         ...
OSUX93110 3      1996-08-11 07:44:44  12:51:00  03:10:00   1.78  1996-08-11
                 1996-08-11 09:39:23  12:51:00  03:10:00   1.68  1996-08-11
                 1996-08-11 11:33:15  12:51:00  03:10:00   1.86  1996-08-11
                 1996-08-15 02:42:42  12:56:00  03:04:00   1.90  1996-08-15
                 1996-08-15 06:47:56  12:56:00  03:04:00   1.90  1996-08-15

[4070414 rows x 16 columns]

# Step 3:

Now, finally we generate stas for the segmented trajectories.

In [ ]:
seg_stats = Statistics.generate_kinematic_stats(dataframe=segmented_traj,
                                                target_col_name='Species',
                                                segmented=True
                                                )
seg_stats