# Step 1:

First, we import pandas and PTRAIL packages to load the data into a PTRAILDataFrame so that
the trajectories are indexed properly.

In [1]:
import pandas as pd
from ptrail.core.TrajectoryDF import PTRAILDataFrame
from ptrail.preprocessing.statistics import Statistics

pdf = pd.read_csv('https://raw.githubusercontent.com/YakshHaranwala/PTRAIL/main/examples/data/starkey.csv')
starkey = PTRAILDataFrame(data_set=pdf,
                          latitude='lat',
                          longitude='lon',
                          datetime='DateTime',
                          traj_id='Id')

# Step 2:

Now, we segment the trajectories by 15 days each segment.

In [2]:
%%time

segmented_traj = Statistics.segment_traj_by_days(starkey, num_days=15)
segmented_traj

CPU times: user 5.02 s, sys: 2.14 s, total: 7.17 s
Wall time: 21.2 s

                                            lat         lon  StarkeyTime  \
traj_id   seg_id DateTime
880119D02 1      1993-05-18 14:04:36  45.245158 -118.527618    169855476
                 1993-05-18 14:41:26  45.244873 -118.528757    169857686
                 1993-05-18 15:17:29  45.245148 -118.528382    169859849
                 1993-05-18 15:54:58  45.243803 -118.527964    169862098
                 1993-05-18 17:05:50  45.243814 -118.527199    169866350
...                                         ...         ...          ...
OSUX93151 2      1996-08-15 04:54:45  45.217644 -118.525352    272206485
                 1996-08-15 06:50:23  45.218698 -118.527291    272213423
                 1996-08-15 10:36:33  45.220348 -118.525043    272226993
                 1996-08-15 12:31:01  45.232730 -118.528049    272233861
                 1996-08-15 14:25:36  45.232424 -118.530716    272240736

                                        GMDate    GMTime   LocDate   LocTime  \
traj_id   seg_id DateTime
880119D02 1      1993-05-18 14:04:36  22:04:36  19930518  19930518  14:04:36
                 1993-05-18 14:41:26  22:41:26  19930518  19930518  14:41:26
                 1993-05-18 15:17:29  23:17:29  19930518  19930518  15:17:29
                 1993-05-18 15:54:58  23:54:58  19930518  19930518  15:54:58
                 1993-05-18 17:05:50  01:05:50  19930519  19930518  17:05:50
...                                        ...       ...       ...       ...
OSUX93151 2      1996-08-15 04:54:45  12:54:45  19960815  19960815  04:54:45
                 1996-08-15 06:50:23  14:50:23  19960815  19960815  06:50:23
                 1996-08-15 10:36:33  18:36:33  19960815  19960815  10:36:33
                 1996-08-15 12:31:01  20:31:01  19960815  19960815  12:31:01
                 1996-08-15 14:25:36  22:25:36  19960815  19960815  14:25:36

                                      RadNum  Species    UTME     UTMN  Year  \
traj_id   seg_id DateTime
880119D02 1      1993-05-18 14:04:36     187        0  380126  5011313    93
                 1993-05-18 14:41:26     187        0  380019  5011283    93
                 1993-05-18 15:17:29     187        0  380064  5011312    93
                 1993-05-18 15:54:58     187        0  380084  5011165    93
                 1993-05-18 17:05:50     187        0  380132  5011164    93
...                                      ...      ...     ...      ...   ...
OSUX93151 2      1996-08-15 04:54:45     331        2  380232  5008275    96
                 1996-08-15 06:50:23     331        2  380086  5008367    96
                 1996-08-15 10:36:33     331        2  380280  5008546    96
                 1996-08-15 12:31:01     331        2  380053  5009925    96
                 1996-08-15 14:25:36     331        2  379850  5009918    96

                                      Grensunr  Grensuns  Obswt        Date
traj_id   seg_id DateTime
880119D02 1      1993-05-18 14:04:36  12:21:00  03:23:00   1.39  1993-05-18
                 1993-05-18 14:41:26  12:21:00  03:23:00   1.39  1993-05-18
                 1993-05-18 15:17:29  12:21:00  03:23:00   1.39  1993-05-18
                 1993-05-18 15:54:58  12:21:00  03:23:00   1.39  1993-05-18
                 1993-05-18 17:05:50  12:20:00  03:24:00   1.39  1993-05-18
...                                        ...       ...    ...         ...
OSUX93151 2      1996-08-15 04:54:45  12:56:00  03:04:00   1.65  1996-08-15
                 1996-08-15 06:50:23  12:56:00  03:04:00   1.54  1996-08-15
                 1996-08-15 10:36:33  12:56:00  03:04:00   1.56  1996-08-15
                 1996-08-15 12:31:01  12:56:00  03:04:00   1.69  1996-08-15
                 1996-08-15 14:25:36  12:56:00  03:04:00   1.53  1996-08-15

[4070414 rows x 16 columns]

# Step 3:

Now, finally we generate stas for the segmented trajectories.

In [ ]:
seg_stats = Statistics.generate_kinematic_stats(dataframe=segmented_traj,
                                                target_col_name='Species',
                                                segmented=True
                                                )
seg_stats