In [1]:
import pandas as pd
from ptrail.core.TrajectoryDF import PTRAILDataFrame
from ptrail.features.kinematic_features import KinematicFeatures
from ptrail.features.temporal_features import TemporalFeatures
from ptrail.utilities.conversions import Conversions as con
from ptrail.preprocessing.statistics import Statistics
import ptrail.utilities.constants as const

pdf = pd.read_csv('https://raw.githubusercontent.com/YakshHaranwala/PTRAIL/main/examples/data/starkey.csv')
starkey = PTRAILDataFrame(data_set=pdf,
                          latitude='lat',
                          longitude='lon',
                          datetime='DateTime',
                          traj_id='Id')

In [9]:
%%time

seg = Statistics.segment_traj_by_week(starkey)
seg

CPU times: user 12.5 s, sys: 5.85 s, total: 18.4 s
Wall time: 45.9 s

                                            lat         lon  StarkeyTime  \
traj_id   seg_id DateTime
910313E37 1      1993-05-06 17:04:47  45.218440 -118.566257    168829487
                 1993-05-06 17:21:12  45.218985 -118.565890    168826332
                 1993-05-06 17:27:53  45.219536 -118.565141    168830873
                 1993-05-06 17:51:48  45.219260 -118.565516    168832308
                 1993-05-06 18:40:04  45.220128 -118.561336    168835204
...                                         ...         ...          ...
950227D02 1      1996-08-15 00:00:15  45.226084 -118.579842    272188815
                 1996-08-15 02:13:40  45.229054 -118.579925    272196820
                 1996-08-15 08:16:30  45.224994 -118.580577    272218590
                 1996-08-15 12:02:23  45.225989 -118.586718    272232143
                 1996-08-15 13:57:05  45.225989 -118.586718    272239025

                                        GMDate    GMTime   LocDate   LocTime  \
traj_id   seg_id DateTime
910313E37 1      1993-05-06 17:04:47  01:04:47  19930507  19930506  17:04:47
                 1993-05-06 17:21:12  01:21:12  19930507  19930506  17:21:12
                 1993-05-06 17:27:53  01:27:53  19930507  19930506  17:27:53
                 1993-05-06 17:51:48  01:51:48  19930507  19930506  17:51:48
                 1993-05-06 18:40:04  02:40:04  19930507  19930506  18:40:04
...                                        ...       ...       ...       ...
950227D02 1      1996-08-15 00:00:15  08:00:15  19960815  19960815  00:00:15
                 1996-08-15 02:13:40  10:13:40  19960815  19960815  02:13:40
                 1996-08-15 08:16:30  16:16:30  19960815  19960815  08:16:30
                 1996-08-15 12:02:23  20:02:23  19960815  19960815  12:02:23
                 1996-08-15 13:57:05  21:57:05  19960815  19960815  13:57:05

                                      RadNum Species    UTME     UTMN  Year  \
traj_id   seg_id DateTime
910313E37 1      1993-05-06 17:04:47      67       E  377026  5008419    93
                 1993-05-06 17:21:12      67       E  377053  5008474    93
                 1993-05-06 17:27:53      67       E  377108  5008516    93
                 1993-05-06 17:51:48      67       E  377083  5008494    93
                 1993-05-06 18:40:04      67       E  377406  5008591    93
...                                      ...     ...     ...      ...   ...
950227D02 1      1996-08-15 00:00:15     417       D  375977  5009277    96
                 1996-08-15 02:13:40     417       D  375977  5009615    96
                 1996-08-15 08:16:30     417       D  375914  5009153    96
                 1996-08-15 12:02:23     417       D  375444  5009292    96
                 1996-08-15 13:57:05     417       D  375424  5009273    96

                                      Grensunr  Grensuns  Obswt        Date
traj_id   seg_id DateTime
910313E37 1      1993-05-06 17:04:47  12:34:00  03:10:00   1.67  1993-05-06
                 1993-05-06 17:21:12  12:34:00  03:10:00   1.73  1993-05-06
                 1993-05-06 17:27:53  12:34:00  03:10:00   1.73  1993-05-06
                 1993-05-06 17:51:48  12:34:00  03:10:00   1.73  1993-05-06
                 1993-05-06 18:40:04  12:34:00  03:10:00   1.46  1993-05-06
...                                        ...       ...    ...         ...
950227D02 1      1996-08-15 00:00:15  12:56:00  03:04:00   1.52  1996-08-15
                 1996-08-15 02:13:40  12:56:00  03:04:00   1.64  1996-08-15
                 1996-08-15 08:16:30  12:56:00  03:04:00   1.53  1996-08-15
                 1996-08-15 12:02:23  12:56:00  03:04:00   1.44  1996-08-15
                 1996-08-15 13:57:05  12:56:00  03:04:00   1.44  1996-08-15

[8573445 rows x 16 columns]