<html>
<h1> PTRAIL Spatial Features </h1>

<p align='justify'>
    This Jupyter notebook contains the examples of all the
    spatial features available in PTRAIL library.
    <br>
    <br>
    The notebook makes the use of three different datasets each
    with different number of trajectory ids. This way the
    running time of each feature is tested accordingly.
    With the increase in the number of Trajectory ids, the
    differences in running time are reflected as the code
    utilizes all the available CPU cores of the computer for
    parallel computation of features thus making these features
    faster than the other comparable libraries providing the same
    functionalities.
</p>

<hr>

<p align='justify'>
In this Jupyter Notebook containing Spatial examples, the following
datasets are used:
    <ul>
        <li> <a href="https://github.com/YakshHaranwala/PTRAIL/blob/main/examples/data/geolife_sample.csv" target="_blank"> Geolife Sample </a> </li>
        <li> <a href="https://github.com/YakshHaranwala/PTRAIL/blob/main/examples/data/gulls.csv" target="_blank"> Seagulls Dataset </a> </li>
        <li> <a href="https://github.com/YakshHaranwala/PTRAIL/blob/main/examples/data/atlantic.csv" target="_blank"> Hurricane Dataset </a> </li>
    </ul>
</p>

<hr>
<p align='justify'>
Note: Viewing this notebook in GitHub will not render JavaScript
elements. Hence, for a better experience, click the link below
to open the Jupyter notebook in NB viewer.

<span> &#8618; </span>
<a href="https://nbviewer.jupyter.org/github/YakshHaranwala/PTRAIL/blob/main/examples/2.%20spatial_examples.ipynb" target='_blank'> Click Here </a>
</p>
</html>

In [1]:
# First, lets import all the necessary modules that are required
# for the functioning of the code contained in the jupyter notebook.

import numpy as np
from ptrail.core.TrajectoryDF import PTRAILDataFrame
from ptrail.features.kinematic_features import KinematicFeatures as spatial
from ptrail.utilities.conversions import Conversions as con
import pandas as pd
import time
np.seterr(invalid='ignore')
start = time.time()

In [2]:
%%time
"""
    First of all, lets import all the datasets one by one
    and check out a few of their points.
"""
# Reading the geolife dataset and converting to PTRAILDataFrame.
# Also, lets, print the first 5 points of the dataset to
# see how the dataframe looks.
geolife = pd.read_csv('https://raw.githubusercontent.com/YakshHaranwala/PTRAIL/main/examples/data/geolife_sample.csv')
geolife = PTRAILDataFrame(geolife,'lat','lon','datetime','id')
geolife.head()

CPU times: user 592 ms, sys: 40.5 ms, total: 633 ms
Wall time: 846 ms

                                   lat         lon
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402
        2008-10-23 05:53:16  39.984211  116.319389
        2008-10-23 05:53:21  39.984217  116.319422
        2008-10-23 05:53:23  39.984710  116.319865
        2008-10-23 05:53:28  39.984674  116.319810

In [3]:
%%time

# Reading the gulls dataset and converting to PTRAILDataFrame.
# Also, lets, print the first 5 points of the dataset to
# see how the dataframe looks.
gulls = pd.read_csv('https://raw.githubusercontent.com/YakshHaranwala/PTRAIL/main/examples/data/gulls.csv')
gulls = PTRAILDataFrame(gulls,
                        latitude='location-lat',
                        longitude='location-long',
                        datetime='timestamp',
                        traj_id='tag-local-identifier',
                        rest_of_columns=[])
gulls.head()

CPU times: user 304 ms, sys: 42.2 ms, total: 347 ms
Wall time: 749 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

In [4]:
%%time
'''
    1. Reading the atlantic dataset, cleaning it up and then
       converting it to PTRAILDataFrame.
    2. It is to be noted that apart from reading the dataset,
       before converting to PTRAILDataFrame, the dataframe needs
       some cleanup as the Time format provided in the dataframe
       needs to be first converted into a library supported time
       format. Also, the format of the coordinates need to be
       converted to library supported format before converting'
       it to PTRAILDataFrame.
    3. Also, lets, print the first 5 points of the dataset to
      see how the dataframe looks.
'''
atlantic = pd.read_csv('https://raw.githubusercontent.com/YakshHaranwala/PTRAIL/main/examples/data/atlantic.csv')

atlantic = PTRAILDataFrame(atlantic,
                           latitude='Latitude',
                           longitude='Longitude',
                           datetime='DateTime',
                           traj_id='ID',
                           rest_of_columns=[])
atlantic.head()

CPU times: user 8 s, sys: 105 ms, total: 8.1 s
Wall time: 8.43 s

                                             Name      Date  Time Event  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              UNNAMED  18510625     0
         1851-06-25 06:00:00              UNNAMED  18510625   600
         1851-06-25 12:00:00              UNNAMED  18510625  1200
         1851-06-25 18:00:00              UNNAMED  18510625  1800
         1851-06-25 21:00:00              UNNAMED  18510625  2100     L

                             Status   lat   lon  Maximum Wind  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00     HU  28.0 -94.8            80
         1851-06-25 06:00:00     HU  28.0 -95.4            80
         1851-06-25 12:00:00     HU  28.0 -96.0            80
         1851-06-25 18:00:00     HU  28.1 -96.5            80
         1851-06-25 21:00:00     HU  28.2 -96.8            80

                              Minimum Pressure  Low Wind NE  ...  Low Wind SW  \
traj_id  DateTime                                            ...
AL011851 1851-06-25 00:00:00              -999         -999  ...         -999
         1851-06-25 06:00:00              -999         -999  ...         -999
         1851-06-25 12:00:00              -999         -999  ...         -999
         1851-06-25 18:00:00              -999         -999  ...         -999
         1851-06-25 21:00:00              -999         -999  ...         -999

                              Low Wind NW  Moderate Wind NE  Moderate Wind SE  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00         -999              -999              -999
         1851-06-25 06:00:00         -999              -999              -999
         1851-06-25 12:00:00         -999              -999              -999
         1851-06-25 18:00:00         -999              -999              -999
         1851-06-25 21:00:00         -999              -999              -999

                              Moderate Wind SW  Moderate Wind NW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              -999              -999
         1851-06-25 06:00:00              -999              -999
         1851-06-25 12:00:00              -999              -999
         1851-06-25 18:00:00              -999              -999
         1851-06-25 21:00:00              -999              -999

                              High Wind NE  High Wind SE  High Wind SW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999          -999          -999
         1851-06-25 06:00:00          -999          -999          -999
         1851-06-25 12:00:00          -999          -999          -999
         1851-06-25 18:00:00          -999          -999          -999
         1851-06-25 21:00:00          -999          -999          -999

                              High Wind NW
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999
         1851-06-25 06:00:00          -999
         1851-06-25 12:00:00          -999
         1851-06-25 18:00:00          -999
         1851-06-25 21:00:00          -999

[5 rows x 21 columns]

In [5]:
%%time

# Now, lets get the bounding boxes of all the dataframes.
print(spatial.get_bounding_box(geolife))
print(spatial.get_bounding_box(gulls))
print(spatial.get_bounding_box(atlantic))

(22.147577, 113.548843, 41.132062, 121.156224)
(-62.71617, 4.02517, 65.2325, 103.19317)
(7.2, -109.5, 81.0, 63.0)
CPU times: user 5.95 ms, sys: 232 µs, total: 6.18 ms
Wall time: 4.24 ms

In [6]:
%%time

# Now, lets get the start times of all the dataframes without
# giving a traj_id.
print(spatial.get_start_location(geolife))
print(spatial.get_start_location(gulls))
print(spatial.get_start_location(atlantic))

               lat         lon
traj_id
1        39.984224  116.319402
5        40.004155  116.321337
              lat       lon
traj_id
91785    64.98267  35.74300
91797    64.96767  35.73650
91769    54.18433   7.91283
91843    55.42533  49.34817
91913    64.97850  35.72667
...           ...       ...
91814    55.43233  49.34283
91763    62.78917  28.76983
91823    54.18600   7.91867
91752    62.40617  29.46983
91916    54.18533   7.91500

[126 rows x 2 columns]
           lat   lon
traj_id
AL091869  17.0 -67.5
AL051867  17.0 -58.0
AL041862  13.0 -61.0
AL011870  30.5 -88.0
AL011858  19.0 -85.5
...        ...   ...
AL041926  13.8 -41.2
AL142012  15.5 -38.0
AL201969  16.0 -47.0
AL141971  25.5 -71.5
AL031899  11.7 -31.0

[1814 rows x 2 columns]
CPU times: user 535 ms, sys: 608 ms, total: 1.14 s
Wall time: 4.61 s

In [7]:
%%time

# Now lets check the start times of all dataframes with a
# traj_id.
print(spatial.get_start_location(geolife, '1'))
print(spatial.get_start_location(gulls, "91732"))
print(spatial.get_start_location(atlantic, 'AL011851'))

(39.984224, 116.319402)
(61.24783, 24.58617)
(28.0, -94.8)
CPU times: user 75.9 ms, sys: 8.61 ms, total: 84.5 ms
Wall time: 82.9 ms

In [8]:
%%time

# Now, lets get the start times of all the dataframes without
# giving a traj_id.
print(spatial.get_end_location(geolife))
print(spatial.get_end_location(gulls))
print(spatial.get_end_location(atlantic))

               lat         lon
traj_id
1        39.977879  116.326628
5        39.999978  116.327460
              lat       lon
traj_id
91785    64.98267  35.74300
91797    64.96767  35.73633
91769    54.18417   7.91350
91843    55.43533  49.36383
91913    64.96700  35.74083
...           ...       ...
91814    -1.79117  32.80583
91763     6.97833  29.51200
91823    61.31100  24.57767
91752     8.06067  38.85033
91916    56.56600  21.19633

[126 rows x 2 columns]
           lat   lon
traj_id
AL091869  17.0 -67.5
AL051867  17.0 -58.0
AL041862  13.0 -61.0
AL011870  30.5 -88.0
AL011858  19.0 -85.5
...        ...   ...
AL041926  58.2 -49.2
AL142012  37.6 -29.1
AL201969  26.1 -61.6
AL141971  35.7 -69.9
AL031899  49.0 -15.5

[1814 rows x 2 columns]
CPU times: user 625 ms, sys: 526 ms, total: 1.15 s
Wall time: 4.68 s

In [9]:
%%time

# Now lets check the start times of all dataframes with a traj_id.
print(spatial.get_end_location(geolife, '1'))
print(spatial.get_end_location(gulls, "91732"))
print(spatial.get_end_location(atlantic, 'AL011851'))

(39.977879, 116.326628)
(31.09783, 29.81217)
(31.0, -100.2)
CPU times: user 98.4 ms, sys: 3.52 ms, total: 102 ms
Wall time: 99.6 ms

In [10]:
%%time

# Now, lets calculate the distance between 2 consecutive points for
# each dataset one by one.
# First, we will check the distances between 2 consecutive points
# in the geolife dataset.
geolife = spatial.create_distance_column(geolife)
geolife.head(10)

CPU times: user 287 ms, sys: 13.5 ms, total: 301 ms
Wall time: 298 ms

                                   lat         lon   Distance
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402        NaN
        2008-10-23 05:53:16  39.984211  116.319389   1.821083
        2008-10-23 05:53:21  39.984217  116.319422   2.889671
        2008-10-23 05:53:23  39.984710  116.319865  66.555997
        2008-10-23 05:53:28  39.984674  116.319810   6.162987
        2008-10-23 05:53:33  39.984623  116.319773   6.488225
        2008-10-23 05:53:38  39.984606  116.319732   3.971848
        2008-10-23 05:53:43  39.984555  116.319728   5.681172
        2008-10-23 05:53:48  39.984579  116.319769   4.395924
        2008-10-23 05:53:51  39.984579  116.319769   0.000000

In [11]:
%%time

# # Here, we check the distance between 2 consecutive points
# # in the seagulls dataset.
gulls = spatial.create_distance_column(gulls)
gulls.head()

CPU times: user 169 ms, sys: 149 ms, total: 318 ms
Wall time: 591 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name  \
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

                                Distance
traj_id DateTime
91732   2009-05-27 14:00:00          NaN
        2009-05-27 20:00:00  1699.244398
        2009-05-28 05:00:00  5632.120064
        2009-05-28 08:00:00  5643.314949
        2009-05-28 14:00:00    32.131494

In [12]:
%%time

# Here, we check the distance between 2 consecutive points
# in the atlantic dataset.
atlantic = spatial.create_distance_column(atlantic)
atlantic.head()

CPU times: user 324 ms, sys: 92.9 ms, total: 417 ms
Wall time: 852 ms

                                             Name      Date  Time Event  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              UNNAMED  18510625     0
         1851-06-25 06:00:00              UNNAMED  18510625   600
         1851-06-25 12:00:00              UNNAMED  18510625  1200
         1851-06-25 18:00:00              UNNAMED  18510625  1800
         1851-06-25 21:00:00              UNNAMED  18510625  2100     L

                             Status   lat   lon  Maximum Wind  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00     HU  28.0 -94.8            80
         1851-06-25 06:00:00     HU  28.0 -95.4            80
         1851-06-25 12:00:00     HU  28.0 -96.0            80
         1851-06-25 18:00:00     HU  28.1 -96.5            80
         1851-06-25 21:00:00     HU  28.2 -96.8            80

                              Minimum Pressure  Low Wind NE  ...  Low Wind NW  \
traj_id  DateTime                                            ...
AL011851 1851-06-25 00:00:00              -999         -999  ...         -999
         1851-06-25 06:00:00              -999         -999  ...         -999
         1851-06-25 12:00:00              -999         -999  ...         -999
         1851-06-25 18:00:00              -999         -999  ...         -999
         1851-06-25 21:00:00              -999         -999  ...         -999

                              Moderate Wind NE  Moderate Wind SE  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              -999              -999
         1851-06-25 06:00:00              -999              -999
         1851-06-25 12:00:00              -999              -999
         1851-06-25 18:00:00              -999              -999
         1851-06-25 21:00:00              -999              -999

                              Moderate Wind SW  Moderate Wind NW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              -999              -999
         1851-06-25 06:00:00              -999              -999
         1851-06-25 12:00:00              -999              -999
         1851-06-25 18:00:00              -999              -999
         1851-06-25 21:00:00              -999              -999

                              High Wind NE  High Wind SE  High Wind SW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999          -999          -999
         1851-06-25 06:00:00          -999          -999          -999
         1851-06-25 12:00:00          -999          -999          -999
         1851-06-25 18:00:00          -999          -999          -999
         1851-06-25 21:00:00          -999          -999          -999

                              High Wind NW      Distance
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999           NaN
         1851-06-25 06:00:00          -999  58907.516366
         1851-06-25 12:00:00          -999  58907.516366
         1851-06-25 18:00:00          -999  50310.976622
         1851-06-25 21:00:00          -999  31444.370265

[5 rows x 22 columns]

In [13]:
%%time

# Now, lets calculate the distance from start to current point for
# each dataset one by one.
# Here, we check the distance between start to all points
# in the geolife dataset.

geolife = spatial.create_distance_from_start_column(geolife)
geolife.head()

CPU times: user 328 ms, sys: 7.73 ms, total: 336 ms
Wall time: 333 ms

                                   lat         lon   Distance  \
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402        NaN
        2008-10-23 05:53:16  39.984211  116.319389   1.821083
        2008-10-23 05:53:21  39.984217  116.319422   2.889671
        2008-10-23 05:53:23  39.984710  116.319865  66.555997
        2008-10-23 05:53:28  39.984674  116.319810   6.162987

                             Distance_from_start
traj_id DateTime
1       2008-10-23 05:53:11                  NaN
        2008-10-23 05:53:16             1.821083
        2008-10-23 05:53:21             1.873356
        2008-10-23 05:53:23            66.906656
        2008-10-23 05:53:28            60.927269

In [14]:
%%time

# Here, we check the distance between start to all points
# in the seagulls dataset.
gulls = spatial.create_distance_from_start_column(gulls)
gulls.head()

CPU times: user 187 ms, sys: 101 ms, total: 288 ms
Wall time: 551 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name  \
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

                                Distance  Distance_from_start
traj_id DateTime
91732   2009-05-27 14:00:00          NaN                  NaN
        2009-05-27 20:00:00  1699.244398          1699.244398
        2009-05-28 05:00:00  5632.120064          7238.295521
        2009-05-28 08:00:00  5643.314949          1682.777895
        2009-05-28 14:00:00    32.131494          1697.111327

In [15]:
%%time

# Here, we check the distance between start to all points
# in the atlantic dataset.
atlantic = spatial.create_distance_from_start_column(atlantic)
atlantic.head()

CPU times: user 371 ms, sys: 140 ms, total: 512 ms
Wall time: 1.07 s

                                             Name      Date  Time Event  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              UNNAMED  18510625     0
         1851-06-25 06:00:00              UNNAMED  18510625   600
         1851-06-25 12:00:00              UNNAMED  18510625  1200
         1851-06-25 18:00:00              UNNAMED  18510625  1800
         1851-06-25 21:00:00              UNNAMED  18510625  2100     L

                             Status   lat   lon  Maximum Wind  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00     HU  28.0 -94.8            80
         1851-06-25 06:00:00     HU  28.0 -95.4            80
         1851-06-25 12:00:00     HU  28.0 -96.0            80
         1851-06-25 18:00:00     HU  28.1 -96.5            80
         1851-06-25 21:00:00     HU  28.2 -96.8            80

                              Minimum Pressure  Low Wind NE  ...  \
traj_id  DateTime                                            ...
AL011851 1851-06-25 00:00:00              -999         -999  ...
         1851-06-25 06:00:00              -999         -999  ...
         1851-06-25 12:00:00              -999         -999  ...
         1851-06-25 18:00:00              -999         -999  ...
         1851-06-25 21:00:00              -999         -999  ...

                              Moderate Wind NE  Moderate Wind SE  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              -999              -999
         1851-06-25 06:00:00              -999              -999
         1851-06-25 12:00:00              -999              -999
         1851-06-25 18:00:00              -999              -999
         1851-06-25 21:00:00              -999              -999

                              Moderate Wind SW  Moderate Wind NW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              -999              -999
         1851-06-25 06:00:00              -999              -999
         1851-06-25 12:00:00              -999              -999
         1851-06-25 18:00:00              -999              -999
         1851-06-25 21:00:00              -999              -999

                              High Wind NE  High Wind SE  High Wind SW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999          -999          -999
         1851-06-25 06:00:00          -999          -999          -999
         1851-06-25 12:00:00          -999          -999          -999
         1851-06-25 18:00:00          -999          -999          -999
         1851-06-25 21:00:00          -999          -999          -999

                              High Wind NW      Distance  Distance_from_start
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999           NaN                  NaN
         1851-06-25 06:00:00          -999  58907.516366         58907.516366
         1851-06-25 12:00:00          -999  58907.516366        117814.676769
         1851-06-25 18:00:00          -999  50310.976622        167196.061925
         1851-06-25 21:00:00          -999  31444.370265        197430.193137

[5 rows x 23 columns]

In [16]:
%%time

# Here, we are calculating the distance travelled in traj_id 1
# on the date 2008-10-23.
spatial.distance_travelled_by_date_and_traj_id(geolife,
                                               '2008-10-23',
                                               '1')

CPU times: user 147 ms, sys: 1.32 ms, total: 149 ms
Wall time: 147 ms

21684.31604215524

In [17]:
%%time

# Now, lets check the distance of all the points
# in the geolife dataset from the coordinates (0, 0).
geolife = spatial.create_distance_from_point_column(geolife,
                                                    (0, 0))
geolife.head()

CPU times: user 381 ms, sys: 193 ms, total: 574 ms
Wall time: 2.34 s

                                   lat         lon   Distance  \
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402        NaN
        2008-10-23 05:53:16  39.984211  116.319389   1.821083
        2008-10-23 05:53:21  39.984217  116.319422   2.889671
        2008-10-23 05:53:23  39.984710  116.319865  66.555997
        2008-10-23 05:53:28  39.984674  116.319810   6.162987

                             Distance_from_start  Distance_from_(0, 0)
traj_id DateTime
1       2008-10-23 05:53:11                  NaN          1.221588e+07
        2008-10-23 05:53:16             1.821083          1.221588e+07
        2008-10-23 05:53:21             1.873356          1.221588e+07
        2008-10-23 05:53:23            66.906656          1.221590e+07
        2008-10-23 05:53:28            60.927269          1.221589e+07

In [18]:
%%time

# Now, lets check if all the points in the geolife dataset
# are within 12000 KMs of the coordinates (0, 0).
geolife = spatial.create_point_within_range_column(geolife,
                                                   (0,0),
                                                   15000000)
geolife.head()

CPU times: user 393 ms, sys: 188 ms, total: 582 ms
Wall time: 2.42 s

                                   lat         lon   Distance  \
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402        NaN
        2008-10-23 05:53:16  39.984211  116.319389   1.821083
        2008-10-23 05:53:21  39.984217  116.319422   2.889671
        2008-10-23 05:53:23  39.984710  116.319865  66.555997
        2008-10-23 05:53:28  39.984674  116.319810   6.162987

                             Distance_from_start  Distance_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                  NaN          1.221588e+07
        2008-10-23 05:53:16             1.821083          1.221588e+07
        2008-10-23 05:53:21             1.873356          1.221588e+07
        2008-10-23 05:53:23            66.906656          1.221590e+07
        2008-10-23 05:53:28            60.927269          1.221589e+07

                             Within_15000000_m
traj_id DateTime
1       2008-10-23 05:53:11               True
        2008-10-23 05:53:16               True
        2008-10-23 05:53:21               True
        2008-10-23 05:53:23               True
        2008-10-23 05:53:28               True

In [19]:
%%time

# Now, lets calculate the speed of the object between 2
# consecutive trajectory points.
# First, we are doing in the geolife dataset.
geolife = spatial.create_speed_column(geolife)
geolife.head()

CPU times: user 266 ms, sys: 20.2 ms, total: 286 ms
Wall time: 278 ms

                                   lat         lon   Distance  \
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402        NaN
        2008-10-23 05:53:16  39.984211  116.319389   1.821083
        2008-10-23 05:53:21  39.984217  116.319422   2.889671
        2008-10-23 05:53:23  39.984710  116.319865  66.555997
        2008-10-23 05:53:28  39.984674  116.319810   6.162987

                             Distance_from_start  Distance_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                  NaN          1.221588e+07
        2008-10-23 05:53:16             1.821083          1.221588e+07
        2008-10-23 05:53:21             1.873356          1.221588e+07
        2008-10-23 05:53:23            66.906656          1.221590e+07
        2008-10-23 05:53:28            60.927269          1.221589e+07

                             Within_15000000_m      Speed
traj_id DateTime
1       2008-10-23 05:53:11               True        NaN
        2008-10-23 05:53:16               True   0.364217
        2008-10-23 05:53:21               True   0.577934
        2008-10-23 05:53:23               True  33.277998
        2008-10-23 05:53:28               True   1.232597

In [20]:
%%time

# Now lets calculate the speed between 2 consecutive
# points in the atlantic dataset.
atlantic = spatial.create_speed_column(atlantic)
atlantic.head()

CPU times: user 114 ms, sys: 4.42 ms, total: 119 ms
Wall time: 116 ms

                                             Name      Date  Time Event  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              UNNAMED  18510625     0
         1851-06-25 06:00:00              UNNAMED  18510625   600
         1851-06-25 12:00:00              UNNAMED  18510625  1200
         1851-06-25 18:00:00              UNNAMED  18510625  1800
         1851-06-25 21:00:00              UNNAMED  18510625  2100     L

                             Status   lat   lon  Maximum Wind  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00     HU  28.0 -94.8            80
         1851-06-25 06:00:00     HU  28.0 -95.4            80
         1851-06-25 12:00:00     HU  28.0 -96.0            80
         1851-06-25 18:00:00     HU  28.1 -96.5            80
         1851-06-25 21:00:00     HU  28.2 -96.8            80

                              Minimum Pressure  Low Wind NE  ...  \
traj_id  DateTime                                            ...
AL011851 1851-06-25 00:00:00              -999         -999  ...
         1851-06-25 06:00:00              -999         -999  ...
         1851-06-25 12:00:00              -999         -999  ...
         1851-06-25 18:00:00              -999         -999  ...
         1851-06-25 21:00:00              -999         -999  ...

                              Moderate Wind SE  Moderate Wind SW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              -999              -999
         1851-06-25 06:00:00              -999              -999
         1851-06-25 12:00:00              -999              -999
         1851-06-25 18:00:00              -999              -999
         1851-06-25 21:00:00              -999              -999

                              Moderate Wind NW  High Wind NE  High Wind SE  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              -999          -999          -999
         1851-06-25 06:00:00              -999          -999          -999
         1851-06-25 12:00:00              -999          -999          -999
         1851-06-25 18:00:00              -999          -999          -999
         1851-06-25 21:00:00              -999          -999          -999

                              High Wind SW  High Wind NW      Distance  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999          -999           NaN
         1851-06-25 06:00:00          -999          -999  58907.516366
         1851-06-25 12:00:00          -999          -999  58907.516366
         1851-06-25 18:00:00          -999          -999  50310.976622
         1851-06-25 21:00:00          -999          -999  31444.370265

                              Distance_from_start     Speed
traj_id  DateTime
AL011851 1851-06-25 00:00:00                  NaN       NaN
         1851-06-25 06:00:00         58907.516366  2.727200
         1851-06-25 12:00:00        117814.676769  2.727200
         1851-06-25 18:00:00        167196.061925  2.329212
         1851-06-25 21:00:00        197430.193137  2.911516

[5 rows x 24 columns]

In [21]:
%%time

# Now lets calculate the speed between 2 consecutive
# points in the seagulls dataset.
gulls = spatial.create_speed_column(gulls)
gulls.head()

CPU times: user 150 ms, sys: 981 µs, total: 151 ms
Wall time: 147 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name  \
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

                                Distance  Distance_from_start     Speed
traj_id DateTime
91732   2009-05-27 14:00:00          NaN                  NaN       NaN
        2009-05-27 20:00:00  1699.244398          1699.244398  0.078669
        2009-05-28 05:00:00  5632.120064          7238.295521  0.173831
        2009-05-28 08:00:00  5643.314949          1682.777895  0.522529
        2009-05-28 14:00:00    32.131494          1697.111327  0.001488

In [22]:
%%time

# Now lets check the acceleration of the object
# between 2 consecutive points.
# First, lets check for the geolife dataset.
geolife = spatial.create_acceleration_column(geolife)
geolife.head()

CPU times: user 222 ms, sys: 8.28 ms, total: 231 ms
Wall time: 225 ms

                                   lat         lon   Distance  \
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402        NaN
        2008-10-23 05:53:16  39.984211  116.319389   1.821083
        2008-10-23 05:53:21  39.984217  116.319422   2.889671
        2008-10-23 05:53:23  39.984710  116.319865  66.555997
        2008-10-23 05:53:28  39.984674  116.319810   6.162987

                             Distance_from_start  Distance_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                  NaN          1.221588e+07
        2008-10-23 05:53:16             1.821083          1.221588e+07
        2008-10-23 05:53:21             1.873356          1.221588e+07
        2008-10-23 05:53:23            66.906656          1.221590e+07
        2008-10-23 05:53:28            60.927269          1.221589e+07

                             Within_15000000_m      Speed  Acceleration
traj_id DateTime
1       2008-10-23 05:53:11               True        NaN           NaN
        2008-10-23 05:53:16               True   0.364217           NaN
        2008-10-23 05:53:21               True   0.577934      0.042744
        2008-10-23 05:53:23               True  33.277998     16.350032
        2008-10-23 05:53:28               True   1.232597     -6.409080

In [23]:
%%time

# Now lets check the acceleration of the gulls dataset.
gulls = spatial.create_acceleration_column(gulls)
gulls.head()

CPU times: user 115 ms, sys: 4.02 ms, total: 119 ms
Wall time: 116 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name  \
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

                                Distance  Distance_from_start     Speed  \
traj_id DateTime
91732   2009-05-27 14:00:00          NaN                  NaN       NaN
        2009-05-27 20:00:00  1699.244398          1699.244398  0.078669
        2009-05-28 05:00:00  5632.120064          7238.295521  0.173831
        2009-05-28 08:00:00  5643.314949          1682.777895  0.522529
        2009-05-28 14:00:00    32.131494          1697.111327  0.001488

                             Acceleration
traj_id DateTime
91732   2009-05-27 14:00:00           NaN
        2009-05-27 20:00:00           NaN
        2009-05-28 05:00:00      0.000003
        2009-05-28 08:00:00      0.000032
        2009-05-28 14:00:00     -0.000024

In [24]:
%%time

# Now lets check the acceleration of the atlantic dataset.
atlantic = spatial.create_acceleration_column(atlantic)
atlantic.head()

CPU times: user 74.4 ms, sys: 0 ns, total: 74.4 ms
Wall time: 72.2 ms

                                             Name      Date  Time Event  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              UNNAMED  18510625     0
         1851-06-25 06:00:00              UNNAMED  18510625   600
         1851-06-25 12:00:00              UNNAMED  18510625  1200
         1851-06-25 18:00:00              UNNAMED  18510625  1800
         1851-06-25 21:00:00              UNNAMED  18510625  2100     L

                             Status   lat   lon  Maximum Wind  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00     HU  28.0 -94.8            80
         1851-06-25 06:00:00     HU  28.0 -95.4            80
         1851-06-25 12:00:00     HU  28.0 -96.0            80
         1851-06-25 18:00:00     HU  28.1 -96.5            80
         1851-06-25 21:00:00     HU  28.2 -96.8            80

                              Minimum Pressure  Low Wind NE  ...  \
traj_id  DateTime                                            ...
AL011851 1851-06-25 00:00:00              -999         -999  ...
         1851-06-25 06:00:00              -999         -999  ...
         1851-06-25 12:00:00              -999         -999  ...
         1851-06-25 18:00:00              -999         -999  ...
         1851-06-25 21:00:00              -999         -999  ...

                              Moderate Wind SW  Moderate Wind NW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              -999              -999
         1851-06-25 06:00:00              -999              -999
         1851-06-25 12:00:00              -999              -999
         1851-06-25 18:00:00              -999              -999
         1851-06-25 21:00:00              -999              -999

                              High Wind NE  High Wind SE  High Wind SW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999          -999          -999
         1851-06-25 06:00:00          -999          -999          -999
         1851-06-25 12:00:00          -999          -999          -999
         1851-06-25 18:00:00          -999          -999          -999
         1851-06-25 21:00:00          -999          -999          -999

                              High Wind NW      Distance  Distance_from_start  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999           NaN                  NaN
         1851-06-25 06:00:00          -999  58907.516366         58907.516366
         1851-06-25 12:00:00          -999  58907.516366        117814.676769
         1851-06-25 18:00:00          -999  50310.976622        167196.061925
         1851-06-25 21:00:00          -999  31444.370265        197430.193137

                                 Speed  Acceleration
traj_id  DateTime
AL011851 1851-06-25 00:00:00       NaN           NaN
         1851-06-25 06:00:00  2.727200           NaN
         1851-06-25 12:00:00  2.727200 -2.672759e-18
         1851-06-25 18:00:00  2.329212 -1.842537e-05
         1851-06-25 21:00:00  2.911516  5.391703e-05

[5 rows x 25 columns]

In [25]:
%%time

# Now lets check the jerk of the object between 2 consecutive
# points.
# First, we will do it for the geolife dataset.
geolife = spatial.create_jerk_column(geolife)
geolife.head()

CPU times: user 213 ms, sys: 8.19 ms, total: 221 ms
Wall time: 217 ms

                                   lat         lon   Distance  \
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402        NaN
        2008-10-23 05:53:16  39.984211  116.319389   1.821083
        2008-10-23 05:53:21  39.984217  116.319422   2.889671
        2008-10-23 05:53:23  39.984710  116.319865  66.555997
        2008-10-23 05:53:28  39.984674  116.319810   6.162987

                             Distance_from_start  Distance_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                  NaN          1.221588e+07
        2008-10-23 05:53:16             1.821083          1.221588e+07
        2008-10-23 05:53:21             1.873356          1.221588e+07
        2008-10-23 05:53:23            66.906656          1.221590e+07
        2008-10-23 05:53:28            60.927269          1.221589e+07

                             Within_15000000_m      Speed  Acceleration  \
traj_id DateTime
1       2008-10-23 05:53:11               True        NaN           NaN
        2008-10-23 05:53:16               True   0.364217           NaN
        2008-10-23 05:53:21               True   0.577934      0.042744
        2008-10-23 05:53:23               True  33.277998     16.350032
        2008-10-23 05:53:28               True   1.232597     -6.409080

                                 Jerk
traj_id DateTime
1       2008-10-23 05:53:11       NaN
        2008-10-23 05:53:16       NaN
        2008-10-23 05:53:21       NaN
        2008-10-23 05:53:23  8.153644
        2008-10-23 05:53:28 -4.551822

In [26]:
%%time

# Now lets check the jerk for the atlantic dataset.
atlantic = spatial.create_jerk_column(atlantic)
atlantic.head()

CPU times: user 104 ms, sys: 584 µs, total: 104 ms
Wall time: 102 ms

                                             Name      Date  Time Event  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              UNNAMED  18510625     0
         1851-06-25 06:00:00              UNNAMED  18510625   600
         1851-06-25 12:00:00              UNNAMED  18510625  1200
         1851-06-25 18:00:00              UNNAMED  18510625  1800
         1851-06-25 21:00:00              UNNAMED  18510625  2100     L

                             Status   lat   lon  Maximum Wind  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00     HU  28.0 -94.8            80
         1851-06-25 06:00:00     HU  28.0 -95.4            80
         1851-06-25 12:00:00     HU  28.0 -96.0            80
         1851-06-25 18:00:00     HU  28.1 -96.5            80
         1851-06-25 21:00:00     HU  28.2 -96.8            80

                              Minimum Pressure  Low Wind NE  ...  \
traj_id  DateTime                                            ...
AL011851 1851-06-25 00:00:00              -999         -999  ...
         1851-06-25 06:00:00              -999         -999  ...
         1851-06-25 12:00:00              -999         -999  ...
         1851-06-25 18:00:00              -999         -999  ...
         1851-06-25 21:00:00              -999         -999  ...

                              Moderate Wind NW  High Wind NE  High Wind SE  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              -999          -999          -999
         1851-06-25 06:00:00              -999          -999          -999
         1851-06-25 12:00:00              -999          -999          -999
         1851-06-25 18:00:00              -999          -999          -999
         1851-06-25 21:00:00              -999          -999          -999

                              High Wind SW  High Wind NW      Distance  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999          -999           NaN
         1851-06-25 06:00:00          -999          -999  58907.516366
         1851-06-25 12:00:00          -999          -999  58907.516366
         1851-06-25 18:00:00          -999          -999  50310.976622
         1851-06-25 21:00:00          -999          -999  31444.370265

                              Distance_from_start     Speed  Acceleration  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00                  NaN       NaN           NaN
         1851-06-25 06:00:00         58907.516366  2.727200           NaN
         1851-06-25 12:00:00        117814.676769  2.727200 -2.672759e-18
         1851-06-25 18:00:00        167196.061925  2.329212 -1.842537e-05
         1851-06-25 21:00:00        197430.193137  2.911516  5.391703e-05

                                      Jerk
traj_id  DateTime
AL011851 1851-06-25 00:00:00           NaN
         1851-06-25 06:00:00           NaN
         1851-06-25 12:00:00           NaN
         1851-06-25 18:00:00 -8.530263e-10
         1851-06-25 21:00:00  6.698370e-09

[5 rows x 26 columns]

In [27]:
%%time

# Now, lets check the jerk for the seagulls dataset.
gulls = spatial.create_jerk_column(gulls)
gulls.head()

CPU times: user 154 ms, sys: 4.16 ms, total: 158 ms
Wall time: 156 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name  \
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

                                Distance  Distance_from_start     Speed  \
traj_id DateTime
91732   2009-05-27 14:00:00          NaN                  NaN       NaN
        2009-05-27 20:00:00  1699.244398          1699.244398  0.078669
        2009-05-28 05:00:00  5632.120064          7238.295521  0.173831
        2009-05-28 08:00:00  5643.314949          1682.777895  0.522529
        2009-05-28 14:00:00    32.131494          1697.111327  0.001488

                             Acceleration          Jerk
traj_id DateTime
91732   2009-05-27 14:00:00           NaN           NaN
        2009-05-27 20:00:00           NaN           NaN
        2009-05-28 05:00:00      0.000003           NaN
        2009-05-28 08:00:00      0.000032  2.717572e-09
        2009-05-28 14:00:00     -0.000024 -2.611536e-09

In [28]:
%%time

# Now lets check the bearing between 2 consecutive
# points.
# First, we will do it for the geolife dataset.
geolife = spatial.create_bearing_column(geolife)
geolife.head()

CPU times: user 294 ms, sys: 4.82 ms, total: 299 ms
Wall time: 297 ms

                                   lat         lon   Distance  \
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402        NaN
        2008-10-23 05:53:16  39.984211  116.319389   1.821083
        2008-10-23 05:53:21  39.984217  116.319422   2.889671
        2008-10-23 05:53:23  39.984710  116.319865  66.555997
        2008-10-23 05:53:28  39.984674  116.319810   6.162987

                             Distance_from_start  Distance_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                  NaN          1.221588e+07
        2008-10-23 05:53:16             1.821083          1.221588e+07
        2008-10-23 05:53:21             1.873356          1.221588e+07
        2008-10-23 05:53:23            66.906656          1.221590e+07
        2008-10-23 05:53:28            60.927269          1.221589e+07

                             Within_15000000_m      Speed  Acceleration  \
traj_id DateTime
1       2008-10-23 05:53:11               True        NaN           NaN
        2008-10-23 05:53:16               True   0.364217           NaN
        2008-10-23 05:53:21               True   0.577934      0.042744
        2008-10-23 05:53:23               True  33.277998     16.350032
        2008-10-23 05:53:28               True   1.232597     -6.409080

                                 Jerk     Bearing
traj_id DateTime
1       2008-10-23 05:53:11       NaN         NaN
        2008-10-23 05:53:16       NaN  217.460115
        2008-10-23 05:53:21       NaN   76.651056
        2008-10-23 05:53:23  8.153644   34.547615
        2008-10-23 05:53:28 -4.551822  229.494179

In [29]:
%%time

# Now lets check the bearing for the atlantic dataset.
atlantic = spatial.create_bearing_column(atlantic)
atlantic.head()

CPU times: user 365 ms, sys: 129 ms, total: 494 ms
Wall time: 939 ms

                                             Name      Date  Time Event  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              UNNAMED  18510625     0
         1851-06-25 06:00:00              UNNAMED  18510625   600
         1851-06-25 12:00:00              UNNAMED  18510625  1200
         1851-06-25 18:00:00              UNNAMED  18510625  1800
         1851-06-25 21:00:00              UNNAMED  18510625  2100     L

                             Status   lat   lon  Maximum Wind  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00     HU  28.0 -94.8            80
         1851-06-25 06:00:00     HU  28.0 -95.4            80
         1851-06-25 12:00:00     HU  28.0 -96.0            80
         1851-06-25 18:00:00     HU  28.1 -96.5            80
         1851-06-25 21:00:00     HU  28.2 -96.8            80

                              Minimum Pressure  Low Wind NE  ...  \
traj_id  DateTime                                            ...
AL011851 1851-06-25 00:00:00              -999         -999  ...
         1851-06-25 06:00:00              -999         -999  ...
         1851-06-25 12:00:00              -999         -999  ...
         1851-06-25 18:00:00              -999         -999  ...
         1851-06-25 21:00:00              -999         -999  ...

                              High Wind NE  High Wind SE  High Wind SW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999          -999          -999
         1851-06-25 06:00:00          -999          -999          -999
         1851-06-25 12:00:00          -999          -999          -999
         1851-06-25 18:00:00          -999          -999          -999
         1851-06-25 21:00:00          -999          -999          -999

                              High Wind NW      Distance  Distance_from_start  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999           NaN                  NaN
         1851-06-25 06:00:00          -999  58907.516366         58907.516366
         1851-06-25 12:00:00          -999  58907.516366        117814.676769
         1851-06-25 18:00:00          -999  50310.976622        167196.061925
         1851-06-25 21:00:00          -999  31444.370265        197430.193137

                                 Speed  Acceleration          Jerk     Bearing
traj_id  DateTime
AL011851 1851-06-25 00:00:00       NaN           NaN           NaN         NaN
         1851-06-25 06:00:00  2.727200           NaN           NaN  270.140842
         1851-06-25 12:00:00  2.727200 -2.672759e-18           NaN  270.140842
         1851-06-25 18:00:00  2.329212 -1.842537e-05 -8.530263e-10  282.886140
         1851-06-25 21:00:00  2.911516  5.391703e-05  6.698370e-09  290.779865

[5 rows x 27 columns]

In [30]:
%%time

# Now lets check the bearing for the seagulls dataset.
gulls = spatial.create_bearing_column(gulls)
gulls.head()

CPU times: user 329 ms, sys: 146 ms, total: 474 ms
Wall time: 817 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name  \
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

                                Distance  Distance_from_start     Speed  \
traj_id DateTime
91732   2009-05-27 14:00:00          NaN                  NaN       NaN
        2009-05-27 20:00:00  1699.244398          1699.244398  0.078669
        2009-05-28 05:00:00  5632.120064          7238.295521  0.173831
        2009-05-28 08:00:00  5643.314949          1682.777895  0.522529
        2009-05-28 14:00:00    32.131494          1697.111327  0.001488

                             Acceleration          Jerk     Bearing
traj_id DateTime
91732   2009-05-27 14:00:00           NaN           NaN         NaN
        2009-05-27 20:00:00           NaN           NaN  187.236713
        2009-05-28 05:00:00      0.000003           NaN  208.929407
        2009-05-28 08:00:00      0.000032  2.717572e-09   28.716637
        2009-05-28 14:00:00     -0.000024 -2.611536e-09  123.620959

In [31]:
%%time

# Now, lets calculate the bearing rate between 2 consecutive points.
# First, we will do it for the geolife dataset.
geolife = spatial.create_bearing_rate_column(geolife)
geolife.head()

CPU times: user 243 ms, sys: 31.7 ms, total: 275 ms
Wall time: 271 ms

                                   lat         lon   Distance  \
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402        NaN
        2008-10-23 05:53:16  39.984211  116.319389   1.821083
        2008-10-23 05:53:21  39.984217  116.319422   2.889671
        2008-10-23 05:53:23  39.984710  116.319865  66.555997
        2008-10-23 05:53:28  39.984674  116.319810   6.162987

                             Distance_from_start  Distance_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                  NaN          1.221588e+07
        2008-10-23 05:53:16             1.821083          1.221588e+07
        2008-10-23 05:53:21             1.873356          1.221588e+07
        2008-10-23 05:53:23            66.906656          1.221590e+07
        2008-10-23 05:53:28            60.927269          1.221589e+07

                             Within_15000000_m      Speed  Acceleration  \
traj_id DateTime
1       2008-10-23 05:53:11               True        NaN           NaN
        2008-10-23 05:53:16               True   0.364217           NaN
        2008-10-23 05:53:21               True   0.577934      0.042744
        2008-10-23 05:53:23               True  33.277998     16.350032
        2008-10-23 05:53:28               True   1.232597     -6.409080

                                 Jerk     Bearing  Bearing_Rate
traj_id DateTime
1       2008-10-23 05:53:11       NaN         NaN           NaN
        2008-10-23 05:53:16       NaN  217.460115           NaN
        2008-10-23 05:53:21       NaN   76.651056    -28.161812
        2008-10-23 05:53:23  8.153644   34.547615    -21.051721
        2008-10-23 05:53:28 -4.551822  229.494179     38.989313

In [32]:
%%time

# Now lets calculate the bearing rate for the atlantic dataset.
atlantic = spatial.create_bearing_rate_column(atlantic)
atlantic.head()

CPU times: user 120 ms, sys: 609 µs, total: 121 ms
Wall time: 119 ms

                                             Name      Date  Time Event  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              UNNAMED  18510625     0
         1851-06-25 06:00:00              UNNAMED  18510625   600
         1851-06-25 12:00:00              UNNAMED  18510625  1200
         1851-06-25 18:00:00              UNNAMED  18510625  1800
         1851-06-25 21:00:00              UNNAMED  18510625  2100     L

                             Status   lat   lon  Maximum Wind  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00     HU  28.0 -94.8            80
         1851-06-25 06:00:00     HU  28.0 -95.4            80
         1851-06-25 12:00:00     HU  28.0 -96.0            80
         1851-06-25 18:00:00     HU  28.1 -96.5            80
         1851-06-25 21:00:00     HU  28.2 -96.8            80

                              Minimum Pressure  Low Wind NE  ...  \
traj_id  DateTime                                            ...
AL011851 1851-06-25 00:00:00              -999         -999  ...
         1851-06-25 06:00:00              -999         -999  ...
         1851-06-25 12:00:00              -999         -999  ...
         1851-06-25 18:00:00              -999         -999  ...
         1851-06-25 21:00:00              -999         -999  ...

                              High Wind SE  High Wind SW  High Wind NW  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999          -999          -999
         1851-06-25 06:00:00          -999          -999          -999
         1851-06-25 12:00:00          -999          -999          -999
         1851-06-25 18:00:00          -999          -999          -999
         1851-06-25 21:00:00          -999          -999          -999

                                  Distance  Distance_from_start     Speed  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00           NaN                  NaN       NaN
         1851-06-25 06:00:00  58907.516366         58907.516366  2.727200
         1851-06-25 12:00:00  58907.516366        117814.676769  2.727200
         1851-06-25 18:00:00  50310.976622        167196.061925  2.329212
         1851-06-25 21:00:00  31444.370265        197430.193137  2.911516

                              Acceleration          Jerk     Bearing  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00           NaN           NaN         NaN
         1851-06-25 06:00:00           NaN           NaN  270.140842
         1851-06-25 12:00:00 -2.672759e-18           NaN  270.140842
         1851-06-25 18:00:00 -1.842537e-05 -8.530263e-10  282.886140
         1851-06-25 21:00:00  5.391703e-05  6.698370e-09  290.779865

                              Bearing_Rate
traj_id  DateTime
AL011851 1851-06-25 00:00:00           NaN
         1851-06-25 06:00:00           NaN
         1851-06-25 12:00:00      0.000000
         1851-06-25 18:00:00      0.000590
         1851-06-25 21:00:00      0.000731

[5 rows x 28 columns]

In [33]:
%%time

# Now lets calculate the bearing rate for the seagulls dataset.
gulls = spatial.create_bearing_rate_column(gulls)
gulls.head()

CPU times: user 182 ms, sys: 0 ns, total: 182 ms
Wall time: 177 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name  \
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

                                Distance  Distance_from_start     Speed  \
traj_id DateTime
91732   2009-05-27 14:00:00          NaN                  NaN       NaN
        2009-05-27 20:00:00  1699.244398          1699.244398  0.078669
        2009-05-28 05:00:00  5632.120064          7238.295521  0.173831
        2009-05-28 08:00:00  5643.314949          1682.777895  0.522529
        2009-05-28 14:00:00    32.131494          1697.111327  0.001488

                             Acceleration          Jerk     Bearing  \
traj_id DateTime
91732   2009-05-27 14:00:00           NaN           NaN         NaN
        2009-05-27 20:00:00           NaN           NaN  187.236713
        2009-05-28 05:00:00      0.000003           NaN  208.929407
        2009-05-28 08:00:00      0.000032  2.717572e-09   28.716637
        2009-05-28 14:00:00     -0.000024 -2.611536e-09  123.620959

                             Bearing_Rate
traj_id DateTime
91732   2009-05-27 14:00:00           NaN
        2009-05-27 20:00:00           NaN
        2009-05-28 05:00:00      0.000670
        2009-05-28 08:00:00     -0.016686
        2009-05-28 14:00:00      0.004394

In [34]:
%%time

# Now, lets calculate the rate of bearing rate between 2
# consecutive points.
geolife = spatial.create_rate_of_br_column(geolife)
geolife.head()

CPU times: user 231 ms, sys: 35.6 ms, total: 267 ms
Wall time: 263 ms

                                   lat         lon   Distance  \
traj_id DateTime
1       2008-10-23 05:53:11  39.984224  116.319402        NaN
        2008-10-23 05:53:16  39.984211  116.319389   1.821083
        2008-10-23 05:53:21  39.984217  116.319422   2.889671
        2008-10-23 05:53:23  39.984710  116.319865  66.555997
        2008-10-23 05:53:28  39.984674  116.319810   6.162987

                             Distance_from_start  Distance_from_(0, 0)  \
traj_id DateTime
1       2008-10-23 05:53:11                  NaN          1.221588e+07
        2008-10-23 05:53:16             1.821083          1.221588e+07
        2008-10-23 05:53:21             1.873356          1.221588e+07
        2008-10-23 05:53:23            66.906656          1.221590e+07
        2008-10-23 05:53:28            60.927269          1.221589e+07

                             Within_15000000_m      Speed  Acceleration  \
traj_id DateTime
1       2008-10-23 05:53:11               True        NaN           NaN
        2008-10-23 05:53:16               True   0.364217           NaN
        2008-10-23 05:53:21               True   0.577934      0.042744
        2008-10-23 05:53:23               True  33.277998     16.350032
        2008-10-23 05:53:28               True   1.232597     -6.409080

                                 Jerk     Bearing  Bearing_Rate  \
traj_id DateTime
1       2008-10-23 05:53:11       NaN         NaN           NaN
        2008-10-23 05:53:16       NaN  217.460115           NaN
        2008-10-23 05:53:21       NaN   76.651056    -28.161812
        2008-10-23 05:53:23  8.153644   34.547615    -21.051721
        2008-10-23 05:53:28 -4.551822  229.494179     38.989313

                             Rate_of_bearing_rate
traj_id DateTime
1       2008-10-23 05:53:11                   NaN
        2008-10-23 05:53:16                   NaN
        2008-10-23 05:53:21                   NaN
        2008-10-23 05:53:23              3.555046
        2008-10-23 05:53:28             12.008207

In [35]:
%%time

# Now, lets calculate the rate of bearing rate for the atlantic
# dataset.
atlantic = spatial.create_rate_of_br_column(atlantic)
atlantic.head()

CPU times: user 80.1 ms, sys: 0 ns, total: 80.1 ms
Wall time: 77.8 ms

                                             Name      Date  Time Event  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00              UNNAMED  18510625     0
         1851-06-25 06:00:00              UNNAMED  18510625   600
         1851-06-25 12:00:00              UNNAMED  18510625  1200
         1851-06-25 18:00:00              UNNAMED  18510625  1800
         1851-06-25 21:00:00              UNNAMED  18510625  2100     L

                             Status   lat   lon  Maximum Wind  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00     HU  28.0 -94.8            80
         1851-06-25 06:00:00     HU  28.0 -95.4            80
         1851-06-25 12:00:00     HU  28.0 -96.0            80
         1851-06-25 18:00:00     HU  28.1 -96.5            80
         1851-06-25 21:00:00     HU  28.2 -96.8            80

                              Minimum Pressure  Low Wind NE  ...  \
traj_id  DateTime                                            ...
AL011851 1851-06-25 00:00:00              -999         -999  ...
         1851-06-25 06:00:00              -999         -999  ...
         1851-06-25 12:00:00              -999         -999  ...
         1851-06-25 18:00:00              -999         -999  ...
         1851-06-25 21:00:00              -999         -999  ...

                              High Wind SW  High Wind NW      Distance  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00          -999          -999           NaN
         1851-06-25 06:00:00          -999          -999  58907.516366
         1851-06-25 12:00:00          -999          -999  58907.516366
         1851-06-25 18:00:00          -999          -999  50310.976622
         1851-06-25 21:00:00          -999          -999  31444.370265

                              Distance_from_start     Speed  Acceleration  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00                  NaN       NaN           NaN
         1851-06-25 06:00:00         58907.516366  2.727200           NaN
         1851-06-25 12:00:00        117814.676769  2.727200 -2.672759e-18
         1851-06-25 18:00:00        167196.061925  2.329212 -1.842537e-05
         1851-06-25 21:00:00        197430.193137  2.911516  5.391703e-05

                                      Jerk     Bearing  Bearing_Rate  \
traj_id  DateTime
AL011851 1851-06-25 00:00:00           NaN         NaN           NaN
         1851-06-25 06:00:00           NaN  270.140842           NaN
         1851-06-25 12:00:00           NaN  270.140842      0.000000
         1851-06-25 18:00:00 -8.530263e-10  282.886140      0.000590
         1851-06-25 21:00:00  6.698370e-09  290.779865      0.000731

                              Rate_of_bearing_rate
traj_id  DateTime
AL011851 1851-06-25 00:00:00                   NaN
         1851-06-25 06:00:00                   NaN
         1851-06-25 12:00:00                   NaN
         1851-06-25 18:00:00          2.731760e-08
         1851-06-25 21:00:00          1.304079e-08

[5 rows x 29 columns]

In [36]:
%%time

# Now lets calculate the rate of bearing rate for the seagulls
# dataset.
gulls = spatial.create_rate_of_br_column(gulls)
gulls.head()

CPU times: user 128 ms, sys: 0 ns, total: 128 ms
Wall time: 125 ms

                               event-id  visible       lon       lat  \
traj_id DateTime
91732   2009-05-27 14:00:00  1082620685     True  24.58617  61.24783
        2009-05-27 20:00:00  1082620686     True  24.58217  61.23267
        2009-05-28 05:00:00  1082620687     True  24.53133  61.18833
        2009-05-28 08:00:00  1082620688     True  24.58200  61.23283
        2009-05-28 14:00:00  1082620689     True  24.58250  61.23267

                            sensor-type individual-taxon-canonical-name  \
traj_id DateTime
91732   2009-05-27 14:00:00         gps                    Larus fuscus
        2009-05-27 20:00:00         gps                    Larus fuscus
        2009-05-28 05:00:00         gps                    Larus fuscus
        2009-05-28 08:00:00         gps                    Larus fuscus
        2009-05-28 14:00:00         gps                    Larus fuscus

                            individual-local-identifier  \
traj_id DateTime
91732   2009-05-27 14:00:00                      91732A
        2009-05-27 20:00:00                      91732A
        2009-05-28 05:00:00                      91732A
        2009-05-28 08:00:00                      91732A
        2009-05-28 14:00:00                      91732A

                                                                    study-name  \
traj_id DateTime
91732   2009-05-27 14:00:00  Navigation experiments in lesser black-backed ...
        2009-05-27 20:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 05:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 08:00:00  Navigation experiments in lesser black-backed ...
        2009-05-28 14:00:00  Navigation experiments in lesser black-backed ...

                                Distance  Distance_from_start     Speed  \
traj_id DateTime
91732   2009-05-27 14:00:00          NaN                  NaN       NaN
        2009-05-27 20:00:00  1699.244398          1699.244398  0.078669
        2009-05-28 05:00:00  5632.120064          7238.295521  0.173831
        2009-05-28 08:00:00  5643.314949          1682.777895  0.522529
        2009-05-28 14:00:00    32.131494          1697.111327  0.001488

                             Acceleration          Jerk     Bearing  \
traj_id DateTime
91732   2009-05-27 14:00:00           NaN           NaN         NaN
        2009-05-27 20:00:00           NaN           NaN  187.236713
        2009-05-28 05:00:00      0.000003           NaN  208.929407
        2009-05-28 08:00:00      0.000032  2.717572e-09   28.716637
        2009-05-28 14:00:00     -0.000024 -2.611536e-09  123.620959

                             Bearing_Rate  Rate_of_bearing_rate
traj_id DateTime
91732   2009-05-27 14:00:00           NaN                   NaN
        2009-05-27 20:00:00           NaN                   NaN
        2009-05-28 05:00:00      0.000670                   NaN
        2009-05-28 08:00:00     -0.016686         -1.607027e-06
        2009-05-28 14:00:00      0.004394          9.759299e-07

In [37]:
%%time

# Now, lets get the start locations of all the trajectories
# in the atlantic dataset.
spatial.get_start_location(atlantic)

CPU times: user 394 ms, sys: 270 ms, total: 664 ms
Wall time: 3.36 s

           lat   lon
traj_id
AL091869  17.0 -67.5
AL051867  17.0 -58.0
AL041862  13.0 -61.0
AL011870  30.5 -88.0
AL011858  19.0 -85.5
...        ...   ...
AL041926  13.8 -41.2
AL142012  15.5 -38.0
AL201969  16.0 -47.0
AL141971  25.5 -71.5
AL031899  11.7 -31.0

[1814 rows x 2 columns]

In [38]:
%%time

# Now, lets get the end location of a specific trajectory
# from the atlantic dataset.
spatial.get_end_location(atlantic, 'AL011851')

CPU times: user 19.7 ms, sys: 3.95 ms, total: 23.7 ms
Wall time: 21.5 ms

(31.0, -100.2)

In [39]:
%%time

# Now, lets get the distance travelled by a specific trajectory
# in the atlantic dataset.
spatial.get_distance_travelled_by_traj_id(atlantic, 'AL011851')

CPU times: user 23.6 ms, sys: 3.92 ms, total: 27.5 ms
Wall time: 25.6 ms

716547.1062403042

In [40]:
%%time

# Now, lets get the number of unique locations visited by
# all the trajectories in the atlantic dataset.
spatial.get_number_of_locations(atlantic)

CPU times: user 472 ms, sys: 225 ms, total: 697 ms
Wall time: 2.66 s

          Number of Unique Coordinates
traj_id
AL091869                             1
AL051867                             1
AL041862                             1
AL011870                             1
AL011858                             1
...                                ...
AL041926                            95
AL142012                            96
AL201969                            99
AL141971                           118
AL031899                           133

[1814 rows x 1 columns]

In [41]:
end = time.time()
print(f"Total execution time is {end - start} seconds.")

Total execution time is 39.49473285675049 seconds.